<div class="model-project-common enterprise-add-model model-cost-account" id="enterpriseType">
    <div style="position: relative;min-height: 200px" class="model-section model-border-radius ">
        <div class="clearfix">
            <div class="fl" style="margin-top: 5px;">
                <i class="icon-fill-in" style="color: #dd6f0b;font-style: normal;font-size: 14px;vertical-align: middle;">*</i>
                <label style="font-size: 14px;" class="title-small title-inline-label">内容 :</label>
            </div>
            <textarea placeholder="请输入内容" class="int int-default int-large44 fl" name="requireDesc" style="width: 370px;height:120px;resize: none;margin-left: 4px;
                      padding: 5px;
                      line-height: 1.5;color: #5b5b5b"></textarea>
        </div>
        <div style="border-top: 1px solid #eee;padding-top: 10px;position: absolute;bottom: 10px;right: 0;width: 484px;padding-right: 20px;" class="model-section-btn">
            <span style="margin-right: 7px;" class="span-btn confirm">确定</span>
            <span class="span-btn span-btn-bc confirm-active" data-model-close>取消</span>
        </div>
    </div>
</div>