<div class="">
    <div class="table-content" style="width: 500px;max-height: 400px;padding: 15px 0px;">
        <table>
            <thead>
                <tr class="small">
                    <th class="border" style="width: 45px;"><input type="checkbox"></th>
                    <th class="border" style="width: 60px;">序号</th>
                    <th class="border">内容</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
    <div class="model-footer" style="border-top: 1px solid #e9e9e9;text-align: right;padding: 10px 15px 10px 0;">
        <span class="span-btn confirm">确认</span>
        <span class="span-btn span-btn-bc confirm-active" data-model-close>取消</span>
    </div>
</div>