
<div class="bidslist-container">
    <div style="margin-bottom: 5px" class="entpName"></div>
    <div>
        <label>投标总价 : </label>
        <span class="biddingMoney"></span>
        <label>管理员 : </label>
        <span class="contactName"></span>
        <label>联系电话 : </label>
        <span class="phone"></span>
    </div>
    <div class="table-content">
        <table>
            <thead>
                <tr class="small">
                    <th class="border" style="width: 45px;">序号</th>
                    <th class="border">材料名称</th>
                    <th class="border">规格型号</th>
                    <th class="border">单位</th>
                    <th class="border">数量</th>
                    <th class="border">说明</th>
                    <th class="border">投标单价</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
    <div class="bid-remark-container clearfix" style="width: 800px;">
        <label class="fl">投标说明 : </label>
        <div class="fl bid-remark" style="margin-left: 5px;"></div>
    </div>
</div>
<div class="model-footer" style="border-top: 1px solid #e9e9e9;text-align: right;padding: 10px 25px 10px 0;">
    <span class="span-btn span-btn-bc confirm-active" data-model-close="">取消</span>
</div>