<div class="model-project-common"
     style="position: absolute;width: 382px;z-index: 200;top: 42px;right: 80px;box-shadow: 0 0 3px 1px #bebebe;">
    <div class="model-header" style="position: relative;">
        <span class="project-title">申请金额</span>
        <span class="icon-close"></span>
        <div class="icon-triangle-top"></div>
        <div class="icon-triangle-top fff"></div>
    </div>
    <div class="model-section">
        <div class="modal-form">
            <div class="item">
                <label class="bold-title label-block" style="width: 100px"><i class="icon-fill-in">*</i>申请单名称:</label>
                <input class="int int-default costName" placeholder="请填写申请单名称" style="width: 214px" />
            </div>
            <div class="item">
                <label class="bold-title label-block" style="width: 100px"><i class="icon-fill-in">*</i>本次支付金额:</label>
                <input class="int int-default billMoney" placeholder="请填写本次支付金额" style="width: 214px" />
            </div>
            <div class="item">
                <label class="bold-title label-block" style="width: 100px"><i class="icon-fill-in">*</i>本次提供税票:</label>
                <input class="int int-default taxMoney" placeholder="请填写本次提供税票" style="width: 214px" />
            </div>
        </div>
    </div>
    <div class="model-footer">
        <span class="span-btn confirm">确认</span>
    </div>
</div>