<div class="model-section" style="padding: 15px 0px;">
    <div style="max-height: 400px;overflow: auto;" class="table-content">
        <table>
            <thead>
                <tr>
                    <th class="border" style="width: 45px;">选项</th>
                    <th class="border" style="width: 80px;">款项来源</th>
                    <th class="border" style="width: 200px;">费用单编号</th>
                    <th class="border" style="width: 200px;">费用单名称</th>
                    <th class="border" style="width: 200px;">合同(供应)方</th>
                    <th class="border" style="width: 85px;">结算金额</th>
                    <th class="border" style="width: 85px;">应付款余额</th>
                    <th class="border" style="width: 80px;">查看</th>
                </tr>
            </thead>
            <tbody id="approvalFundTable"></tbody>
        </table>
    </div>
</div>
<div class="model-footer" style="text-align: right;border-top: 1px solid #eee;padding: 10px 20px 10px 0px;">
    <span class="span-btn confirm">确定</span>
    <span class="span-btn span-btn-bc confirm-active" data-model-close="">取消</span>
</div>