<div class="model-project-common" style="width: 752px;">
    <div class="model-section">
        <div class="modal-form">
            <div class="item">
                <label class="bold-title">所属分部:</label>
                <select class="int int-default" style="width: 372px;">
                    <option value="a">单击选择</option>
                </select>
                <label class="bold-title">费用类别:</label>
                <select class="int int-default int-small14">
                    <option value="a">单击选择</option>
                </select>
            </div>
            <div class="item">
                <label class="bold-title">费用名称:</label>
                <input type="text" placeholder="请填写费用名称" class="int int-default" style="width: 372px;"/>
                <label class="bold-title">报销金额:</label>
                <input type="text" placeholder="请填写报销比例" class="int int-default int-small14"/>
            </div>
            <div class="item">
                <label class="bold-title" style="float: left">费用说明:</label>
                <textarea class="int int-default" style="width: 572px;height: 80px;resize: none;margin-left: 4px"></textarea>
            </div>
            <div class="item">
                <label class="bold-title">收据合计:</label>
                <input class="int int-default int-small14" />
                <label>共</label>
                <input class="int int-default int-small">
                <label>张</label>
            </div>
            <div class="item">
                <label class="bold-title">税票合计:</label>
                <input class="int int-default int-small14" />
                <label>共</label>
                <input class="int int-default int-small">
                <label>张</label>
            </div>
        </div>
    </div>
    <div class="model-footer">
        <span class="span-btn">确认</span>
        <span class="span-btn span-btn-bc confirm-active">取消</span>
    </div>
</div>