<!--材料管理报销单-->
<div class="model-project-common" style="width:640px;">
    <div class="model-section">
        <!-- <div style="text-align: center;font-weight: bold;margin-bottom: 10px;">材料管理(实付款无合同)费用报销单</div> -->
        <div style="text-align: center;font-weight: bold;margin-bottom: 10px;">材料采购(采购支付)费用报销单</div>
        <div class="table-content" style="margin: 0;">
            <table>
                <tbody>
                <tr class="small">
                    <td class="border" style="width: 80px;font-weight: bold">分部名称</td>
                    <td class="border subProjName " colspan="3"></td>
                </tr>
                <tr class="small">
                    <td class="border" style="font-weight: bold">费用名称</td>
                    <td class="border costName"></td>
                    <td class="border" style="width: 80px; font-weight: bold">费用单编号</td>
                    <td class="border costNo"></td>
                </tr>
                <tr class="small">
                    <td class="border" style="font-weight: bold">材料单名称</td>
                    <td class="border mtrlPlanName"></td>
                    <td class="border" style="font-weight: bold">材料单编号</td>
                    <td class="border mtrlPlanNo"></td>
                </tr>
                <tr class="small">
                    <td class="border" style="font-weight: bold">采购负责人</td>
                    <td class="border prchUserName"></td>
                    <td class="border" style="font-weight: bold">报销人</td>
                    <td class="border recObjName"></td>
                </tr>
                <tr class="small">
                    <td class="border" style="font-weight: bold">总金额</td>
                    <td class="border costMoney"></td>
                    <td class="border" style="font-weight: bold">含税金额</td>
                    <td class="border taxMoney"></td>
                </tr>
                <tr class="small">
                    <td class="border" style="font-weight: bold">备忘</td>
                    <td class="border costRemark" colspan="3"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="model-footer">
        <span class="span-btn span-btn-bc confirm-active" data-model-close>返回</span>
    </div>
</div>