<div class="model-project-common" style="width:862px">
    <div class="table-content" style="height: 342px;overflow-y: auto;padding: 20px 0">
        <table>
            <thead>
            <tr class="small">
                <th class="border">序号</th>
                <th class="border">付款时间</th>
                <th class="border">款项来源</th>
                <th class="border">费用单号</th>
                <th class="border">款项申请人</th>
                <th class="border">申请单名称</th>
                <th class="border">支付金额</th>
                <th class="border">提供税票</th>
            </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
    <div class="model-footer">
        <span class="span-btn span-btn-bc confirm-active" data-model-close>返回</span>
    </div>
</div>