<div class="model-project-common" style="width:664px">
    <div class="table-content" style="height: 342px;overflow-y: auto;padding: 20px 0">
        <table>
            <thead>
            <tr class="small">
                <th class="border">分部名称</th>
                <th class="border">预期结算金额</th>
                <th class="border">结算金额</th>
            </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
    <div class="model-footer">
        <span class="span-btn confirm">确认</span>
        <span class="span-btn span-btn-bc confirm-active" data-model-close>返回</span>
    </div>
</div>