<div class="model-project-common">
    <div class="model-section">
        <div class="modal-form">
            <div class="item">
                <label class="bold-title label-block int-small8"><i class="icon-fill-in">*</i>项目名称:</label>
                <input type="text" class="int int-default" style="width:284px" name="workName" placeholder="填写" />
                <label class="bold-title label-block int-small"><i class="icon-fill-in">*</i>单位:</label>
                <input type="text" class="int int-default int-small" name="unit" placeholder="填写" />
            </div>
            <div class="item">
                <label class="bold-title label-block int-small8" style="float: left"><i
                            class="icon-fill-in">*</i>工作内容:</label>
                <textarea class="int int-default"
                          style="height: 80px;resize: none;width: 416px;margin-left: 4px" name="workContent"
                          placeholder="填写"></textarea>
            </div>
            <div class="item">
                <label class="bold-title label-block int-small8" style="float: left"><i
                            class="icon-fill-in">*</i>计算规则:</label>
                <textarea class="int int-default"
                          style="height: 80px;resize: none;width: 416px;margin-left: 4px" name="calcRule"
                          placeholder="填写"></textarea>
            </div>
            <div class="item">
                <label class="bold-title label-block int-small8" style="float: left">内容说明:</label>
                <textarea class="int int-default"
                          style="height: 80px;resize: none;width: 416px;margin-left: 4px" name="remark"
                          placeholder="填写"></textarea>
            </div>
            <div class="item">
                <label class="bold-title label-block int-small8" style="float: left">附件:</label>
                <div id="communiqueFile" style="display: inline-block;margin-left: 6px"></div>
            </div>
        </div>
    </div>
    <div class="model-footer">
        <span class="span-btn confirm">确认</span>
        <span class="span-btn span-btn-bc confirm-active" data-model-close>取消</span>
    </div>
</div>