<div class="model-project-common" style="width: 860px">
    <div class="modal-form" style="margin: 10px 20px 0 20px">
        <div class="item bold-title subProjName"></div>
        <div class="item">
            <!--<label class="bold-title">合同资源:</label>
            <select class="int int-default int-small14">
                <option value=""></option>
            </select>-->
            <label class="bold-title">分类:</label>
            <select class="int int-default int-small14 billType">
                <option value="3">人工</option>
                <option value="4">措施</option>
                <option value="5">分包</option>
            </select>
            <!-- <label class="bold-title">余量查看:</label>
             <select class="int int-default int-small14">
                 <option value=""></option>
             </select>-->
        </div>
    </div>
    <div class="table-content" style="height: 374px;overflow: auto;">
        <table>
            <thead>
            <tr class="small">
                <th class="border"><input type="checkbox"></th>
                <th class="border">分类</th>
                <th class="border">项目名称</th>
                <th class="border">工作内容</th>
                <th class="border">单位</th>
                <th class="border">单价</th>
                <th class="border">可用合同资源</th>
            </tr>
            </thead>
            <tbody></tbody>
        </table>
        <div id="page" style="margin: 20px 0;"></div>

    </div>

    <div class="model-footer">
        <span class="span-btn confirm">确定</span>
        <span class="span-btn span-btn-bc confirm-active" data-model-close>取消</span>
    </div>
</div>