<!--新建有合同结算单-->
<div class="model-project-common">
    <div class="modal-form" style="padding: 10px 0">
        <!--<div class="item" style="margin-bottom: 20px">-->
            <!--<label class="bold-title label-block int-small11"><i class="icon-fill-in">*</i>结算单命名:</label>-->
            <!--<input type="text" class="int int-default" style="width: 390px" placeholder="请输入新建结算单名称"name="settleName">-->
        <!--</div>-->
        <!--<div class="item" style="margin-bottom: 20px">-->
            <!--<label class="bold-title label-block int-small11"><i class="icon-fill-in">*</i>关联合同名称:</label>-->
            <!--<select type="text" class="int int-default" style="width: 390px" id="contractDetail"></select>-->
        <!--</div>-->
        <!--<div class="item" style="margin-bottom: 20px">-->
            <!--<label class="bold-title label-block int-small11"><i class="icon-fill-in">*</i>关联合同编号:</label>-->
            <!--<input type="text" class="int int-default" name='cntrNo' style="width: 390px" disabled placeholder="系统信息">-->
        <!--</div>-->
        <!--<div class="item" style="margin-bottom: 20px">-->
            <!--<label class="bold-title label-block int-small11"><i class="icon-fill-in">*</i>合同负责人:</label>-->
            <!--<input type="text" class="int int-default" name='cntrChargeName' style="width: 390px" disabled placeholder="系统信息">-->
        <!--</div>-->
        <div style="padding: 10px 30px;">
            <label style="font-weight: bold;">关联合同(资源)名称 : </label>
            <span id="contractDetail">测试文字测试文字测试文字</span>
        </div>
        <div style="padding: 10px 30px;">
            <label style="font-weight: bold;">合同编号 : </label>
            <span name='cntrNo'>测试文字测试文字测试文字</span>
        </div>
        <div style="padding: 10px 30px;">
            <label style="font-weight: bold;">合同负责人 : </label>
            <span name='cntrChargeName'>测试文字测试文字测试文字</span>
        </div>
    </div>
    <div class="model-footer">
        <span class="span-btn confirm">确认</span>
        <span class="span-btn span-btn-bc confirm-active" data-model-close>取消</span>
    </div>
</div>