<div class="model-project-common">
    <div class="model-section modal-form page-contract">
        <div class="item" style="cursor: pointer;position: relative;float: left;margin-top: 8px;margin-right: 5px;">
            <label class="bold-title">附件:</label>
        </div>
        <div class="modal-attach-list contract-attach-list" style="height: 280px;overflow-y: auto;display: block;"></div>
    </div>
    <div class="model-footer">
        <span class="span-btn confirm">确定</span>
        <span class="span-btn span-btn-bc confirm-active" data-model-close>取消</span>
    </div>
</div>