<div class="model-project-common">
    <div class="modal-form" style="margin-top: 20px">
        <div class="item" style="margin-bottom: 20px">
            <label for="" class="bold-title label-block int-small14"><i class="icon-fill-in">*</i>含税金额:</label>
            <input type="text" class="int int-default" style="width: 360px" placeholder="请填写含税金额" name="taxMoney">
        </div>
        <div class="item" style="margin-bottom: 20px">
            <label for="" class="bold-title label-block int-small14"><i class="icon-fill-in">*</i>暂扣(质保)金额:</label>
            <input type="text" class="int int-default" style="width: 360px" placeholder="请填写金额" name="ensureMoney">
        </div>
        <div class="item" style="margin-bottom: 20px">
            <label for="" class="bold-title label-block int-small14"><i class="icon-fill-in">*</i>费用名称:</label>
            <input type="text" class="int int-default" style="width: 360px" placeholder="请输入费用名称" name="costName">
        </div>
        <div class="item" style="margin-bottom: 20px">
            <label for="" class="bold-title label-block int-small14"><i class="icon-fill-in">*</i>备忘:</label>
            <input type="text" class="int int-default" style="width: 360px" placeholder="请输入备忘信息" name="remark">
        </div>
    </div>
    <div class="model-footer">
        <span class="span-btn confirm">保存</span>
        <span class="span-btn span-btn-bc confirm-active" data-model-close>取消</span>
    </div>
</div>