<div class="model-project-common" style="width: 450px">
    <div class="model-section">
        <span class="icon-system-remind"></span>
        删除结算单会解除已关联的合同，是否解除并删除？
    </div>
    <div class="model-footer">
        <span class="span-btn confirm">确定</span>
        <span class="span-btn span-btn-bc" data-model-close>取消</span>
    </div>
</div>