<div class="modal-add-type" style="left: -130px;width: 150px;height: 150px">
    <div class="supplier-header">
        <span class="span-color-blue">计划款项</span>
        <span class="icon-close"></span>
    </div>
    <div class="supplier-content">
        <ul class="supplierType" style="width: 150px;">
            <!--<li class="clear-content">-->
                <!--<span style="width: auto;color:#009941">清除内容</span>-->
            <!--</li>-->
            <li data-id="1">
                <span style="width: auto;">实付款（无合同）</span>
            </li>
            <li data-id="3">
                <span style="width: auto;">实付款（有合同）</span>
            </li>
            <li data-id="2">
                <span style="width: auto;">应付款项</span>
            </li>

        </ul>
    </div>
</div>