<div class="material-manager-modal">
    <div class="material-section">
        <div class="modal-form">
            <label class="bold-title">
                <i class="icon-fill-in">*</i>
                采购计划命名:
            </label>
            <input type="text" class="int int-default int-middle26" placeholder="请输入新建采购计划单名称" />
        </div>
        <div style="text-align: right;margin-top: 10px">
            <span class="span-btn">确认</span>
            <span class="span-btn span-btn-bc confirm-active">取消</span>
        </div>
    </div>
    <div class="triangle-left bebebe"></div>
    <div class="triangle-left ffffff"></div>
</div>