<div class="model-add-supplier" style="left: 150px;top: -5px;width: 562px;">
    <div class="supplier-header">
        <span class="project-title">选择供应商</span>
        <span class="icon-close"></span>
    </div>
    <div class="supplier-content">
        <ul class="supplierType supplierDetail">
            <li>
                <i class="icon-disc-item"></i>
                <span></span>
                <i class="tz-date"></i>
            </li>
        </ul>
    </div>
    <div class="supplier-detail" style="display: none;">
        <div class="add-supplier">
            <span class="icon-create"></span>
            <span class="">新增供应商</span>
        </div>
        <div class="supplier-detail-header">
            <span>序号</span><span>供应商名称</span>
        </div>
        <ul class="supplier-content-supplier">
        </ul>
    </div>
</div>