<!--出库单-->
<div class="model-project-common modal-arrow-left purchaseOrder" style="width: 316px;position:absolute;z-index:11;right: 42px;
    top: -62px;">
    <div class="model-header">
        <span class="project-title">出库单</span>
        <span class="icon-close"></span>
    </div>
    <div class="table-content" style="margin:10px 20px">
        <table>
            <tbody>
            <tr class="small">
                <td class="border" style="width: 70px;font-weight: bold">材料名称</td>
                <td class="border"><input type="text" placeholder="系统数据" disabled name="mtrlName"></td>
            </tr>
            <tr class="small">
                <td class="border" style="width: 70px;font-weight: bold">所属班组</td>
                <td class="border">
                    <div class="entprName" style="color:#999;cursor: pointer">单击选择</div>
                </td>
            </tr>
            <tr class="small">
                <td class="border" style="width: 70px;font-weight: bold">申请人</td>
                <!--<td class="border"><input type="text" placeholder="请填写" name="applyName"></td>-->
                <td class="border">
                    <div class="applyName" style="color:#999;cursor: pointer">单击选择</div>
                </td>
            </tr>
            <tr class="small">
                <td class="border" style="width: 70px;font-weight: bold">领用数量</td>
                <td class="border"><input type="text" placeholder="请填写" name="outCount"></td>
            </tr>
            <tr class="small">
                <td class="border" style="width: 70px;font-weight: bold">使用分部</td>
                <td class="border"><input type="text" placeholder="请填写" disabled name="subProjName"></td>
            </tr>
            <tr class="small chargeUserName">
                <td class="border" style="width: 70px;font-weight: bold">批准人</td>
                <td class="border"><input type="text" placeholder="点击选择批准人" disabled name="chargeUserName"></td>
            </tr>
            <tr class="small">
                <td class="border" style="width: 70px;font-weight: bold">备忘</td>
                <td class="border"><input type="text" placeholder="请填写" name="remark"></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="icon-triangle-left explain-radius-bottom ">
        <span></span>
    </div>
    <div style="text-align: right;margin: 5px 20px 10px 0;">
        <span class="span-btn confirm">保存</span>
        <span class="span-btn span-btn-bc confirm-active">取消</span>
    </div>
</div>