<div class="model-project-common">
    <div class="model-section">
        <div class="table-content" style="margin: 0">
            <table>
                <thead>
                <tr class="small">
                    <th class="border" style="width: 45px;">选择</th>
                    <th class="border" style="width: 45px;">序号</th>
                    <th class="border">人员姓名</th>
                </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
    <div class="model-footer">
        <span class="span-btn confirm">确认</span>
        <span class="span-btn span-btn-bc confirm-active" data-model-close>取消</span>
    </div>
</div>