<div class="model-project-common" style="width: 740px">
    <div class="modal-form" style="margin: 10px 20px">
        <!--<label class="bold-title">材料编码:</label>-->
        <!--<span class="">CKDBH-A01</span>-->
        <label class="bold-title">材料名称:</label>
        <span class="mtrlName"></span>
        <label style="margin-left: 20px;" class="bold-title">规格型号:</label>
        <span class="specBrand"></span>
        <label style="margin-left: 20px;" class="bold-title">单位:</label>
        <span class="unit"></span>
    </div>
    <div class="table-content" style="height:342px;overflow-y: auto;margin-bottom: 20px ">
        <table>
            <thead>
            <tr class="small">
                <th class="border">序号</th>
                <th class="border">所属班组</th>
                <th class="border">领用人</th>
                <th class="border">领用时间</th>
                <th class="border">领用数量</th>
                <th class="border">审批人</th>
                <th class="border">使用分部</th>
                <th class="border">备忘</th>
            </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>