<div class="model-project-common" style="width: 840px">
    <div class="modal-form" style="margin: 10px 20px">
        <label class="bold-title">材料名称:</label>
        <span class="mtrlName"></span>
    </div>
    <div class="table-content" style="height:342px;overflow-y: auto;margin-bottom: 20px; ">
        <table>
            <thead>
            <tr class="small">
                <th style="width: 45px;" class="border">序号</th>
                <th class="border">材料单号</th>
                <th style="width: 90px;" class="border">采购时间</th>
                <th style="width: 90px;" class="border">点收时间</th>
                <th class="border">点收数量</th>
                <th style="width: 60px;" class="border">采购人</th>
                <th style="width: 60px;" class="border">点收人</th>
                <th style="width: 60px;" class="border">单价</th>
                <th class="border">供应商</th>
            </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>