
<div class="model-project-common" style="width:800px">
    <div style="padding: 10px 20px;">
        <div class="clearfix" style="line-height: 30px;">
            <label>供应商 : </label>
            <span class="entpName" style="margin-right: 20px;"></span>
            <label>管理员 : </label>
            <span class="contactName" style="margin-right: 15px;"></span>
            <span class="phone" style="margin-right: 20px;"></span>
            <label>记账款项 : </label>
            <span class='acctType'></span>
        </div>
        <div class='table-content' style="margin: 10px 0 0;">
            <table>
                <thead>
                <tr class='small'>
                    <th class='border' style='width: 45px;'>序号</th>
                    <th class='border'>材料名称</th>
                    <th class='border'>规格型号</th>
                    <th class='border'>单位</th>
                    <th class='border'>计划数量</th>
                    <th class='border'>订单数量</th>
                    <th class='border'>单价</th>
                    <th class='border'>合价</th>
                    <th class='border'>产地/品牌</th>
                    <th class='border'>含税</th>
                    <th class='border'>说明</th>
                    <th class='border'>状态</th>
                </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
    <div class="model-footer clearfix" style="line-height: 30px;">
        <label class="fl" style="margin-left: 20px;">合计成交金额 : </label>
        <span class="fl dealMoney" style="margin-left: 5px;color: #009411;"></span>
        <span class="span-btn span-btn-bc confirm-active" data-model-close>取消</span>
    </div>
</div>