<!--用量查看-->
<div class="model-project-common modal-arrow-left purchaseOrder" style="width: 300px;position:absolute;z-index:11;right: 95px;
    top: -62px;">
    <div class="model-header">
        <span class="project-title">采购单</span>
        <span class="icon-close"></span>
    </div>
    <div class="table-content" style="height: 180px;overflow-y: auto;margin:10px 20px">
        <table>
            <thead>
            <tr class="small">
                <th style="width: 45px;" class="border">序号</th>
                <th class="border">采购编号</th>
                <th class="border">计划数量</th>
            </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
    <div class="icon-triangle-left explain-radius-bottom ">
        <span></span>
    </div>
</div>