<!--点收-->
<div class="model-project-common" style="width: 1064px;">
    <div class="table-content" style="height: 528px;overflow-y: auto;padding: 10px 0">
        <table>
            <thead>
            <tr class="small">
                <th class="border">序号</th>
                <th class="border">材料名称</th>
                <th class="border">规格型号</th>
                <th class="border">单位</th>
                <th class="border">数量</th>
                <th class="border">单价</th>
                <th class="border" style="width: 70px;">合价</th>
                <th class="border">供货单位</th>
                <th class="border" style="width: 75px;">产地/品牌</th>
                <th class="border">采购时间</th>
                <th class="border" style="width:60px">点收数量</th>
            </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
    <!--<div class="modal-form" style="margin: 10px 20px">-->
        <!--<label class="bold-title">点收时间:</label>-->
        <!--<input style="width: 150px;" type="date" class="int int-default int-small14 acceptTime" />-->
    <!--</div>-->
    <div class="model-footer">
        <span class="span-btn confirm">保存</span>
        <span class="span-btn span-btn-bc confirm-active" data-model-close>取消</span>
    </div>
</div>