
<div class="model-project-common" style="width:800px">
    <div style="padding: 10px 20px;">
        <div class="clearfix">
            <div class="fl">
                <label>记账款项 : </label>
                <select class="int int-default int-small14">
                    <option value="">请选择类型</option>
                    <option value="1">实付款(财务支付)</option>
                    <option value="2">应付款(财务挂账)</option>
                    <option value="3">实付款(采购支付)</option>
                </select>
            </div>
            <div class="fr">
                <label>已选择供应商 : <span class='checkedSup'></span></label>
                <span class="span-btn chooseSup background-list-gray">选择供应商</span>
            </div>
        </div>

        <div class='table-content' style="margin: 10px 0 0;">
            <table>
                <thead>
                    <tr class='small'>
                        <th class='border' style='width: 45px;'>序号</th>
                        <th class='border' style="width: 130px;">材料名称</th>
                        <th class='border' style="width: 130px;">规格型号</th>
                        <th class='border' style="width: 45px;">单位</th>
                        <th class='border' style="width: 70px;">计划数量</th>
                        <th class='border' style="width: 70px;">订单数量</th>
                        <th class='border'>说明</th>
                        <th class='border' style="width: 45px;">操作</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
    <div class="model-footer">
        <span class="span-btn confirm">发送订单</span>
        <span class="span-btn span-btn-bc confirm-active" data-model-close>取消</span>
    </div>
</div>