<div class="model-project-common" style="width: 1064px;padding: 10px 0">
    <div class="table-content">
        <table>
            <thead>
            <tr class="small">
                <th class="border">费用编号</th>
                <th class="border">费用名称</th>
                <th class="border">分部名称</th>
                <th class="border">款项分类</th>
                <th class="border">总金额</th>
                <th class="border">含税金额</th>
                <th class="border">款项负责人</th>
                <th class="border" style="width: 70px;">供货单位</th>
                <th class="border">收款人</th>
            </tr>
            </thead>
            <tbody>
            <tr class="small">
                <td class="border costNo"></td>
                <td class="border costName"></td>
                <td class="border subProjName"></td>
                <td class="border acctType"></td>
                <td class="border costMoney"></td>
                <td class="border taxMoney"></td>
                <td class="border chargeUserName"></td>
                <td class="border entprName"></td>
                <td class="border ">暂时没有</td>
            </tr>
            <tr class="small">
                <td class="border" rowspan="3" style="font-weight: bold;color: #333">采购信息</td>
                <td class="border" style="font-weight: bold;color: #333">材料单名称</td>
                <td class="border mtrlPlanName" colspan="3"></td>
                <td class="border" style="font-weight: bold;color: #333">材料编号</td>
                <td class="border mtrlPlanNo" colspan="3"></td>
            </tr>
            <tr class="small">
                <td class="border" style="font-weight: bold;color: #333">总金额</td>
                <td class="border checkMoney" colspan="3"></td>
                <td class="border" style="font-weight: bold;color: #333">含税金额</td>
                <td class="border checkTaxMoney" colspan="3"></td>
            </tr>
            <tr class="small">
                <td class="border" style="font-weight: bold;color: #333">采购负责人</td>
                <td class="border prchUserName" colspan="3"></td>
                <td class="border" style="font-weight: bold;color: #333">费用生成人</td>
                <td class="border checkUserName" colspan="3"></td>
            </tr>
            <tr class="small">
                <td class="border" style="font-weight: bold;color: #333" rowspan="3">合作方银行信息</td>
                <td class="border" style="font-weight: bold;color: #333">开户行</td>
                <td class="border openBank" colspan="7"></td>
            </tr>
            <tr class="small">
                <td class="border" style="font-weight: bold;color: #333">开户名</td>
                <td class="border openName" colspan="7"></td>
            </tr>
            <tr class="small">
                <td class="border" style="font-weight: bold;color: #333">帐号</td>
                <td class="border bankCard " colspan="7"></td>
            </tr>
            <tr>
                <td class="border" style="font-weight: bold;color: #333">备忘</td>
                <td class="border remark" colspan="8" style="font-weight: bold;color: #333"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>