<div class="model-project-common model-contract material-plan-order" style="width: 360px;">
    <div style="padding:10px 30px;display: none;" id="contractType">
        <label>合同类型:</label>
        <select class="int int-default" style="width: 200px">
            <option value="0">请选择</option>
            <!--<option value="1">总包合同</option>-->
            <!--<option value="2">采购合同</option>-->
            <option value="3">分包合同</option>
            <option value="4">劳务合同</option>
            <option value="5">租赁合同</option>
            <option value="6">材料采购合同</option>
            <option value="7">加工运输合同</option>
        </select>
    </div>
    <div class="contract-list"></div>
    <div class="model-footer">
        <span class="span-btn confirm">确定</span>
        <span class="span-btn span-btn-bc confirm-active cancel" data-model-close>取消</span>
    </div>
</div>