<div class="model-project-common">
    <div class="model-section modal-form">
        <div class="item">
            <label class="label-block int-small11"><i class="icon-fill-in">*</i>费用单命名:</label>
            <input type="text" class="typeName int int-default" placeholder="请输入费用单名称" style="width:385px;" />
        </div>
        <div class="item">
            <label class="label-block int-small11" style="float: left;margin-right: 5px;"><i class="icon-fill-in">*</i>描述:</label>
            <textarea class="typeDesc default int int-default" placeholder="请输入费用单描述" style="width: 385px;height: 100px;"></textarea>
        </div>
    </div>
    <div class="model-footer">
        <span class="span-btn type-save confirm">确定</span>
        <span class="span-btn span-btn-bc confirm-active type-cancel" data-model-close>取消</span>
    </div>
</div>