<!--预算外添加-->
<div class="model-project-common" style="width: 752px">
    <div class="modal-form" style="margin: 10px 20px;">
        <label class="bold-title">材料添加分部</label>
        <select class="int int-default subProject">
            <option value="a">请添加材料所用分部</option>
        </select>
        <span class="span-btn background-list-gray mainMaterial" style="margin-left: 167px">主材料增加项</span>
        <span class="span-btn background-list-gray assistMaterial">辅材费增加项</span>
        <span class="span-btn background-list-gray delMaterial">删除</span>
    </div>
    <div class="table-content" style="padding-bottom: 10px;height:590px;overflow-y: auto ">
        <table>
            <thead>
            <tr class="small">
                <th class="border"><input type="checkbox" /></th>
                <th class="border">序号</th>
                <th class="border">材料分类</th>
                <th class="border">材料名称</th>
                <th class="border">规格型号</th>
                <th class="border">单位</th>
                <th class="border">历史单价</th>
            </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
    <div class="model-footer">
        <span class="span-btn confirm">保存</span>
        <span class="span-btn span-btn-bc confirm-active" data-model-close>取消</span>
    </div>
</div>