<div class="model-project-common" style="width: 356px;">
    <div class="model-section modal-form">
        <div class="bold-title">已支付定金:</div>
        <input class="int int-default" style="margin-top: 5px;width: 300px;" placeholder="请输入金额" name="bookMoney">
        <div class="bold-title" style="margin-top: 20px;">已提供税票:</div>
        <input class="int int-default" style="margin-top: 5px;width: 300px;"
               placeholder="请输入金额" name="bookTaxMoney">
    </div>
    <div class="model-footer">
        <span class="span-btn confirm">确定</span>
        <span class="span-btn span-btn-bc confirm-active cancel">取消</span>
    </div>
</div>