<div class="model-project-common" style="width: 450px">
    <div class="model-section">
        <span class="icon-system-remind"></span>
        <span class="remind-text">确定已完成吗？</span>
    </div>
    <div class="model-footer">
        <span class="span-btn confirm">确定</span>
        <span class="span-btn span-btn-bc" data-model-close>取消</span>
    </div>
</div>