<!--预算之内的选材-->
<div class="model-project-common" style="width:1200px">
    <div class="model-header">
        <span class="project-title">预算内选材<i>(可多选)</i></span>
        <span class="icon-close"></span>
    </div>
    <div class="modal-form" style="margin: 10px 20px">
        <label class="bold-title">分部查看</label>
        <select class="int int-default subProject"></select>
        <label class="bold-title">材料分类</label>
        <select class="int int-default int-small14 materialType1"></select>
        <select class="int int-default int-small14 materialType2"><option value="0">全部</option></select>
        <label class="bold-title">余量查看</label>
        <select class="int int-default int-small14 allowance">
            <option value="1" selected>零余量</option>
            <option value="2">非零余量</option>
        </select>
        <input type="text" class="int int-default int-small14 keyword" placeholder="请输入关键字查找" />
        <span class="span-btn searchModal">查询</span>
    </div>
    <div class="table-content" style="height:374px;overflow-y: auto ">
        <table>
            <thead>
            <tr class="small">
                <th class="border" style="width: 40px">
                    <input type="checkbox" />
                </th>
                <th class="border" style="width: 40px">序号</th>
                <th class="border">材料编号</th>
                <th class="border">材料分类</th>
                <th class="border">材料名称</th>
                <th class="border">规格型号</th>
                <th class="border" style="width: 36px">单位</th>
                <th class="border" style="width: 50px">总数量</th>
                <th class="border">单价</th>
                <th class="border" style="width: 70px;">合价</th>
                <th class="border" style="width: 60px">计划余量</th>
            </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
    <div class="model-footer">
        <span class="span-btn confirm">确认</span>
        <span class="span-btn span-btn-bc confirm-active" data-model-close>取消</span>
    </div>
</div>