<div class="model-project-common modal-arrow-left" style="
  position:absolute;right:85px;top:50%;margin-top:-49px;border: 1px solid #bebebe;width: 402px;height: 98px;">
    <div class="material-section" style="margin: 17px;">
        <div class="modal-form">
            <label class="bold-title"><i class="icon-fill-in">*</i>采购计划命名:</label>
            <input type="text" class="int int-default int-middle26" style="width: 260px;border:1px solid #e9e9e9"
                   placeholder="请输入新增材料名称" />
        </div>
        <div style="text-align: right;margin-top: 10px">
            <span class="span-btn confirm">确认</span>
            <span class="span-btn span-btn-bc confirm-active cancel">取消</span>
        </div>
    </div>
    <div class="icon-triangle-left" style="top: 32px">
        <span></span>
    </div>
</div>