
<div class="model-project-common" style="width:800px">
    <div style="padding: 10px 20px;">
        <div>
            <label>供应商 : </label>
            <span class="entpName" style="margin-right: 20px;"></span>
            <label>管理员 : </label>
            <span class="contactName" style="margin-right: 15px;"></span>
            <span class="phone" style="margin-right: 20px;"></span>
            <label>记账款项</label>
            <select class="int int-default int-small14">
                <option value="">请选择类型</option>
                <option value="1">实付无预付款</option>
                <option value="2">应付</option>
                <option value="3">实付有预付款</option>
            </select>
        </div>
        <div class='table-content' style="margin: 10px 0 0;">
            <table>
                <thead>
                <tr class='small'>
                    <th class='border' style='width: 45px;'>序号</th>
                    <th class='border'>材料名称</th>
                    <th class='border'>规格/品牌</th>
                    <th class='border'>单位</th>
                    <th class='border'>计划数量</th>
                    <th class='border'>订单数量</th>
                    <th class='border'>说明</th>
                    <th class='border' style="width: 45px;">操作</th>
                </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
    <div class="model-footer">
        <span class="span-btn confirm">确认修改</span>
        <span class="span-btn span-btn-bc confirm-active" data-model-close>取消</span>
    </div>
</div>