<%- include('../layout/header') %>
<div class="model-project-common model-cost-account enterprise-add-model">
    <div class="model-header">
        <span class="project-title">新增</span>
        <span class="icon-close"></span>
        <div class="model-position">
            <a>删除行</a>
            <a>增加行</a>
        </div>
    </div>
    <div class="model-section">
        <div class="table-content">
            <table>
                <thead>
                <tr>
                    <th class="border" style="max-width: 40px;min-width: 40px">序号</th>
                    <th class="border">材料名称</th>
                    <th class="border">规格型号</th>
                    <th class="border">单位</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td class="border">1</td>
                    <td class="border">
                        <input type="text" placeholder="请填写" />
                    </td>
                    <td class="border">
                        <input type="text" placeholder="请填写" />
                    </td>
                    <td class="border">
                        <input type="text" placeholder="请填写" style="max-width: 40px;min-width: 40px"/>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="model-section-btn">
            <span class="span-btn">确认</span>
            <span class="span-btn span-btn-bc confirm-active">确认</span>
        </div>
    </div>
</div>