<%- include('../layout/header') %>
<div class="model-project-common enterprise-add-model model-cost-account">
    <div class="model-header">
        <span class="project-title">数据搬移</span>
        <span class="icon-close"></span>
    </div>
    <div class="model-section model-border-radius">
        <div class="model-item">
            <label class="title-inline-label">将移出数据到:</label>
            <select class="int int-default int-small16">
                <option>请选择</option>
            </select>
            <select class="int int-default int-small16">
                <option>请选择</option>
            </select>
        </div>
        <div class="model-item">
            <label class="title-inline-label">移入数据到:</label>
            <select class="int int-default int-middle32">
                <option>请选择</option>
            </select>
        </div>
        <div class="model-section-btn">
            <span class="span-btn">确定</span>
            <span class="span-btn span-btn-bc confirm-active">取消</span>
        </div>
    </div>
</div>