<div class="model-project-common enterprise-add-model model-cost-account" id="enterpriseType">
    <div class="model-section model-border-radius ">
        <div class="model-item">
            <label class="title-small title-inline-label">类别名称:</label>
            <input class="int int-default int-middle256" placeholder="名称必填写" id="type" />
        </div>
        <div class="model-section-btn">
            <span class="span-btn" id="confirm">确定</span>
            <span class="span-btn span-btn-bc confirm-active" data-model-close>取消</span>
        </div>
    </div>
</div>