<!--下载记录-->
<div class="model-project-common modal-arrow-left" style="width: 398px;
height:234px;position: absolute;left: -375px;
top: -40px;background-color: #ffffff;z-index: 1">
    <div class="model-header">
        <span class="project-title">下载记录</span>
        <span class="icon-close"></span>
    </div>
    <div class="table-content" style="margin: 10px 20px;height: 180px;overflow-y: auto">
        <table>
            <thead>
            <tr class="small">
                <th class="border">姓名</th>
                <th class="border">时间</th>
                <!--<th class="border">次数</th>-->
            </tr>
            </thead>
            <tbody id="downLoadTable"></tbody>
        </table>
    </div>
    <div class="icon-triangle-left top40 ">
        <span></span>
    </div>
</div>