<div class="project-list-wrap">
    <div class="clearfix" style="margin: 10px 0;line-height: 30px;">
        <a class="span-btn background-9441 fr" href="/project/detail/<%- id %>?name=<%- name %>">返回</a>
        <span id="safeName"><%- mainName %></span>
    </div>
    <div class="table-content" style="margin: 0;">
        <table>
            <thead>
            <tr>
                <th style="width: 60px;">序号</th>
                <th>标题</th>
                <th style="width: 200px;">编辑人</th>
                <th style="width: 200px;">时间</th>
                <th style="width: 200px;">操作</th>
            </tr>
            </thead>
            <tbody id="safeTable">
            <tr class="active">
            </tr>
            </tbody>
        </table>
    </div>
    <div id="page" style="text-align: center;margin: 10px 0"></div>
</div>