<div class="project-list-wrap">
    <div style="margin: 10px 0">
        <a class="span-btn background-9441" href="/project/detail/<%- id %>?name=<%- name %>">返回</a>
        <span>系统设置</span>
    </div>
    <div class="table-content" style="margin: 0;">
        <table>
            <thead>
            <tr>
                <th style="width: 60px;">序号</th>
                <th style="width: 200px;">信息来源</th>
                <th>内容</th>
                <th style="width: 200px;">时间</th>
            </tr>
            </thead>
            <tbody id="settingSystemTable"></tbody>
        </table>
    </div>
    <div id="page" style="text-align: center;margin: 10px 0"></div>
</div>