<div id="costLabor">
    <div class="cost-worker-count" style="height: 40px;">

        <label style="margin-left: 20px;line-height: 30px;">总价:</label>
        <span style="color:#009941" id="laborPrice">0.00元</span>
        <div class="worker-position">
            <select style="margin-left: 8px;" class="int int-default int-small14" id="costLaborType">
                <option value="a">人工类别</option>
            </select>
            <input style="margin-left: 8px;" class="int int-default int-small14" name="keywords" placeholder="请输入关键字查找" />
            <span class="span-btn btn-fine-adj1" id="searchModal">查询</span>
        </div>
    </div>
    <div class="table-content">
        <table>
            <thead id="showTitle">
            <tr class="small">
                <th class="border" style="width: 45px">序号</th>
                <th class="border" style="width: 80px">人工类别</th>
                <th class="border">项目名称</th>
                <th class="border">工作内容</th>
                <th class="border" style="width: 60px">单位</th>
                <th class="border" style="width: 60px">数量</th>
                <th class="border" style="width: 60px">单价</th>
                <th class="border" style="width: 90px">合价</th>
                <th class="border" style="width: 110px">查看</th>
            </tr>
            </thead>
            <thead id="hideTitle" style="display: none;position:absolute;
                       top: 50px;z-index: 200">
            <tr class="small"></tr>
            </thead>
            <tbody id="costWorkerCountTable"></tbody>
        </table>
    </div>
    <div id="page" style="margin: 20px 0;"></div>
</div>