<div class="login-content password-content">
    <div class="login-des">找回密码</div>
    <div class="login-user">
        <span class="icon-default">+86</span>
        <input class="login-int" type="text" placeholder="请输入您的手机号码/帐号" id="mobile" autocomplete=off>
    </div>
    <div class="verification-code">
        <input class="login-int" type="text"  placeholder="请输入您的验证码" id="code" autocomplete=off/>
        <span style="width: 122px;padding: 0px;text-align: center;font-size: 14px;margin-top: -1px;" id="getCode">获取短信验证码</span>
    </div>

    <div class="login-btn" href="/login/reset" id="step" style="margin-top: 20px;">下一步</div>
    <a class="login-btn" href="/login">返回登录</a>
</div>