<div class="login-content">
    <div class="login-des">重置密码</div>
    <div style="display: none;" class="login-user">
        <input class="login-int mobile" type="text" value="<%- mobile %>">
        <input class="login-int authCode" type="text"  value="<%- authCode %>">
    </div>
    <div class="login-pwd" style="margin-top: 0;">
        <input style="margin-left: -60px;font-size: 16px" class="login-int reset-pw" type="password" placeholder="请输入您的新密码" value="" />
    </div>
    <div style="text-align: left;color: #999;width: 400px;margin:10px auto;">长度为6~14个字符,支持大小写字母、数字和标点字符</div>
    <div class="login-pwd" style="margin-top: 0;">
        <input style="margin-left: -60px;font-size: 16px" class="login-int confirm-pw" type="password" placeholder="请再次输入您新的密码" value="" />
    </div>
    <div class="login-btn margin-top">确认</div>
    <a class="login-btn" href="/login">返回登录</a>
</div>