<div class="model-project-common knowledge-modal-review">
    <div class="model-section">
        <div class="modal-knowledge-title"></div>
        <div class="modal-knowledge-info">
            <div>
                <label>类型:</label>
                <span></span>
                <label>发布人:</label>
                <span></span>
                <label>发布时间:</label>
                <span></span>
            </div>
            <div>
                <label>来源:</label>
                <span></span>
                <label>原作者:</label>
                <span></span>
                <label>浏览次数:</label>
                <span></span>
            </div>
            <div>
                <label>网址链接:</label>
                <span></span>
            </div>
        </div>
        <div class="knowledge-summary">
            <label>寄语/摘要:</label>
            <span></span>
        </div>
        <div class="knowledge-modal-content"></div>
    </div>
    <div class="model-footer">
        <span class="span-btn confirm">发布</span>
        <span class="span-btn span-btn-bc confirm-active">取消</span>
    </div>
</div>