<div class="model-project-common  model-schedule cost-add-child" style="padding: 0 20px;">
    <div class="table-content" style="margin: 10px;">
        <table>
            <thead>
            <tr class="small">
                <th class="border">项目名称</th>
                <th class="border" style="width: 70px;">单位</th>
                <th class="border" style="width: 90px;">工程数量</th>
                <th class="border" style="width: 90px;">综合单价</th>
                <th class="border" style="width: 90px;">合价</th>
            </tr>
            </thead>
            <tbody>
            <tr class="small active">
                <td class="border">
                    <input type="text" placeholder="请填写" name="subitemDesc" data-wran="项目名称" />
                </td>
                <td class="border">
                    <input type="text" placeholder="请填写" name="unit" data-wran="单位" />
                </td>
                <td class="border">
                    <input type="text" placeholder="请填写" name="originQpy" data-wran="工程数量" />
                </td>
                <td class="border">
                    <input type="text" placeholder="请填写" name="origPrice" data-wran="综合单价" />
                </td>
                <td class="border">
                    <input type="text" placeholder="请填写" name="origTotalPrice" data-wran="合价" />
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div style="text-align: right;margin:10px;">
        <span class="span-btn confirm">保存</span>
        <span class="span-btn span-btn-bc confirm-active" data-model-close>取消</span>
    </div>
</div>