<div class="material-manager-modal enterprise-add"
     style="display: block;width:384px;height: auto;position: absolute;left: 216px;top: -20px;z-index: 2011; ">
    <div class="material-section">
        <div class="modal-form">
            <div class="material-shift material-category" style="margin-bottom: 15px;">
                <label class="bold-title label-block int-small8">
                    <i class="icon-fill-in">*</i>
                    材料类别 :
                </label>
                <div class="category-ipt">
                    <input type="text" class="int int-default int-middle26" name="" placeholder="输入类别名称" />
                    <div class="back-to-select"><span class="icon-back-to-select"></span>取消</div>
                </div>
                <div class="int int-default int-middle26 category-sel" name="">
                    <span>选择材料类别</span>
                    <ul style="max-width: 300px;overflow: auto;">
                        <li class="add-new-type"><span class="icon-add-content"></span>新增类别</li>
                    </ul>
                    <div class="select-arrow"></div>
                </div>
            </div>


            <div class="material-shift material-type" style="margin-bottom: 15px;">
                <label class="bold-title label-block int-small8">
                    <i class="icon-fill-in">*</i>
                    材料类型 :
                </label>
                <div class="type-ipt">
                    <input type="text" class="int int-default int-middle26" name="" placeholder="输入分类名称" />
                    <div class="back-to-select"><span class="icon-back-to-select"></span>取消</div>
                </div>
                <div class="int int-default int-middle26 type-sel" name="">
                    <span>选择材料类型</span>
                    <ul>
                        <li style="display: none;" class="add-new-type"><span class="icon-add-content"></span>新增类型</li>
                    </ul>
                    <div class="select-arrow"></div>
                </div>
            </div>

            <div style="margin-bottom: 15px;">
                <label class="bold-title label-block int-small8">
                    <i class="icon-fill-in">*</i>
                    材料名称 :
                </label>
                <input type="text" class="int int-default int-middle26" name="mtrlName"placeholder="请输入新增材料名称" />
            </div>
            <div style="margin-bottom: 15px;">
                <label class="bold-title label-block int-small8">
                    <i class="icon-fill-in">*</i>
                    规格型号 :
                </label>
                <input type="text" class="int int-default int-middle26" name="specBrand" placeholder="请输入新增规格型号" />
            </div>
            <div style="margin-bottom: 17px;">
                <label class="bold-title label-block int-small8">
                    <i class="icon-fill-in">*</i>
                    单位 :
                </label>
                <input type="text" class="int int-default int-middle26" name="unit" placeholder="请输入新增材料单位" />
            </div>
        </div>
        <div style="text-align: right;margin-top: 10px">
            <span class="span-btn confirm">确认</span>
            <span class="span-btn span-btn-bc confirm-active cancel">取消</span>
        </div>
    </div>
    <div class="triangle-left bebebe" style="top: 35px;"></div>
    <div class="triangle-left ffffff" style="top: 32px;"></div>
</div>