<div class="model-project-common" style="width:400px;">
    <div class="model-section">
        <label>价格调整:</label>
        <input type="text" class="int int-default" placeholder="请输入价格" name="price">
    </div>
    <div class="model-footer">
        <span class="span-btn confirm">确定</span>
        <span class="span-btn span-btn-bc confirm-active" data-model-close>取消</span>
    </div>
</div>