<div style="padding: 15px;text-align: center;">
    <div class="carousel-imgs-container">
        <ul class="clearfix">
            <li class="img1"></li>
            <li class="img2"></li>
            <li class="img3"></li>
        </ul>
    </div>
    <div class="carousel-points-container">
        <ul>
            <li class="active"></li>
            <li></li>
            <li></li>
        </ul>
    </div>
    <span class="span-btn next">下一步</span>
</div>