<div class="copy-child-modal" style="z-index: 10000">
    <div class="copy-child-title">
        <div>复制单位成本分析</div>
        <i style="display: inline-block;" class="icon-close"></i>
    </div>
    <div class="copy-child-content">
        <div class="copy-item clearfix">
            <div class="copy-item-title fl">复制项 :</div>
            <div class="fl">
                <span class="copy-item-num">23</span>
                <span class="copy-item-sysno">AAAAAAAAAAAA</span>
            </div>
        </div>
        <div class="paste-item">
            <div class="paste-item-title">粘贴项 : <span>( 点击行添加 )</span></div>
            <ul id="pasteItemsList">

            </ul>
            <div class="paste-item-totle">共<span>0</span>项</div>
        </div>
    </div>
    <div class="copy-child-footer">
        <span class="span-btn confirm">确认</span>
        <span class="span-btn span-btn-bc confirm-active cancel">取消</span>
    </div>
</div>