<div class="model-project-common" style="width: 812px;">
    <div class="table-content" style="margin-top: 10px;margin-bottom: 10px">
        <table>
            <thead>
            <tr class="small">
                <th class="border">名称</th>
                <th class="border">采用值</th>
                <th class="border">系统值</th>
                <th class="border" style="width: 90px;">异常值(范围)</th>
                <th class="border">备忘</th>
                <th class="border">系统说明</th>
                <th class="border">操作时间</th>
                <th class="border">操作人</th>
            </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
    <div class="model-footer">
        <span class="span-btn confirm">确认</span>
        <!--<span class="span-btn span-btn-bc confirm-active" data-model-close>取消</span>-->
    </div>
</div>