<div class="model-project-common">
    <div class="model-section">
        <div>备忘内容:</div>
        <textarea class="int int-default" style="width: 100%;height: 144px;" placeholder="请输入..."></textarea>
        <div style="margin-top: 10px;">
            <label>采用值:</label>
            <span class="span-color-blue" style="width:60px;
            display: inline-block;" name="usedValue"></span>
            <label style="margin-left:5px">系统值:</label>
            <span class="span-color-blue" style="width:65px;
            display: inline-block;" name="sysValue"></span>
            <!--<label style="margin-left:5px">异常值:</label>-->
            <!--<span class="span-color-blue" style="width:65px;-->
            <!--display: inline-block;" name="usedValue"></span>-->
            <label style="margin-left:5px">设定范围:</label>
            <span class="span-color-blue" style="width:65px;
            display: inline-block;" name="excpValue"></span>
        </div>
    </div>
    <div class="model-footer">
        <span class="span-btn confirm">确认</span>
        <span class="span-btn span-btn-bc confirm-active" data-model-close>取消</span>
    </div>
</div>