<div class="model-project-common">
    <div class="model-section">
        <div>
            <label>预期结算金额:</label>
            <span style="color: #009941" id="modalCntrMoney"></span>
        </div>
        <div class="table-content" style="margin:5px 0 0 0">
            <table>
                <thead>
                <tr class="small">
                    <th class="border" width="200px">分部名称</th>
                    <th class="border">合同分部金额</th>
                    <th class="border">预期结算金额</th>
                </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
    <div class="model-footer">
        <span class="span-btn confirm">确认</span>
        <span class="span-btn span-btn-bc confirm-active" data-model-close>取消</span>
    </div>
</div>