<div class="memorandum-detail width-427">
    <div class="memorandum-title">
        详情
        <span class="icon-close"></span>
    </div>
    <div class="memorandum-section">
        <div class="table-content" style="padding: 0 10px 10px 10px;">
            <table>
                <thead>
                <tr class="small">
                    <th style="width: 45px;" class="border">序号</th>
                    <th class="border">子目编号</th>
                    <th style="width: 45px;" class="border">单位</th>
                    <th class="border">单位用量</th>
                    <th class="border">核算量</th>
                    <th class="border">总量</th>
                </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
    <div class="triangle-left bebebe"></div>
    <div class="triangle-left ffffff"></div>
</div>