<div class="material-manager-modal enterprise-add"
     style="display: none;width:270px;height:196px;position: absolute;left: 172px;top: -75px;z-index: 2011;">
    <div class="material-section" style="white-space: pre-wrap;text-align: left;
    overflow: auto;height:156px;line-height: 24px;"></div>
    <div class="triangle-left bebebe" style="top: 82px;"></div>
    <div class="triangle-left ffffff" style="top: 82px;"></div>
</div>