<div class="quantity-check-detail">
    <div class="quantity-title">
        查看
        <span class="icon-close"></span>
    </div>
    <div style="margin: 0;padding: 0 20px;" class="quantity-section">
        <div class="modal-form border">
            <div style="margin-top: 10px;">
                <label class="bold-title">子目编号:</label>
                <span style="color: #009941;" class="subitemNo"></span>
            </div>
            <div style="margin: 10px 0;">
                <label class="bold-title" style="display: block">清单项描述:</label>
                <div class="subitemDesc"></div>
            </div>
            <div class="clr"></div>
        </div>
        <div class="modal-form" style="margin-top: 10px">
            <div class="item">
                <label class="bold-title">工程量复核:</label>
                <span style="display: block;margin-left: 10px" class="checkQpyFormula"></span>
            </div>
        </div>
    </div>
    <div class="triangle-left bebebe"></div>
    <div class="triangle-left ffffff"></div>
</div>