<!--列表展示页-->
<div class="bid-item-list">
    <div style="display: inline-block;vertical-align: middle;margin-top: 20px;padding-left: 10px;">
        <label style="margin-left:10px;">类型名称 :</label>
        <select class="int int-default int-small14" name="bidType">
            <option value="">全部类型</option>
            <option value="1">材料</option>
            <option value="2">人工</option>
            <option value="3">措施</option>
            <option value="4">分包</option>
            <option value="5">企业服务</option>
        </select>
        <label style="margin-left:10px;">项目名称 :</label>
        <select class="int int-default int-small14" name="allProject" style="width: 200px;">
            <option value="">全部项目</option>
        </select>
        <label style="margin-left:10px;">状态名称 :</label>
        <select class="int int-default int-small14" name="bidStatus" style="width: 200px;">
            <option value="">全部状态</option>
            <option value="1">待发布</option>
            <option value="2">招标中</option>
            <option value="3">已截止</option>
            <option value="4">流标</option>
            <option value="7">已评标</option>
            <option value="8">被撤回</option>
        </select>
        <input style="padding-left: 5px;margin-left: 10px;" type="text" class="int int-default keywords" placeholder="请输入关键字">
        <span style="margin-top: -4px;line-height: 30px;margin-left: 7px;" class="span-btn" id="searchModal">查询</span>
    </div>
    <div name="noInfoBidsList_main" class="all-bids" style="padding: 0 15px;">
    </div>
</div>
<!--详情页-->
<div class="bid-item-detail" style="display: none;">
    <div class="detail-contain" style="border: none ;">
        <div class="clearfix detail-top">
            <div class="fl detail-title"></div>
            <div class="fl bid-status">状态 : <span></span></div>
        </div>
        <div class="clearfix detail-info">
            <div class="fl"><label>招标编号 : </label><span class='bidNo'></span></div>
            <div class="fl"><label>创建人 : </label><span></span></div>
            <div class="fl"><label>发布人 : </label><span></span></div>
        </div>
        <div class="detail-content" style="padding-top: 15px;">
            <div class="clearfix" style="margin-bottom: 10px;">
                <div class="fl" style="margin-right: 40px;"><label>招标类型 : </label><span class="bid-type"></span></div>
                <div class="fl"><label>项目名称 : </label><span class="bid-projname"></span></div>
            </div>
            <div style="margin-bottom: 10px;"><label>截止时间 : </label><span class="endtime"></span></div>
            <div class="clearfix" style="margin-bottom: 10px;"><label class="fl">招标内容 : </label><div class="fl bid-content" style="margin-left: 5px;width: 900px;">
                </div></div>
            <div class="clearfix" style="margin-bottom: 10px;"><label class="fl">添加图片 : </label><div style="width: 700px;margin-left: 5px;" class="fl images clearfix"></div></div>
            <div class="clearfix" style="margin-bottom: 10px;">
                <div class="fl">
                    <label>招标要求 :</label>
                </div>
                <div class="table-content fl" style="width: 900px;margin-left: 5px;">
                    <table>
                        <thead>
                        <tr class="small">
                            <th class="border" style="width: 45px;">序号</th>
                            <th class="border">内容</th>
                        </tr>
                        </thead>
                        <tbody id="bidRequireSettingPrev">
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="clearfix" style="margin-bottom: 10px;">
                <div class="fl">
                    <label>招标清单 :</label>
                </div>
                <div class="table-content fl" style="width: 900px;margin-left: 5px;">
                    <table>
                        <thead>
                        <tr class="small">
                            <th class="border" style="width: 45px;">序号</th>
                            <th class="border">项目分类</th>
                            <th class="border">项目名称</th>
                            <th class="border">工作内容</th>
                            <th class="border">单位</th>
                            <th class="border">数量</th>
                            <th class="border">说明</th>
                        </tr>
                        </thead>
                        <tbody id="bidListPrev">
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="clearfix" style="margin-bottom: 10px;">
                <div class="fl">
                    <label>投标邀请 :</label>
                </div>
                <div class="fl" style="margin-left: 5px;margin-bottom: 5px;">
                    <label>已邀请投标单位 :</label>
                    <span class="sup-count">0</span>
                </div>
                <div class="table-content" style="width: 900px;margin-left: 69px;margin-bottom: 10px;">
                    <table>
                        <thead>
                        <tr class="small">
                            <th class="border" style="width: 45px;">序号</th>
                            <th class="border">单位类别</th>
                            <th class="border">单位名称</th>
                            <th class="border">管理员</th>
                            <th class="border">绑定手机</th>
                            <th class="border">税务类型</th>
                            <th class="border">营业执照</th>
                            <th class="border">业务范围</th>
                        </tr>
                        </thead>
                        <tbody id="bidInvitationPrev">
                        </tbody>
                    </table>
                </div>
            </div>
            <!--<div class="clearfix">-->
                <!--<label class="fl" style="margin-left: 30px;">设置 : </label>-->
                <!--<div class="fl">-->
                    <!--<input type="checkbox" disabled checked>-->
                    <!--<span>平台所有人可见</span>-->
                <!--</div>-->
            <!--</div>-->
        </div>
    </div>
</div>
<!--评标页-->
<div class="choose-the-bid" style="display: none;">
    <div class="detail-contain">
        <div class="clearfix detail-top">
            <div class="fl detail-title">中铁一局办公楼装修劳务招标公告</div>
            <div class="fl bid-status">状态 : <span>已确认</span></div>
        </div>
        <div class="clearfix detail-info">
            <div class="fl">招标编号 : <span>126</span></div>
            <div class="fl">发布人 : <span>126</span></div>
            <div class="fl">点赞 : <span>126</span></div>
            <div class="fl">邀请 : <span>126</span></div>
            <div class="fl">投标 : <span>126</span></div>
        </div>
        <div class="detail-content">
            <div class="clearfix con-top">
                <div class="fl">投标单位 : <span>5</span></div>
                <div class="fl">中标单位 : <span>西安团队建筑装饰有限公司</span></div>
            </div>
            <div class="con-container clearfix">
            </div>
            <div class="clearfix" style="margin-bottom: 10px;">
                <div class="fl">谁可以看见 : </div>
                <div class="fl">
                    <input type="radio" name="">
                    <span>所有人可见</span>
                    <input type="radio" name="">
                    <span>仅投标方可见</span>
                    <input type="radio" name="">
                    <span>仅中标方可见</span>
                    <input type="radio" name="">
                    <span>全部不可见</span>
                </div>
            </div>
        </div>
    </div>
    <div class="detail-footer" style="padding-left: 750px">
        <a class="span-btn span-btn-bc confirm-active failure" href="javascript:;">流标</a>
        <a class="span-btn span-btn-bc confirm-active cancel-bid" href="javascript:;">取消</a>
        <a class="span-btn confirm-active submitBid" href="javascript:;">定标</a>
    </div>
</div>
<div name="noInfoBidsList_page" id="page" style="margin: 20px 0;"></div>
<div class='noInfo' id='noInfoBidsList'>
    <div class="icon-uninformed"></div>
    <p>没有符合条件的信息！</p>
</div>
<!--编辑页-->
<div class="bid-add-container" style="display: none;">
    <div style="border-bottom:1px solid #e9e9e9;padding:20px 20px 0 0;" id="" data-id="<%- id %>">
        <div class="modal-form" style="padding-left: 20px;">
            <div class="item" style="margin-bottom: 5px">
                <label class="bold-title label-block int-small8"><i class="icon-fill-in">*</i>招标类型 : </label>
                <select class="int int-default int-large44" id="bidType" style="width: 260px;">
                    <option value="">全部类型</option>
                    <option value="1">材料</option>
                    <option value="2">人工</option>
                    <option value="3">措施</option>
                    <option value="4">分包</option>
                    <option value="5">企业服务</option>
                </select>
            </div>
            <div class="item" style="margin-bottom: 5px">
                <label class="bold-title label-block int-small8">
                    <i class="icon-fill-in">*</i>标题 : </label>
                <input class="int int-default int-large44" type="text" name="bidTitle" style="width: 260px;" placeholder="请输入"/>
            </div>
            <div class="item" style="margin-bottom: 5px">
                <label class="bold-title label-block int-small8" style="width: 81px;">招标项目 : </label>
                <select class="int int-default int-large44" id="allProject" style="width: 260px;max-height: 500px;">
                    <option value="">全部项目</option>
                </select>
            </div>
            <div class="item clearfix" style="margin-bottom: 5px;position: relative;">
                <label class="bold-title label-block int-small8 fl" style="vertical-align: middle;line-height: 30px;"><i
                            class="icon-fill-in">*</i>截止时间 : </label>
                <div class="int int-default int-large44 fl" style="vertical-align: middle;margin-left: 5px;width: 260px;cursor: pointer;line-height: 28px;color: #333333;" id="bidDeadline"></div>
                <span class="icon-enterprise-calendar" style="position: absolute;top: 6px;left: 320px;"></span>
            </div>
            <div class="item" style="margin-bottom: 5px;">
                <label class="bold-title label-block int-small8" style="float: left;margin-top:10px;"><i
                            class="icon-fill-in">*</i>招标内容 : </label>
                <textarea class="int int-default int-large44"
                          style="height: 200px;resize: none;margin-left: 5px;width: 510px;height: 110px;" name="bidContent"
                          placeholder="请输入招标内容(提示:若内容较多，可填写邮箱地址)"></textarea>
            </div>
            <div class="item clearfix" style="margin-bottom: 5px">
                <label class="bold-title label-block int-small8 fl" style="float: left;margin-right: 6px;">附件 : </label>
                <div class="reportImage fl" style="width: 800px;"></div>
            </div>
            <div class="item clearfix" style="margin-bottom: 5px">
                <label class="bold-title label-block int-small8 fl" style="vertical-align: middle;line-height: 30px;"><i
                            class="icon-fill-in">*</i>招标要求 : </label>
                <a class="span-btn background-list-gray btn-fine-adj1" href='javascript:;' name="bidRequireSetting">设置</a>
                <div class="table-content" style="width: 900px;margin: 10px 0 0 85px;max-height: 181px;overflow: auto;">
                    <table style="display: none;max-height: 180px;overflow: auto;">
                        <thead>
                        <tr class="small">
                            <th class="border" style="width: 50px;">序号</th>
                            <th class="border">内容</th>
                            <th class="border" style="width: 50px;">操作</th>
                        </tr>
                        </thead>
                        <tbody id="bidRequireSetting"></tbody>
                    </table>
                </div>
            </div>
            <div class="item clearfix" style="margin-bottom: 5px">
                <label class="bold-title label-block int-small8 fl" style="vertical-align: middle;line-height: 30px;"><i
                            class="icon-fill-in">*</i>招标清单 : </label>
                <a style="" class="span-btn background-list-gray btn-fine-adj1" href='javascript:;' name="bidList">编辑</a>
                <div class="table-content" style="width: 900px;margin: 10px 0 0 85px;max-height: 181px;overflow: auto;">
                    <table style="display: none;">
                        <thead>
                        <tr class="small">
                            <th class="border" style="width: 45px;">序号</th>
                            <th class="border">项目分类</th>
                            <th class="border">项目名称</th>
                            <th class="border">工作内容</th>
                            <th class="border">单位</th>
                            <th class="border" style="width: 60px;">数量</th>
                            <th class="border">说明</th>
                            <th class="border">操作</th>
                        </tr>
                        </thead>
                        <tbody id="bidList"></tbody>
                    </table>
                </div>
            </div>
            <div class="item clearfix" style="margin-bottom: 5px">
                <label class="bold-title label-block int-small8 fl" style="vertical-align: middle;line-height: 30px;"><i
                            class="icon-fill-in">*</i>投标邀请 : </label>
                <a style="" class="span-btn background-list-gray btn-fine-adj1" href='javascript:;' name="checkSupplier">选择供应商</a>
                <span>已邀请投标单位: <span class="sup-count">0</span></span>
                <div class="supplierList"></div>
                <div class="table-content" style="width: 900px;margin: 10px 0 0 85px;max-height: 181px;overflow: auto;">
                    <table style="display: none;">
                        <thead>
                        <tr class="small">
                            <th class="border" style="width: 45px;">序号</th>
                            <th class="border">单位类别</th>
                            <th class="border">单位名称</th>
                            <th class="border">管理员</th>
                            <th class="border">绑定手机</th>
                            <th class="border">税务类型</th>
                            <th class="border">营业执照</th>
                            <th class="border">业务范围</th>
                            <th class="border">操作</th>
                        </tr>
                        </thead>
                        <tbody id="bidInvitation">
                        </tbody>
                    </table>
                </div>
            </div>
            <!--<div class="item clearfix" style="margin-bottom: 5px;line-height: 30px;">-->
                <!--<label class="bold-title label-block int-small8 fl" style="vertical-align: middle;line-height: 30px;"><i-->
                            <!--class="icon-fill-in">*</i>设置 : </label>-->
                <!--&lt;!&ndash;<a style="" class="span-btn background-list-gray btn-fine-adj1" href='javascript:;'>设置</a>&ndash;&gt;-->
                <!--<input type="radio" name="visible"><span>平台所有人可见</span>-->
                <!--<input type="radio" name="visible"><span>仅被邀请方可见</span>-->
            <!--</div>-->
        </div>
    </div>
    <div style="margin: 15px 0 15px 750px;">
        <span class="span-btn span-btn-bc confirm-active cancel-edit">取消</span>
        <span class="span-btn span-btn-bc confirm-active submit" data-type="save">保存</span>
        <!--<span class="span-btn review submit" style="margin: 0 10px;" data-type="preview">预览</span>-->
        <span class="span-btn span-btn-bc confirm-active submit" data-type="submit">发布</span>
    </div>
</div>

