<div class="container-list-wrap material-detail">
    <div class="common-header">
        <div class="search-form">
            <div class="item">
                <label>材料编号:</label>
                <span class="form-item">JHZSDT08</span>
            </div>
            <div class="item">
                <label>预计资金:</label>
                <span class="form-item special-text">1000000.00元</span>
            </div>
            <div class="item">
                <label>计划人:</label>
                <span class="form-item">李善人</span>
            </div>
            <div class="item">
                <label>采购人:</label>
                <span class="form-item">王洪熙</span>
            </div>
            <div class="item">
                <label>实付资金:</label>
                <input type="text" />
            </div>
            <div class="item">
                <label>含税材料:</label>
                <input type="text" />
            </div>
            <div class="item">
                <label>计划采购外采购:</label>
                <input type="text" />
            </div>
            <div class="item">
                <label>辅材费:</label>
                <input type="text" />
            </div>
            <div class="item">
                <label>实付账款:</label>
                <input type="text" />
            </div>
            <div class="item">
                <label>应付账款:</label>
                <input type="text" />
            </div>
            <div class="item">
                <label>其他应付款:</label>
                <input type="text" />
            </div>
            <div class="item">
                <label>实际计划外采购:</label>
                <input type="text" />
            </div>
            <div class="item">
                <label>实际辅材费:</label>
                <input type="text" />
            </div>
        </div>
    </div>
    <div class="table-content">
        <table>
            <thead>
            <tr>
                <th class="border">序号</th>
                <th class="border">采购数量</th>
                <th class="border">采购单价</th>
                <th class="border">采购合价</th>
                <th class="border">供货单位</th>
                <th class="border">采购时间</th>
                <th class="border">记账款项</th>
                <th class="border">含税</th>
                <th class="border">异常</th>
                <th class="border">备忘</th>
            </tr>
            </thead>
            <tbody>
            <tr class="reversion"></tr>
            <tr>
                <td class="border background" colspan="10">
                    <div class="td-item">
                        <label>分部名称:</label>
                        <span>测试放豆腐</span>
                    </div>
                    <div class="td-item">
                        <label>材料分类:</label>
                        <span>测试放豆腐</span>
                    </div>
                    <div class="td-item">
                        <label>材料名称:</label>
                        <span>测试放豆腐</span>
                    </div>
                    <div class="td-item">
                        <label>规格型号:</label>
                        <span>测试放豆腐</span>
                    </div>
                    <div class="td-item">
                        <label>单位:</label>
                        <span>测试放豆腐</span>
                    </div>
                    <div class="td-item">
                        <label>数量:</label>
                        <span>测试放豆腐</span>
                    </div>
                    <div class="td-item">
                        <label>单价:</label>
                        <span>测试放豆腐</span>
                    </div>
                    <div class="td-item">
                        <label>合价:</label>
                        <span>测试放豆腐</span>
                    </div>
                    <div class="td-item">
                        <label>说明:</label>
                        <span>测试放豆腐</span>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="border">1</td>
                <td class="border">
                    <input type="text" />
                </td>
                <td class="border">
                    <input type="text" />
                </td>
                <td class="border">
                    <input type="text" />
                </td>
                <td class="border">
                    <input type="text" />
                </td>
                <td class="border">
                    <input type="date" />
                </td>
                <td class="border">
                    <input type="text" />
                </td>
                <td class="border">
                    <input type="checkbox" />
                </td>
                <td class="border">
                    <input type="checkbox" />
                </td>
                <td class="border">
                    <input type="checkbox" />
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>