<div class="container-list-wrap">
    <div class="table-content">
        <div>
            <div>
                <label>费用编号:</label>
                <span>JHZSDT08-M01/3</span>
            </div>
            <div>
                <label>实付账款:</label>
                <span>JHZSDT08-M01/3</span>
            </div>
            <div>
                <label>含税金额:</label>
                <span>JHZSDT08-M01/3</span>
            </div>
            <div>
                <label>经办人:</label>
                <span>JHZSDT08-M01/3</span>
            </div>
            <div>
                <label>供货单位:</label>
                <span>JHZSDT08-M01/3</span>
            </div>
            <div>
                <label>联系电话:</label>
                <span>JHZSDT08-M01/3</span>
            </div>
        </div>
        <div>
            <label>款项负责人:</label>
            <select>
                <option></option>
            </select>
        </div>
        <div>
            <label>费用说明:</label>
            <textarea />
        </div>
    </div>
</div>