<div class="bidding-plan plan-page page-budget">
    <div class="budget-title">
        <span class="bidPlanName">招标计划</span>
        <label style="margin-left: 10px;font-size: 12px;">材料编号:</label>
        <span style="font-size: 12px;" class="materialManagerNO"></span>
        <span class="icon-close" style="position: absolute;right: 20px;margin-top:15px"></span>
    </div>
    <div class="budget-menus" style="padding-left: 20px">
        <a class="item " href="javascript:void(0)"
           data-type="material-plan">
            <span class="menu-line"></span>
            招标清单
        </a>
        <a class="item" href="javascript:void(0)"
           data-type="success-full">
            <span class="menu-line"></span>
            中标清单
        </a>
    </div>
    <div class="clr"></div>
    <div id="materialBiddingPlanDetail"
         style="position: absolute;bottom: 40px;top: 88px;left: 0;right: 0;overflow: auto" class="materialPlanDetail"></div>
</div>