<div class="material-plan plan-page page-budget">
    <div class="budget-title">
        <span class='bidPlanName' style="font-weight: bold;font-size: 14px;">采购计划</span>
        <label style="margin-left: 10px;font-size: 12px;">材料编号:</label>
        <span style="font-size: 12px" class="materialManagerNO"></span>
        <span class="icon-close" style="position: absolute;right: 20px;margin-top:15px"></span>
        <label class="bold-title" style="font-size: 12px;margin-left: 5px;">异常项</label>
        <span class="color" style="color: #ed6214;" name="excpCount">0项</span>
        <label style="font-size: 12px;margin-left: 10px">状态:</label>
        <span style="font-size: 12px" name="approval"></span>
    </div>
    <div class="budget-menus" style="padding-left: 20px">
        <a class="item " href="javascript:void(0)" data-type="material-plan">
            <span class="menu-line"></span>
            计划单
        </a>
        <a class="item" href="javascript:void(0)" data-type="purchase-order">
            <span class="menu-line"></span>
            采购单
        </a>
        <a class="item" href="javascript:void(0)" data-type="check-order">
            <span class="menu-line"></span>
            点收单
        </a>
        <a class="item" href="javascript:void(0)" data-type="cost-order">
            <span class="menu-line"></span>
            费用单
        </a>
    </div>
    <div class="clr"></div>
    <div id="materialPlanDetail"
         style="margin-top: 10px;overflow: auto"
         class="materialPlanDetail"></div>
</div>
