<div class="model-project-common" style="width: 320px;">
    <div class="model-section">
        <div class="modal-form" style="margin-bottom: 20px">
            <label class="bold-title">下载模版:</label>
            <a class="span-color-blue" style="text-decoration: underline;cursor: pointer;">点击下载</a>
        </div>
        <div class="modal-form" style="margin-bottom: 20px">
            <label class="bold-title">上传导入:</label>
            <a class="span-color-blue" style="text-decoration: underline;cursor: pointer;">点击上传</a>
        </div>
        <div class="modal-form">
            <label class="bold-title">初始密码:</label>
            <input type="text" class="int int-default" placeholder="请输入密码">
        </div>
    </div>
    <div class="model-footer">
        <span class="span-btn">确定</span>
        <span class="span-btn span-btn-bc confirm-active">取消</span>
    </div>
</div>