<div id="noInfoAttentionManager_main" class="table-content attentionManage" style="margin: 0;">
    <table>
        <thead>
        <tr>
            <th style="padding-left: 20px;width: 160px;">设备名称</th>
            <th>考勤地点</th>
            <th style="width: 120px;">设备状态</th>
            <th style="width: 120px;">同步人数</th>
            <th style="width: 120px;">考勤人员</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody id="adtMachineTable"></tbody>
    </table>
</div>
<!--<div name="noInfoAttentionManager_page" id="page" style="margin: 20px 0;"></div>-->
<div class='noInfo' id='noInfoAttentionManager'>
    <div class="icon-uninformed"></div>
    <p>没有符合条件的信息！</p>
</div>