<div class="model-project-common modal-employee-add modal-employee-select">
    <div class="employee-select-section">
        <div class="company company-employee">
            <div class="company-header">公司结构</div>
            <div class="company-str">
                <ul class="level1"></ul>
            </div>
        </div>
        <div class="company employee-result">
            <div class="company-header">选择结果</div>
            <div class="add-employee-results">
                <ul class="result"></ul>
            </div>
        </div>
    </div>
    <div class="model-footer">
        <span class="span-btn select-confirm">确定</span>
        <span class="span-btn span-btn-bc confirm-active" data-model-close>取消</span>
    </div>
</div>