<!---->
<div class="material-manager-modal" style="height: 220px;display: block;position: fixed">
    <div class="material-section">
        <div class="modal-form">
            <div>
                <label style="float:left;">内容:</label>
                <textarea class="int int-default" style="height: 112px;width: 307px;resize: none;margin-left: 3px;"
                          placeholder="请输入内容"></textarea>
            </div>
            <div style="margin-top: 10px;">
                <label>时间:</label>
                <input type="date" class="int int-default">
                <select class="int int-default" style="width: 50px" id="hour">
                    <option value="0">0</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                    <option value="11">11</option>
                    <option value="12">12</option>
                    <option value="13">13</option>
                    <option value="14">14</option>
                    <option value="15">15</option>
                    <option value="16">16</option>
                    <option value="17">17</option>
                    <option value="18">18</option>
                    <option value="19">19</option>
                    <option value="20">20</option>
                    <option value="21">21</option>
                    <option value="22">22</option>
                    <option value="23">23</option>
                    <option value="24">24</option>
                </select>
                <select class="int int-default" style="width:50px;" id="minute"></select>
            </div>
        </div>
        <div style="text-align: right;margin-top: 10px">
            <span class="span-btn delete" style="background-color:#c79521;">删除</span>
            <span class="span-btn save">保存</span>
            <span class="span-btn span-btn-bc confirm-active" data-model-close>取消</span>
        </div>
    </div>
    <div class="triangle-left bebebe"></div>
    <div class="triangle-left ffffff"></div>
</div>