<div class="table-content" style="display: none;">
    <table>
        <thead>
        <tr>
            <th class="border" style="width: 45px;">
                <input type="checkbox" id="enterpriseCheck"/>
            </th>
            <th class="border" style="width: 45px;">序号</th>
            <th class="border">姓名</th>
            <th class="border">电话</th>
            <th class="border">性别</th>
            <th class="border">出生年月</th>
            <th class="border">籍贯</th>
            <th class="border">相关证照</th>
            <th class="border">工种</th>
            <th class="border">考勤状态</th>
            <th class="border Competence" style="width: 80px;">操作</th>
        </tr>
        </thead>
        <tbody id="enterpriseLibrary"></tbody>
    </table>
</div>