<div id="noInfoKnowledgeTypeTable_main" class="table-content" style="margin: 0;display: none;">
    <table>
        <thead>
        <tr>
            <th style="padding-left: 20px">序号</th>
            <th>类型名称</th>
            <th>描述</th>
            <th>创建日期</th>
            <th>数量</th>
            <th class="Competence">操作</th>
        </tr>
        </thead>
        <tbody id="knowledgeTypeTable"></tbody>
    </table>
</div>
<div class='noInfo' id='noInfoKnowledgeTypeTable'>
    <div class="icon-uninformed"></div>
    <p>没有符合条件的信息！</p>
</div>