<div id="knowledgeDetail" data-id="<%- id %>" data-type="<%- Type %>" class="knowledge-detail active zc">
    <div style="border-top: none" class="knowledge-title" name="title"></div>
    <div class="knowledge-info">
        <div class="info-item">
            <label>类型 :</label>
            <span name="type" style="margin-top: -4px;"></span>
            <label>发布人 :</label>
            <span name="userName" style="margin-top: -4px;"></span>
            <label>发布时间 :</label>
            <span name="addTime" style="margin-top: -4px;"></span>
        </div>
        <div class="info-item" style="padding-bottom: 8px">
            <label>来源 :</label>
            <span name="source" style="margin-top: -4px;"></span>
            <label>原作者 :</label>
            <span name="author" style="margin-top: -4px;"></span>
            <label>浏览次数 :</label>
            <span name="browseTimes" style="margin-top: -4px;width: 40px;"></span>
            <span id='checkBrower'
                  style="width: 40px;color: #009941;cursor:pointer;margin-top: -4px;">查看</span>
            <label>网址链接 :</label>
            <span name="linkAddress" style="color:#229aee;margin-top: -4px;">www.baidu.com</span>
        </div>
    </div>
    <div class="knowledge-summary">
        <label>寄语/摘要 :</label>
        <span name="summary"></span>
    </div>
    <p style="padding: 10px 0;" class="knowledge-content"></p>
    <div class="knowledge-attach">
        <label>附件 :</label>
        <div class="attach-list">
            <!--<div class='attach-item'>
                <div class='icon icon-none'></div>
                <div class='detail'>
                    <div class='filename'>发生的发生地方</div>
                    <div class='remove'>
                        <a>下载</a>
                        <a>预览</a>
                    </div>
                </div>
            </div>-->
        </div>
    </div>
</div>