<div style="display: none;" class="table-content">
    <table>
        <thead>
        <tr>
            <th style="width: 45px;" class="border">
                <input type="checkbox" id="enterpriseCheck" />
            </th>
            <th style="width: 45px;" class="border">序号</th>
            <th style="width: 150px;" class="border">供应商名称</th>
            <th style="width: 80px;" style="width: 60px;" class="border">管理员</th>
            <th style="width: 100px;" class="border">绑定手机</th>
            <th class="border">经营范围</th>
            <th class="border">地址</th>
            <th style="width: 80px;" class="border">税务类型</th>
            <th style="width: 70px;" class="border">相关证照</th>
            <th style="width: 70px;" class="border">银行信息</th>
            <th style="width: 80px;" class="border Competence">操作</th>
        </tr>
        </thead>
        <tbody id="enterpriseLibrary">
        </tbody>
    </table>
</div>