<div style="display: none;" class="table-content">
    <table>
        <thead>
        <tr>
            <th style="width: 45px;" class="border">
                <input type="checkbox" id="enterpriseCheck" />
            </th>
            <th style="width: 45px;" class="border">序号</th>
            <th class="border">供应商名称</th>
            <th style="width: 60px;" class="border">管理员</th>
            <th class="border">绑定手机</th>
            <th class="border">经营范围</th>
            <th class="border">地址</th>
            <th class="border">税务类型</th>
            <th class="border">相关证照</th>
            <th style="width: 70px;" class="border">银行信息</th>
            <th style="width: 80px;" class="border Competence">操作</th>
        </tr>
        </thead>
        <tbody id="enterpriseLibrary">
        <!--<tr class="active">
            <td class="border"><input type="checkbox" /></td>
            <td class="border">1</td>
            <td class="border"><div></div></td>
            <td class="border">李山上</td>
            <td class="border"></td>
            <td class="border"><div></div> </td>
            <td class="border"><div class="icon-arrow"></div></td>
            <td class="border"><a>查看</a></td>
            <td class="border">3</td>
            <td class="border">0</td>
            <td class="border">
                <a>修改</a>
                <div class="icon-line"></div>
                <a>删除</a>
            </td>
        </tr>-->
        </tbody>
    </table>
</div>