<div id="noInfoAttentionTable_main" class="table-content" style="display: none;">
    <table>
        <thead>
        <tr>
            <th style="padding-left: 20px;width: 60px;">序号</th>
            <th>工程名称</th>
            <th style="width: 200px;">状态</th>
            <th style="width: 200px;">操作</th>
        </tr>
        </thead>
        <tbody id="attentionTable"></tbody>
    </table>
</div>
<div id="page" style="margin: 20px 0;"></div>
