<div class="modal-employee-add add-or-update">
    <div class="employee-section">
        <div class="item">
            <label><i>*</i>姓名:</label>
            <input type="text" class="name" placeholder="请输入新人姓名" />
        </div>
        <div class="clr"></div>
        <div class="item">
            <label><i>*</i>性别:</label>
            <label class="no-float"><input type="radio" value="1" name="sex" />男</label>
            <label class="no-float"><input type="radio" value="2" name="sex" />女</label>
        </div>
        <div class="clr"></div>
        <div class="item">
            <label><i>*</i>年龄:</label>
            <input type="text" class="age" placeholder="请输入年龄" />
        </div>
        <div class="item">
            <label><i>*</i>联系电话:</label>
            <input type="text" class="mobile" placeholder="请输入联系方式" />
        </div>
        <div class="item">
            <label><i>*</i>项目部职务:</label>
            <input type="text" class="job" placeholder="请输入担任职务" />
        </div>
    </div>
    <div class="employee-footer">
        <span class="add-update-save">确定</span>
        <span class="add-update-cancel" data-model-close>取消</span>
    </div>
</div>