<div class="modal-employee-add">
    <div class="employee-section">
        <div class="item">
            <label><i>*</i>工程类型:</label>
            <select class="preType"></select>
        </div>
        <div class="clr"></div>
        <div class="item">
            <label><i>*</i>工程名称:</label>
            <select class="preName"></select>
        </div>
        <div class="clr"></div>
        <div class="item">
            <label><i>*</i>项目编号:</label>
            <input type="text" disabled class="preNo" />
        </div>
        <div class="clr"></div>
        <div class="item">
            <label><i>*</i>项目名称:</label>
            <input type="text" class="itemName" placeholder="请输入项目部名称" />
        </div>
        <div class="clr"></div>
        <div class="item">
            <label><i>*</i>项目分类:</label>
            <select class="itemType"></select>
        </div>
    </div>
    <div class="employee-footer">
        <span class="add-save">保存</span>
        <span class="add-cancel" data-model-close>取消</span>
    </div>
</div>