<div class="modal-employee-add modal-employee-type model-project-common">
    <div class="employee-section employee-type-section model-section modal-form">
        <div class="item">
            <label class="label-block bold-title int-small8"><i class="icon-fill-in">*</i>类型名称:</label>
            <input type="text" class="typeName int int-default" placeholder="请输入项目类型名称" />
        </div>
        <div class="clr"></div>
        <div class="item">
            <label class="label-block bold-title int-small8"><i class="icon-fill-in">*</i>类型名称:</label>
            <textarea style="height: 150px;width: 416px;" class="typeDesc default int int-default" placeholder="请输入类型描述,不超过36个字符。"></textarea>
        </div>
    </div>
    <div class="employee-footer model-footer">
        <span class="span-btn type-save">确定</span>
        <span class="span-btn span-btn-bc confirm-active type-cancel" data-model-close>取消</span>
    </div>
</div>