<div class="modal-employee-del">
    <div class="del-title">
        确认删除
    </div>
    <div class="del-content">
        测试
    </div>
    <div class="del-footer">
        <span class="del-confirm">是</span>
        <span class="del-cancel" data-model-close>否</span>
    </div>
</div>