<div style="line-height: 30px;" class="clearfix">
        <select class="fl" style="height: 30px;width: 80px;margin-right: 8px;border-radius: 3px;outline: none;" id="s_province">
            <option value="">省</option>
        </select>  
        <select class="fl" style="height: 30px;width: 80px;margin-right: 8px;border-radius: 3px;outline: none;" id="s_city">
            <option value="">市</option>
        </select>  
        <select class="fl" style="height: 30px;width: 80px;border-radius: 3px;outline: none;" id="s_county">
            <option value="">县/区</option>
        </select>
    </div>
</div>