<div class="labor-status">
    <div class="clearfix" style="padding: 0 10px;">
        <span class="labor-title fl" style="line-height: 30px;">人力动态</span>
        <div class="fl" style="margin-left: 30px;">
            <label>时间单位 :</label>
            <select class="int int-default int-small14 timeType">
                <option value="1">日</option>
                <option value="2">周</option>
                <option value="3">月</option>
            </select>
            <span class="span-btn background-9441 btn-fine-adj1" id="statusSearch">确定</span>
            <div class="fr" style="line-height: 30px;margin-left: 180px;">
                <label>今日考勤人员 :</label>
                <span name="attendCount" style="font-weight: bold;font-size: 14px"></span>
                <label style="margin-left: 35px;">当前缺少劳动力 :</label>
                <span name="requireCount" style="font-weight: bold;font-size: 14px"></span>
            </div>
        </div>
    </div>
    <div class="clearfix" style="min-width: 1240px;">
        <div class="fl" style="height: 350px;width: 900px;" id="laborStatus"></div>
        <div class="fl labor-status-table" style="margin-top: 20px;width: 300px;max-height: 300px;">
            <table style="width: 100%;">
                <tr>
                    <td>统计周期</td>
                    <td style="width: 120px;" class='period'></td>
                </tr>
            </table>
        </div>
    </div>
</div>
<div class="labor-structure">
    <div class="clearfix" style="padding: 0 10px;">
        <span class="labor-title fl" style="line-height: 30px;">人力结构</span>
        <div class="fl" style="margin-left: 30px;position: relative;">
            <label>日历查询 :</label>
            <div style="display: inline-block;vertical-align: middle;line-height: 30px;color: #333333;cursor: pointer;width: 240px;" class="int int-default int-small14 check-date"></div>
            <span class="span-btn background-9441" id="structureSearch">确定</span>
            <span class="icon-enterprise-calendar" style="position: absolute;top: 6px;right: 80px;"></span>
        </div>
    </div>
    <div class="clearfix" style="min-width: 1240px;">
        <div class="fl" id="laborStructure" style="width: 900px;height: 350px;"></div>
        <div class="fl labor-structure-table" style="margin-top: 20px;width: 300px;">
            <table style="width: 100%;">
                <tr>
                    <td style="width: 91px;">统计周期</td>
                    <td class="current-time"></td>
                </tr>
                <tr>
                    <td>班组名称</td>
                    <td class="team-name"></td>
                </tr>
                <tr>
                    <td>班组总出勤</td>
                    <td class="attend-count"></td>
                </tr>
                <tr>
                    <td>占总出勤</td>
                    <td class="attend-per"></td>
                </tr>
                <tr>
                    <td>当前总出勤</td>
                    <td class="total-count"></td>
                </tr>
            </table>
        </div>
    </div>
</div>