<div class="modal-form" style="position: relative; padding:20px 0 10px 10px;border-bottom: 1px solid #e9e9e9;">
    <span style="font-weight: bold" class="bold-title">收支状况</span>
    <div style="position: absolute;left: 130px;top: 20px;">
        <label style="margin-left: 20px;color: #666;font-size: 12px">实收/实付账款 :</label>
        <span style="display: inline-block;width: 20px;height: 12px;border-radius: 4px;background-color: #74a082;vertical-align: middle;"></span>
        <label style="margin-left: 20px;color: #666;font-size: 12px">应收/应付账款 :</label>
        <span style="display: inline-block;width: 20px;height: 12px;border-radius: 4px;background-color: #61A1A6;vertical-align: middle;"></span>
        <label style="margin-left: 20px;color: #666;font-size: 12px">预期结算金额 :</label>
        <span style="display: inline-block;width: 20px;height: 12px;border-radius: 4px;background-color: #f0f0f0;border: 1px solid #bebebe;vertical-align: middle;"></span>
    </div>
    <div style="position: absolute; right: 0;top: 50%;margin-top: -15px;font-size: 12px;">
        <a style="margin: 0 10px;" class="span-btn background-list-gray complactData"
           href="/project/financial/report/<%- id %>?name=<%- name %>">结转报告</a>
        <span class="span-btn background-list-gray" id="totalReceivableUpdate">总账更新</span>
        <span class="span-btn background-list-gray" id="editComments">评估意见</span>
    </div>
</div>
<div class="modal-form" style="padding: 20px">
    <label class="bold-title">合同金额 :</label>
    <span class="span-color-blue contractMoney">0</span>
    <span class="span-color-blue">元</span>
    <label class="bold-title" style="margin-left: 20px">预期结算金额 :</label>
    <span class="span-color-blue excpMoney">0</span>
    <span class="span-color-blue">元</span>
    <label class="bold-title" style="margin-left: 20px">未冲抵预付款 :</label>
    <span class="span-color-blue unRelativePrepayMoney">0</span>
    <span class="span-color-blue">元</span>
    <label class="bold-title" style="margin-left: 20px">待提供税票金额 :</label>
    <span class="span-color-blue unProvideTaxMoney">0</span>
    <span class="span-color-blue">元</span>
</div>
<div class="modal-form" style="position: relative;padding: 15px 20px">
    <div class="" style="margin-bottom: 13px;">
        <label class="bold-title">总产值 :</label>
        <span class="outputMoney">0</span>
        <span>元</span>
    </div>
    <div class="" style="margin-bottom: 13px;">
        <label class="bold-title">应收账款 :</label>
        <span class="shouldRecMoney">0</span>
        <span>元</span>
    </div>
    <div class="" style="margin-bottom: 13px;">
        <label class="bold-title">实收账款 :</label>
        <span class="actRecMoney">0</span>
        <span>元</span>
    </div>
    <div style="position:absolute;top:0px;width: 600px;left:300px;padding-top: 45px;" id="costBudgetData"></div>
</div>

<div class="modal-form" style="position: relative; padding: 15px 20px">
    <div class="" style="margin-bottom: 13px;">
        <label class="bold-title">实付账款 :</label>
        <span class="costMoney"></span>
        <span>元</span>
    </div>
    <div class="" style="margin-bottom: 13px;">
        <label class="bold-title">应付账款 :</label>
        <span class="payableMoney"></span>
        <span>元</span>
    </div>
    <div style="position:absolute;top:0px;width: 600px;left:300px;padding-top: 25px; " id="payMoneyData"></div>
</div>
<div class="modal-form" style="position: relative;margin-top: 20px; padding:10px;border-bottom: 1px solid #e9e9e9">
    <span style="font-weight: bold" class="bold-title">总价风险评估</span>
    <label style="font-size: 12px;margin-left: 20px">产值/预期 :</label>
    <span style="font-size: 12px" class="judgePer"></span>
    <label style="margin-left: 80px;color: #666;font-size: 12px">正常 :</label>
    <span class="icon-piece piece-bc-009441"
          style="margin-right: 20px;width: 20px;height: 12px;border-radius: 4px"></span>
    <!--<label style="color: #666;font-size: 12px">可控 :</label>-->
    <!--<span class="icon-piece" style="margin-right: 20px;width: 20px;height: 12px;border-radius: 4px"></span>-->
    <label style="color: #666;font-size: 12px">危险 :</label>
    <span class="icon-piece piece-bc-e33d14"
          style="margin-right: 20px;width: 20px;height: 12px;border-radius: 4px"></span>
</div>
<div class="table-content">
    <table style="table-layout: fixed;">
        <tbody id="RiskManagement"></tbody>
    </table>
</div>
<div class="modal-form" style="position: relative; padding:10px;margin-top: 15px;">
    <span style="font-weight: bold" class="bold-title">分部风险评估</span>
    <span style="margin-left: 10px;font-size: 12px">( 动态比 | <div class="icon-piece piece-bc-f8f8f8"></div> | 动态支出 )</span>
</div>
<div style="margin-top: 0;min-width: 1200px;" class="table-content" >
    <table style="table-layout: fixed;">
        <thead>
        <tr>
            <th style="width: 100px;">分部</th>
            <th style="width: 136px;padding-left: 105px;">动态成本</th>
            <th style="width: 136px;padding-left: 105px;">材料费</th>
            <th style="width: 136px;padding-left: 105px;">人工费</th>
            <th style="width: 136px;padding-left: 105px;">措施费</th>
            <th style="width: 136px;padding-left: 105px;">分包费</th>
        </tr>
        </thead>
        <tbody id="subProjectData"></tbody>
    </table>
</div>
