<%- include('../../layout/header') %>
<div class="container">
    <div class="span-left">
        <%- include('../nav') %>
    </div>
    <div class="span-right span-right-near">
        <div class="container-list">
            <div class="container-header">
                <div class="common-header word">
                    财务数据更新
                </div>
            </div>
            <div class="container-list-warp">
                <div class="table-content" style="width: 630px;margin-top: 20px">
                    <table>
                        <thead>
                        <tr>
                            <th class="border" style="min-width: 75px;max-width: 75px">名称</th>
                            <th class="border" style="min-width: 60px;max-width: 60px">填写次数</th>
                            <th class="border">时间</th>
                            <th class="border">金额</th>
                            <th class="border">累计</th>
                            <th class="border" style="min-width: 90px;max-width: 90px">操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td class="border">计算金额</td>
                            <td class="border">1</td>
                            <td class="border">
                                <input type="date" placeholder="请填写" />
                            </td>
                            <td class="border">
                                <input type="text" placeholder="请填写" />
                            </td>
                            <td class="border">
                                <input type="text" placeholder="系统累计" disabled />
                            </td>
                            <td class="border">
                                <a>增加行</a>
                                <div class="icon-line"></div>
                                <a>修改</a>
                                <div class="icon-line"></div>
                                <a>删除</a>
                            </td>
                        </tr>
                        </tbody>
                        <tbody>
                        <tr>
                            <td rowspan="2" class="border">产值</td>
                            <td class="border">1</td>
                            <td class="border">
                                <input type="date" placeholder="请填写" />
                            </td>
                            <td class="border">
                                <input type="text" placeholder="请填写" />
                            </td>
                            <td class="border">
                                <input type="text" placeholder="系统累计" disabled />
                            </td>
                            <td class="border">
                                <a>增加行</a>
                                <div class="icon-line"></div>
                                <a>修改</a>
                                <div class="icon-line"></div>
                                <a>删除</a>
                            </td>
                        </tr>
                        <tr>
                            <td class="border">1</td>
                            <td class="border">
                                <input type="date" placeholder="请填写" />
                            </td>
                            <td class="border">
                                <input type="text" placeholder="请填写" />
                            </td>
                            <td class="border">
                                <input type="text" placeholder="系统累计" disabled />
                            </td>
                            <td class="border">
                                <a>增加行</a>
                                <div class="icon-line"></div>
                                <a>修改</a>
                                <div class="icon-line"></div>
                                <a>删除</a>
                            </td>
                        </tr>
                        </tbody>
                        <tbody>
                        <tr>
                            <td class="border">应收账款</td>
                            <td class="border">1</td>
                            <td class="border">
                                <input type="date" placeholder="请填写" />
                            </td>
                            <td class="border">
                                <input type="text" placeholder="请填写" />
                            </td>
                            <td class="border">
                                <input type="text" placeholder="系统累计" disabled />
                            </td>
                            <td class="border">
                                <a>增加行</a>
                                <div class="icon-line"></div>
                                <a>修改</a>
                                <div class="icon-line"></div>
                                <a>删除</a>
                            </td>
                        </tr>
                        </tbody>
                        <tbody>
                        <tr>
                            <td class="border">实收账款</td>
                            <td class="border">1</td>
                            <td class="border">
                                <input type="date" placeholder="请填写" />
                            </td>
                            <td class="border">
                                <input type="text" placeholder="请填写" />
                            </td>
                            <td class="border">
                                <input type="text" placeholder="系统累计" disabled />
                            </td>
                            <td class="border">
                                <a>增加行</a>
                                <div class="icon-line"></div>
                                <a>修改</a>
                                <div class="icon-line"></div>
                                <a>删除</a>
                            </td>
                        </tr>
                        </tbody>
                        <tbody>
                        <tr>
                            <td class="border">其他应收款</td>
                            <td class="border">1</td>
                            <td class="border">
                                <input type="date" placeholder="请填写" />
                            </td>
                            <td class="border">
                                <input type="text" placeholder="请填写" />
                            </td>
                            <td class="border">
                                <input type="text" placeholder="系统累计" disabled />
                            </td>
                            <td class="border">
                                <a>增加行</a>
                                <div class="icon-line"></div>
                                <a>修改</a>
                                <div class="icon-line"></div>
                                <a>删除</a>
                            </td>
                        </tr>
                        </tbody>
                        <tbody>
                        <tr>
                            <td class="border">合计</td>
                            <td class="border">/</td>
                            <td class="border">2017/02/15</td>
                            <td class="border">
                                <input type="text" placeholder="系统计算" disabled />
                            </td>
                            <td class="border">
                                <input type="text" placeholder="系统累计" disabled />
                            </td>
                            <td class="border">/</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>