<div class="container-list-warp material-list">
    <div class="common-header">
        <div class="search-form">
            <div class="item">
                <label>款项类别:</label>
                <select>
                    <option></option>
                </select>
            </div>
            <div class="item span-btn-right3">
                <label>款项类别:</label>
                <select>
                    <option></option>
                </select>
            </div>
        </div>
        <div class="search-position">
            <a class="select-active">显示未确认费用单</a>
            <input class="int int-default" placeholder="请输入关键字进行查找" />
            <span class="span-btn">查询</span>
        </div>
    </div>
    <div class="table-content">
        <table>
            <thead>
            <tr>
                <th class="border">序号</th>
                <th class="border">款项来源</th>
                <th class="border">款项类别</th>
                <th class="border">费用类别</th>
                <th class="border">费用说明</th>
                <th class="border">费用确认时间</th>
                <th class="border">应付账金额</th>
                <th class="border">税票金额</th>
                <th class="border">经办人</th>
                <th class="border">合作/供应商</th>
                <th class="border">审核状态</th>
                <th class="border">操作</th>
                <th class="border">查看</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td class="border">1</td>
                <td class="border">材料采购</td>
                <td class="border">应付账款</td>
                <td class="border">人工费</td>
                <td class="border">胡家庙站气体灭火官网工程智能化系统设备</td>
                <td class="border">2017/02/15</td>
                <td class="border">512781.00</td>
                <td class="border">114753.00</td>
                <td class="border">李山上</td>
                <td class="border">
                    西安团队建筑装饰工程有限公司
                </td>
                <td class="border">审批中</td>
                <td class="border">
                    <!--审批 撤销 -->
                    <!--未提交 应付款核算 删除 -->
                    <!--被驳回 编辑 删除 -->
                    <a>应付款核算</a>
                    <div class="icon-line"></div>
                    <a>删除</a>
                </td>
                <td class="border">
                    <a>审批流程</a>
                    <div class="icon-line"></div>
                    <a>结算单详情</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>