<div class="table-content" style="margin: 0;">
    <table>
        <thead>
        <tr>
            <th style="padding-left: 20px;width: 150px;">职务名称</th>
            <th style="width: 150px;">人数</th>
            <th>姓名</th>
            <th style="width: 130px">操作</th>
        </tr>
        </thead>
        <tbody id="roleEmployeeTable"></tbody>
    </table>
</div>