<div class="table-content" style="margin:0;">
    <table>
        <thead>
        <tr>
            <th style="width: 150px;padding-left: 20px;">职位名称</th>
            <th>描述</th>
            <th style="width: 100px;">操作</th>
        </tr>
        </thead>
        <tbody id="projectJobTable"></tbody>
    </table>
</div>