<script type="text/javascript" src="/dist/lib/laydate.js"></script>
<script type="text/javascript" src="/dist/lib/jquery.jedate.min.js"></script>
<script type="text/javascript" src="/dist/lib/echarts.min.js"></script>
<script type="text/javascript" src="/dist/lib/Sortable.min.js"></script>
<script type="text/javascript" src="/dist/lib/FileSaver.min.js"></script>
<script type="text/javascript" src="/dist/lib/html2canvas.min.js"></script>
<script type="text/javascript" src="/dist/lib/tableExport.min.js"></script>
</body>

</html>