<!DOCTYPE html>
<html lang="zh-CN" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta http-equiv="Content-Security-Policy"
          content="script-src 'self' 47.94.196.20 data: 'unsafe-eval' 'unsafe-inline'; frame-src 'self';"/>
    <title id="htmlTitle"><%- title %></title>
    <link rel="stylesheet" type="text/css" href="/dist/lib/css/laydate.css">
    <link rel="stylesheet" type="text/css" href="/dist/lib/css/jedate.css">
    <link rel="stylesheet" type="text/css" href="/dist/lib/css/default.css">
    <link rel="stylesheet" type="text/css" href="/dist/lib/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/dist/lib/css/jquery.vm-carousel.css">
    <link rel="stylesheet" type="text/css" href="/dist/main.css">
    <!--[if lt IE 9]>
    <script type="text/javascript">
        var str = "你的浏览器版本过低,建议使用高版本浏览器 :(";
        var str2 = "推荐使用:<a href='https://www.baidu.com/s?ie=UTF-8&wd=%E8%B0%B7%E6%AD%8C%E6%B5%8F%E8%A7%88%E5%99%A8' target='_blank' style='color:blue;'>谷歌</a>,"
                + "其他双核极速模式";
        +"<img src='../dist/images/browser-update.png'>";
        document.writeln("<pre style='text-align:center;color:#333;background-color:#fff; height:100%;border:0;position:fixed;top:0;left:0;width:100%;z-index:1234'>" +
                "<h2 style='padding-top:200px;margin:0'><strong>" + str + "<br/></strong></h2><h2>" +
                str2 + "</h2><h2 style='margin:0'><strong>如果你的使用的是双核浏览器,请切换到极速模式访问<br/></strong></h2></pre>");
        document.execCommand("Stop");
    </script>
    <![endif]-->
    <!--&lt;!&ndash;[if IE 8]>-->
    <!--<style>-->
    <!--.model-inner .show {-->
    <!-- -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#BF000000,endColorstr=#BF000000)";-->
    <!--background: url(0) no-repeat;-->
    <!--}-->

    <!--.UploadImage__image .desc {-->
    <!-- -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#BF000000,endColorstr=#BF000000)";-->
    <!--}-->

    <!--.UploadImage__add .proc {-->
    <!-- -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#BF000000,endColorstr=#BF000000)";-->
    <!--}-->
    <!--</style>-->
    <!--<![endif]&ndash;&gt;-->
    <script type='text/javascript' src="/dist/lib/jquery-1.9.1.min.js"></script>
    <script type='text/javascript' src="/dist/lib/moment.min.js"></script>
    <style type="text/css">
        h2 {
            margin-bottom: 40px;
            margin-top: 40px;
        }

        .vmc-centered {
            padding: 10px 0;
        }

        .vmc-centered img {
            transition: all 0.3s ease;
        }

        .vmc-centered .vmc_active img {
            transform: scale(1.2);
        }
    </style>
</head>
<body data-app-name='<%- appName %>' data-app-type='<%- nav %>'>

