<%- include('../../../layout/header') %>
<div class="model-project-common add-supplier-modal">
    <div class="model-section">
        <div class="modal-form">
            <div class="item">
                <label class="bold-title label-block int-small11">
                    <i class="icon-fill-in">*</i>
                    供应商类别:
                </label>
                <select class="int int-default int-middle26">
                    <option></option>
                </select>
            </div>
            <div class="item">
                <label class="bold-title label-block int-small11">
                    <i class="icon-fill-in">*</i>
                    供应商名称:
                </label>
                <input class="int int-default int-middle26" placeholder="请输入单位名称" />
            </div>
            <div class="item">
                <label class="bold-title label-block int-small11">
                    <i class="icon-fill-in">*</i>
                    联系人:
                </label>
                <input class="int int-default int-middle26" placeholder="请输入联系人" />
            </div>
            <div class="item">
                <label class="bold-title label-block int-small11">
                    <i class="icon-fill-in">*</i>
                    电话:
                </label>
                <input class="int int-default int-middle26" placeholder="请输入联系人电话" />
            </div>
            <div class="item">
                <label class="bold-title label-block int-small11" style="float: left;">
                    <i class="icon-fill-in">*</i>
                    经营/工作范围:
                </label>
                <textarea class="int textarea-default"
                          style="width: 260px"
                          placeholder="请简述经营(工作)范围"></textarea>
            </div>
            <div class="item">
                <label class="bold-title label-block int-small11">
                    <i class="icon-fill-in">*</i>
                    税务类型:
                </label>
                <input class="int int-default int-middle26" placeholder="请输入供应商税务类型" />
            </div>
            <div class="item">
                <label class="bold-title label-block int-small11">
                    <i class="icon-fill-in">*</i>
                    开户名:
                </label>
                <input class="int int-default int-middle26" placeholder="请输入开户名" />
            </div>
            <div class="item">
                <label class="bold-title label-block int-small11">
                    <i class="icon-fill-in">*</i>
                    开户行:
                </label>
                <input class="int int-default int-middle26" placeholder="请输入开户行名称" />
            </div>
            <div class="item">
                <label class="bold-title label-block int-small11">
                    <i class="icon-fill-in">*</i>
                    账号:
                </label>
                <input class="int int-default int-middle26" placeholder="请输入开户行名称" />
            </div>
            <div class="item">
                <label class="bold-title label-block int-small11" style="color: #009941">
                    <span class="icon-arrow"></span>上传附件
                </label>
            </div>
        </div>
    </div>
    <div class="model-footer">
        <span class="span-btn">确认</span>
        <span class="span-btn span-btn-bc confirm-active">取消</span>
    </div>
</div>