<div class="container-list-warp material-list balance-implement balance-detail">
    <div class="balance-item">
        <label class="title-menu"><i>*</i>工程名称:</label>
        <input type="text" class="int int-default" />
        <label class="title-menu"><i>*</i>项目编号:</label>
        <input type="text" class="int int-default" />
    </div>
    <div class="balance-item">
        <label class="title-menu"><i>*</i>合同名称:</label>
        <input type="text" class="int int-default" />
        <label class="title-menu"><i>*</i>合同编号:</label>
        <input type="text" class="int int-default" />
        <label class="title-menu"><i>*</i>合同分类:</label>
        <select class="int int-default">
            <option></option>
        </select>
    </div>
    <div class="balance-item">
        <label class="title-menu"><i>*</i>合同方:</label>
        <input type="text" class="int int-default" />
        <label class="title-menu"><i>*</i>合同属性:</label>
        <select class="int int-default">
            <option></option>
        </select>
    </div>
    <div class="balance-item">
        <label class="title-menu"><i>*</i>合同方负责人:</label>
        <input type="text" class="int int-default" />
        <label class="title-menu"><i>*</i>职务:</label>
        <input type="text" class="int int-default" />
        <label class="title-menu"><i>*</i>联系电话:</label>
        <input type="text" class="int int-default" />
    </div>
    <div class="balance-item">
        <label class="title-menu" style="float: left"><i>*</i>合同方描述:</label>
        <textarea class="int textarea-default"></textarea>
    </div>
    <div class="balance-item">
        <label class="title-menu"><i>*</i>合同价款:</label>
        <input type="text" class="int int-default" />
        <label class="title-menu"><i>*</i>是否含税:</label>
        <label><input type="checkbox" />是</label>
        <label><input type="checkbox" />否</label>
        <label class="title-menu"><i>*</i>联系电话:</label>
        <select class="int int-default">
            <option></option>
        </select>
    </div>
    <div class="balance-item">
        <label class="title-menu"><i>*</i>合同期限:</label>
        <label>自</label>
        <input type="date" class="int int-default" />
        <label>至</label>
        <input type="date" class="int int-default" />
        <label>共</label>
        <input type="text" class="int int-default int-small" />
        <label>共</label>
    </div>
    <div class="balance-item">
        <label class="title-menu" style="float: left"><i>*</i>合同内容:</label>
        <textarea class="int textarea-default"></textarea>
    </div>
    <div class="balance-item">
        <label class="title-menu" style="float: left"><i>*</i>付款方式:</label>
        <textarea class="int textarea-default"></textarea>
    </div>
    <div class="balance-item">
        <label class="title-menu" style="float: left"><i>*</i>其它条款:</label>
        <textarea class="int textarea-default"></textarea>
    </div>
    <div class="balance-item">
        <label class="title-menu">核算清单:</label>
        <span class="span-btn background-list-gray">编辑/查看</span>
    </div>
    <div class="balance-item">
        <label class="title-menu" style="float: left">合同评估:</label>
        <div class="table-content">
            <table>
                <tbody>
                <tr>
                    <td class="border" colspan="2">
                        <label>合同总额:</label>
                        <span class="detail-content">400000000.00元</span>
                        <label>预算成本:</label>
                        <span class="detail-content">400000000.00元</span>
                        <label>被综合金额:</label>
                        <span class="detail-content">400000000.00元</span>
                        <label>综合金额:</label>
                        <span class="detail-content">400000000.00元</span>
                        <label>新增项总额:</label>
                        <span class="detail-content">400000000.00元</span>
                    </td>
                </tr>
                <tr>
                    <td class="border">合同总额-预算成本=成本与实际的偏差(0.00;0%)</td>
                    <td class="border" style="min-width: 500px;max-width: 500px"><input type="text" placeholder="请输入......"></td>
                </tr>
                <tr>
                    <td class="border">综合金额-被综合金额=计入数据库与实际的偏差(0.00;0%)</td>
                    <td class="border"><input type="text" placeholder="请输入......"></td>
                </tr>
                <tr>
                    <td class="border">新增总额:00000000.00元</td>
                    <td class="border"><input type="text" placeholder="请输入......"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="balance-item">
        <label class="title-menu"><i>*</i>上传附件:</label>
    </div>
    <div class="balance-item">
        <label class="title-menu"><i>*</i>合同草签负责人:</label>
        <select class="int int-default">
            <option></option>
        </select>
    </div>
    <div class="span-btn-bottom8"></div>
    <div class="btn-footer">
        <span class="span-btn span-btn-bc confirm-active span-btn-right">预览文本</span>
        <span class="span-btn span-btn-bc confirm-active span-btn-right">提交预览</span>
        <span class="span-btn span-btn-right">保存</span>
        <span class="span-btn span-btn-bc confirm-active span-btn-right2">取消</span>
    </div>
</div>