<div class="container-list-warp material-list">
    <div class="common-header">
        <div class="search-form">
            <div class="item">
                <label>合同方属性:</label>
                <select>
                    <option></option>
                </select>
            </div>
            <div class="item">
                <label>合同分类</label>
                <select>
                    <option></option>
                </select>
            </div>
            <div class="item">
                <label>合同状态</label>
                <select>
                    <option></option>
                </select>
            </div>
            <div class="item">
                <input type="text" placeholder="请输入关键字进行查找" />
                <button class="btn">查询</button>
            </div>
        </div>
    </div>
    <div class="table-content">
        <table>
            <thead>
            <tr>
                <th class="border" style="min-width: 40px;max-width: 40px">序号</th>
                <th class="border" style="min-width: 180px;max-width: 180px">合同名称</th>
                <th class="border" style="min-width: 80px;max-width: 80px">合同编号</th>
                <th class="border" style="min-width: 180px;max-width: 180px">合同方</th>
                <th class="border" style="min-width: 70px;max-width: 70px">合同方属性</th>
                <th class="border" style="min-width: 80px;max-width: 80px">合同分类</th>
                <th class="border" style="min-width: 60px;max-width: 60px">合同金额</th>
                <th class="border" style="min-width: 60px;max-width: 60px">负责人</th>
                <th class="border" style="min-width: 60px;max-width: 60px">合同状态</th>
                <th class="border" style="min-width: 80px;max-width: 80px">操作</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td class="border"></td>
                <td class="border"></td>
                <td class="border"></td>
                <td class="border"></td>
                <td class="border"></td>
                <td class="border"></td>
                <td class="border"></td>
                <td class="border"></td>
                <td class="border"></td>
                <td class="border">
                    <a href="/project/contract/detail">关闭查阅</a>
                    <a>提交审批</a>
                    <a>撤销</a>
                    <a>修改</a>
                    <a>删除</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>