<!--任务分配-->
<div class="table-content">
    <table>
        <thead>
        <tr>
            <th style="width:80px">姓名</th>
            <th>工作及任务分配</th>
            <th style="width: 80px" class="Competence">操作</th>
        </tr>
        </thead>
        <tbody id="taskDistributionTable"></tbody>
    </table>
</div>