<div class="model-project-common" style="width: 800px;">
    <div class="model-section">
        <div style="line-height: 30px;margin-bottom: 15px;" class="clearfix check-record-title">
            <div style="float: left;color: #333;font-size: 14px;font-weight: bold;">姓名 : <span class="worker-name"></span></div>
            <div style="float: right;position: relative;">
                <label>考勤时间段 :</label>
                <div class="int int-default int-small14 during" style="width: 150px;"></div>
                <span class="span-btn search" style="vertical-align: middle;">查询</span>
                <span class="icon-enterprise-calendar" style="position: absolute;top: 6px;right: 80px;"></span>
            </div>
        </div>
        <div class="check-record-table">
            <table>
                <thead>
                    <tr class="small">
                        <th style="width: 45px;">序号</th>
                        <th style="width: 100px;">日期</th>
                        <!--<th>供应商</th>-->
                        <!--<th>班组</th>-->
                        <!--<th>工种</th>-->
                        <th>考勤记录</th>
                    </tr>
                </thead>
                <tbody id="checkRecordTable"></tbody>
            </table>
        </div>
    </div>
    <div class="model-footer">
        <span class="span-btn span-btn-bc confirm-active" data-model-close>取消</span>
    </div>
</div>