<div class="model-project-common modal-arrow-left check-worker-info">
    <div class="model-header" >
        <span class="project-title"></span>
        <span class="icon-close"></span>
    </div>
    <div class="info-detail">
        <div class="model-item">
            <label>隶属供应商 :</label>
            <span name="entpName">陕西长征劳务</span>
        </div>
        <div class="model-item">
            <label>班组名称 :</label>
            <span name="teamName">陕西长征劳务</span>
        </div>
        <div class="model-item">
            <label>考勤状态 :</label>
            <span name="status">陕西长征劳务</span>
        </div>
        <div class="model-item">
            <label>手机号码 :</label>
            <span name="phone">陕西长征劳务</span>
        </div>
        <div class="model-item">
            <label>性别 :</label>
            <span name="sex">陕西长征劳务</span>
        </div>
        <div class="model-item">
            <label>出生年月 :</label>
            <span name="birthday">陕西长征劳务</span>
        </div>
        <div class="model-item">
            <label>籍贯 :</label>
            <span name="region">陕西长征劳务</span>
        </div>
        <div class="model-item">
            <label>身份证号码 :</label>
            <span name="idNo">陕西长征劳务</span>
        </div>
        <div class="model-item">
            <label>工种 :</label>
            <span name="jobName">陕西长征劳务</span>
        </div>
        <div class="model-item">
            <label>相关证照 :</label>
            <div name="photograph"></div>
        </div>
    </div>
    <div class="icon-triangle-left explain-radius-bottom ">
        <span></span>
    </div>
</div>