<div class="model-project-common">
    <div class="model-section modal-form">
        <div class="item">
            <label class="label-block bold-title int-small8"><i class="icon-fill-in">*</i>栏目名称:</label>
            <input type="text" class="int int-default typeName" placeholder="请输入栏目名称" style="width: 400px;"/>
        </div>
        <div class="item">
            <label class="label-block bold-title int-small8" style="float:left;margin-right:5px;"><i class="icon-fill-in">*</i>描述:</label>
            <textarea class="typeDesc default int int-default" placeholder="请输入栏目类型描述,不超过36个字符。"
                      style="width: 400px;height: 150px;"
            ></textarea>
        </div>
    </div>
    <div class="model-footer">
        <span class="span-btn confirm">确定</span>
        <span class="span-btn span-btn-bc confirm-active" data-model-close>取消</span>
    </div>
</div>