<div class="model-project-common" style="width: 328px;">
    <div class="model-section page-account-index">
        <div style="color:#5b5b5b;font-size: 14px;">
            <label>目前服务到期时间:</label>
            <span style="width: 80px;display: inline-block;" name="modal-limit"></span>
        </div>
        <div style="margin-top: 20px;color:#5b5b5b;font-size: 14px;">
            <label>购买追加帐号数量:</label>
            <div class="info-adder inline-block">
                <span class="handle modal-left">-</span>
                <span class="count">0</span>
                <span class="handle modal-right">+</span>
            </div>
        </div>
        <div style="margin-top: 20px;color:#5b5b5b;font-size: 14px;">
            <label>价格:</label>
            <span class="price">0</span>元
        </div>
    </div>
    <div class="model-footer">
        <span class="span-btn confirm" data-type="2" style="margin-right: 10px;">立即追加</span>
        <span class="span-btn span-btn-bc confirm-active" data-model-close>取消</span>
    </div>
</div>