<div class="model-project-common">
    <div class="model-section">
        <div class="modal-form" style="margin-bottom: 20px">
            <label style="width: 90px" class="label-block int-small11 bold-title">上级部门:</label>
            <input type="text" class="int int-default int-middle26"
                   style="width: 386px" disabled name="companyName">
        </div>
        <div class="modal-form" style="margin-bottom: 20px">
            <label style="width: 90px;" class="label-block int-small11 bold-title"><i class="icon-fill-in">*</i>部门名称:</label>
            <input type="text" class="int int-default int-middle26" style="width: 386px" placeholder="请输入部门名称"
                   name="deptName">
        </div>
        <div class="modal-form" style="margin-bottom: 20px">
            <label  class="label-block int-small11 bold-title" style="float: left;width: 90px">部门描述:</label>
            <textarea class="int int-default int-middle26"
                      style="height: 80px;resize: none;margin-left: 3px;width: 386px"
                      placeholder="请输入部门描述" name="describes"></textarea>
        </div>
    </div>
    <div class="model-footer">
        <span class="span-btn confirm">确认</span>
        <span class="span-btn span-btn-bc confirm-active" style="margin-left: 8px;" data-model-close>取消</span>
    </div>
</div>