<div class="model-project-common">
    <div class="modal-form" style="margin: 20px 0;">
        <div style="margin-bottom: 20px;">
            <label class="label-block bold-title int-small11">职位名称:</label>
            <input type="text" class="int int-default" style="width:364px;" disabled name="postName">
        </div>
        <div>
            <label class="label-block bold-title int-small11"><i class="icon-fill-in">*</i>添加人员:</label>
            <div class="int int-default" style="vertical-align: middle;width:364px;display: inline-block;color: #999" id="employee">点击选择</div>
        </div>
    </div>
    <div class="model-footer">
        <span class="span-btn confirm">确认</span>
        <span class="span-btn span-btn-bc confirm-active" data-model-close>取消</span>
    </div>
</div>