<div class="model-project-common">
    <div class="model-section">
        <div class="modal-form" style="margin-bottom: 20px">
            <label class="label-block int-small11 bold-title"><i class="icon-fill-in">*</i>职务名称:</label>
            <input type="text" class="int int-default int-middle26"
                   style="width: 386px" placeholder="请输入职务名称" name="posName">
        </div>
        <div class="modal-form" style="margin-bottom: 20px">
            <label class="label-block int-small11 bold-title" style="float: left;">描述:</label>
            <textarea class="int int-default int-middle26"
                      style="height: 80px;resize: none;width: 386px;margin-left: 3px;"
                      placeholder="请输入职务描述" name="describes"></textarea>
        </div>
    </div>
    <div class="model-footer">
        <span class="span-btn confirm">确认</span>
        <span class="span-btn span-btn-bc confirm-active" data-model-close>取消</span>
    </div>
</div>