<div class="model-project-common" style="width: 360px;">
    <div class="model-section" style="font-size: 14px;">
        <div style="padding: 10px 0;">
            <label style="color:#999;">企业名称:</label>
            <span name="etpName"></span>
        </div>
        <div style="padding: 10px 0;background:#f8f8f8;">
            <label style="color:#999;">订单类型:</label>
            <span name="orderType"></span>
        </div>
        <div style="padding: 10px 0;">
            <label style="color:#999;">提交日期:</label>
            <span name="orderTime"></span>
        </div>
        <div style="padding: 10px 0;background:#f8f8f8">
            <label style="color:#999;">订单编号:</label>
            <span name="orderNo"></span>
        </div>
        <div style="padding: 10px 0;">
            <label style="color:#999;">帐号数量:</label>
            <span name="acctCount"></span>
        </div>
        <div style="padding: 10px 0;background:#f8f8f8">
            <label style="color:#999;">购买年限:</label>
            <span name="acctYears"></span>
        </div>
        <div style="padding: 10px 0;">
            <label style="color:#999;">储存空间:</label>
            <span name="storageSize"></span>
        </div>
        <div style="padding: 10px 0;background:#f8f8f8">
            <label style="color:#999;">合计金额:</label>
            <span name="prepayMoney"></span>
        </div>
        <div style="padding: 10px 0;">
            <label style="color:#999;">优惠金额:</label>
            <span name="reduceMoney"></span>
        </div>
        <div style="padding: 10px 0;background:#f8f8f8">
            <label style="color:#999;">实付金额:</label>
            <span name="payMoney"></span>
        </div>
        <div style="padding: 10px 0;">
            <label style="color:#999;">交易状态:</label>
            <span name="orderStatus"></span>
        </div>
        <div style="padding: 10px 0;background:#f8f8f8;">
            <label style="color:#999;">付款方式:</label>
            <span name="payType"></span>
        </div>
    </div>
    <div class="model-footer">
        <span class="span-btn span-btn-bc confirm-active" data-model-close>返回</span>
    </div>
</div>