<div class="model-project-common" style="width: 328px;">
    <div class="model-section">
        <div style="color:#5b5b5b;font-size: 14px;">
            <label style="color: #999;">当前到期时间:</label>
            <span style="width: 80px;display: inline-block;color:#333;" name="limitTime"></span>
            <label style="color: #999;">帐号:</label>
            <span name="count" style="color:#333;"></span>
        </div>
        <div style="margin-top: 20px;font-size: 14px;">
            <label style="color: #999;">价格:</label>
            <span name="money" style="color: #333;"></span>
        </div>
    </div>
    <div class="model-footer">
        <span class="span-btn confirm" style="margin-right: 10px;">立即购买</span>
        <span class="span-btn span-btn-bc confirm-active" data-model-close>取消</span>
    </div>
</div>