<div class="model-project-common" style="width:360px;">
    <div class="financial-item">
        <div class="title">开票信息</div>
        <div class="content">
            <div style="margin-bottom: 10px;">
                <label>发票抬头:</label>
                <input style="width: 240px;" type="text" class="int int-default" placeholder="请输入发票抬头" name="invoiceTitle">
            </div>
            <div style="margin-bottom: 10px;">
                <label>企业地址:</label>
                <input style="width: 240px;" type="text" class="int int-default" placeholder="请输入企业地址" name="entpAddress">
            </div>
            <div style="margin-bottom: 10px;">
                <label>联系电话:</label>
                <input style="width: 240px;" type="text" class="int int-default" placeholder="请输入联系电话" name="mobile">
            </div>
            <div style="margin-bottom: 10px;">
                <label>税&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;号:</label>
                <input style="width: 240px;" type="text" class="int int-default" placeholder="请输入税号" name="taxNo">
            </div>
            <div style="margin-bottom: 10px;">
                <label>联&nbsp;系&nbsp;&nbsp;人:</label>
                <input style="width: 240px;" type="text" class="int int-default" placeholder="请输入联系人" name="contactName">
            </div>
            <div style="margin-bottom: 10px;">
                <label>邮寄地址:</label>
                <input style="width: 240px;" type="text" class="int int-default" placeholder="请输入邮寄地址" name="expressAddress">
            </div>
            <div style="margin-bottom: 10px;">
                <label>其&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;它:</label>
                <input style="width: 240px;" type="text" class="int int-default" placeholder="请输入" name="otherRemark">
            </div>
        </div>
    </div>
    <div class="financial-item">
        <div class="title">快递信息</div>
        <div class="content">
            <div style="margin-bottom: 10px;">
                <label>发票单号:</label>
                <input style="width: 240px;" type="text" class="int int-default" placeholder="暂无" disabled name="invoiceCode">
            </div>
            <div style="margin-bottom: 10px;">
                <label>发票金额:</label>
                <input style="width: 240px;" type="text" class="int int-default" placeholder="暂无" disabled name="taxMoney">
            </div>
            <div style="margin-bottom: 10px;">
                <label>快递单号:</label>
                <input style="width: 240px;" type="text" class="int int-default" placeholder="暂无" disabled name="expressNo">
            </div>
            <div style="margin-bottom: 10px;color:#f77260;font-size: 12px;">注:我们会在每月20日集中处理开票请求并寄出</div>
        </div>
    </div>
    <div class="model-footer">
        <span class="span-btn confirm" style="margin-right: 10px;">确定</span>
        <span class="span-btn span-btn-bc confirm-active" data-model-close>返回</span>
    </div>
</div>