<div class='Tree'>
    <!--<div class='items'>-->
        <!--<div class='item'>-->
            <!--<div class='content'>-->
                <!--<div class='spread'></div>-->
                <!--<div class='radio'></div>-->
                <!--<div class='name'>公司公司公司公司公司公司</div>-->
            <!--</div>-->
            <!--<div class='items'>-->
                <!--<div class="item">-->
                    <!--<div class='content'>-->
                        <!--<div class='spread'></div>-->
                        <!--<div class='radio'></div>-->
                        <!--<div class='name'>董事会</div>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="item">-->
                    <!--<div class='content'>-->
                        <!--<div class='spread'></div>-->
                        <!--<div class='radio'></div>-->
                        <!--<div class='name'>总经办</div>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="item">-->
                    <!--<div class='content'>-->
                        <!--<div class='spread'></div>-->
                        <!--<div class='radio'></div>-->
                        <!--<div class='name'>技术部</div>-->
                    <!--</div>-->
                    <!--<div class="items">-->
                        <!--<div class="item">-->
                            <!--<div class='content'>-->
                                <!--<div class='spread'></div>-->
                                <!--<div class='radio'></div>-->
                                <!--<div class='name'>技术一部</div>-->
                            <!--</div>-->
                            <!--<div class="items">-->
                                <!--<div class="item">-->
                                    <!--<div class='content'>-->
                                        <!--<div class='spread'></div>-->
                                        <!--<div class='radio'></div>-->
                                        <!--<div class='name'>张三</div>-->
                                    <!--</div>-->
                                <!--</div>-->
                                <!--<div class="item">-->
                                    <!--<div class='content'>-->
                                        <!--<div class='spread'></div>-->
                                        <!--<div class='radio'></div>-->
                                        <!--<div class='name'>李四</div>-->
                                    <!--</div>-->
                                <!--</div>-->
                                <!--<div class="item">-->
                                    <!--<div class='content'>-->
                                        <!--<div class='spread'></div>-->
                                        <!--<div class='radio'></div>-->
                                        <!--<div class='name'>小白</div>-->
                                    <!--</div>-->
                                <!--</div>-->
                                <!--<div class="item">-->
                                    <!--<div class='content'>-->
                                        <!--<div class='spread'></div>-->
                                        <!--<div class='radio'></div>-->
                                        <!--<div class='name'>小红</div>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
</div>
