<div class="page-calendar">
    <div class="calendar_title-content">
        <i class="icon-left menu" data-type="sub"></i>
        <span>2012年12月</span>
        <i class="icon-right menu" data-type="add"></i>
    </div>
    <div class="calendar-week" id="weekTitle">
        <div class="active">周一</div>
        <div class="margin-left">周二</div>
        <div class="margin-left">周三</div>
        <div class="margin-left">周四</div>
        <div class="margin-left">周五</div>
        <div class="margin-left">周六</div>
        <div class="margin-left">周日</div>
    </div>
    <div class="calendar-weeks" id="bigWeeks">
        <!--<div class="calendar-days">
            <div class="calendar-day current">
                <span></span>
            </div>
            <div class="calendar-day margin-left">2</div>
            <div class="calendar-day margin-left">3</div>
            <div class="calendar-day margin-left">4</div>
            <div class="calendar-day margin-left">5</div>
            <div class="calendar-day margin-left">6</div>
            <div class="calendar-day margin-left">7</div>
        </div>
        <div class="calendar-days">
            <div class="calendar-day margin-top">1</div>
            <div class="calendar-day margin-left margin-top">2</div>
            <div class="calendar-day margin-left margin-top">3</div>
            <div class="calendar-day margin-left margin-top">4</div>
            <div class="calendar-day margin-left margin-top">5</div>
            <div class="calendar-day margin-left margin-top">6</div>
            <div class="calendar-day margin-left margin-top">7</div>
        </div>
        <div class="calendar-days">
            <div class="calendar-day margin-top">1</div>
            <div class="calendar-day margin-left margin-top">2</div>
            <div class="calendar-day margin-left margin-top">3</div>
            <div class="calendar-day margin-left margin-top">4</div>
            <div class="calendar-day margin-left margin-top">5</div>
            <div class="calendar-day margin-left margin-top">6</div>
            <div class="calendar-day margin-left margin-top">7</div>
        </div><div class="calendar-days">
            <div class="calendar-day margin-top">1</div>
            <div class="calendar-day margin-left margin-top">2</div>
            <div class="calendar-day margin-left margin-top">3</div>
            <div class="calendar-day margin-left margin-top">4</div>
            <div class="calendar-day margin-left margin-top">5</div>
            <div class="calendar-day margin-left margin-top">6</div>
            <div class="calendar-day margin-left margin-top">7</div>
        </div><div class="calendar-days">
            <div class="calendar-day margin-top">1</div>
            <div class="calendar-day margin-left margin-top">2</div>
            <div class="calendar-day margin-left margin-top">3</div>
            <div class="calendar-day margin-left margin-top">4</div>
            <div class="calendar-day margin-left margin-top">5</div>
            <div class="calendar-day margin-left margin-top">6</div>
            <div class="calendar-day margin-left margin-top">7</div>
        </div>-->
    </div>
</div>