<div class="dashbord-middle">
    <ul class="vmcarousel-centered-infitine vmc-centered"></ul>
    <div class="job-alert-list">
        <div id="job-alert-list"></div>
        <div id="page" style="margin: 20px 0;"></div>
    </div>
</div>
<div class="dashbord-right">
    <div class="dashbord-float-item">
        <div class="float-header">
            <span class="icon-dashbord-report"></span>
            <span>公告</span>
            <i id="toCommunique" class="icon-dashbord-right"></i>
        </div>
        <div>
            <ul id="report">
                <!--无内容时展示-->
                <div style="width:160px;margin: 0 auto;color:#999;line-height: 30px;margin-top: 50px;">
                    <img style="vertical-align: middle;margin-right: 5px;" src="../dist/images/enterprise-remind.png"
                         alt="">
                    <span>暂无符合条件信息</span>
                </div>
                <!--无内容时展示end-->
            </ul>
        </div>
    </div>

    <div class="dashbord-float-item" style="margin-top: 10px">
        <div class="float-header">
            <span class="icon-dashbord-report construction"></span>
            <span>施工快报</span>
            <i id="toReport" class="icon-dashbord-right"></i>
        </div>
        <div>
            <ul id="construction">
                <!--无内容时展示-->
                <div style="width:160px;margin: 0 auto;color:#999;line-height: 30px;margin-top: 50px;">
                    <img style="vertical-align: middle;margin-right: 5px;" src="../dist/images/enterprise-remind.png"
                         alt="">
                    <span>暂无符合条件信息</span>
                </div>
                <!--无内容时展示end-->
            </ul>
        </div>
    </div>

    <div class="dashbord-float-item" style="margin-top: 10px">
        <div class="float-header">
            <span class="icon-dashbord-report knowledge"></span>
            <span>知识</span>
            <i id="toKnowledge" class="icon-dashbord-right"></i>
        </div>
        <div>
            <ul id="knowledge">
                <!--无内容时展示-->
                <div style="width:160px;margin: 0 auto;color:#999;line-height: 30px;margin-top: 50px;">
                    <img style="vertical-align: middle;margin-right: 5px;" src="../dist/images/enterprise-remind.png"
                         alt="">
                    <span>暂无符合条件信息</span>
                </div>
                <!--无内容时展示end-->
            </ul>
        </div>
    </div>
</div>