<div class="page-job-alert">
    <div class="job-header">工作提醒</div>
    <div class="job-alert-list" id="noInfoWorkRemind_main"></div>
    <div class='noInfo' id='noInfoWorkRemind'  style="display: none;">
        <div class="icon-uninformed"></div>
        <p>没有符合条件的信息！</p>
    </div>
</div>