<!--组织结构-->
<div class="page-organization page-budget">
    <div class="budget-title">组织机构</div>
    <div class="budget-menus" style="padding-left: 38px">
        <a style="width: 92px;" class="item active" data-type="employee" href="javascript:void(0)">
            <span class="menu-line-90"></span>
            组织人员
        </a>
        <a style="width: 92px;" class="item" data-type="project" href="javascript:void(0)">
            <span class="menu-line-90"></span>
            项目部
        </a>
    </div>
    <div class="project-list-wrap">
        <div class="child-nav">
            <ul class="nav-content no-padding-border nav-content-height" id="childNav">
                <!-- <li>
                     <a>
                         <span class="arrow"></span>装饰材料
                         <div class="icon-position small14">
                             <span class="icon-enterprise-one-add"></span>
                             <span class="icon-enterprise-one-edit"></span>
                             <span class="icon-enterprise-one-delete"></span>
                         </div>
                     </a>
                     <ul class="nav-content no-padding nav-none">
                         <li>
                             <a>
                                 成本项配置
                                 <div class="icon-position small14">
                                     <span class="icon-enterprise-two-edit"></span>
                                     <span class="icon-enterprise-two-delete"></span>
                                 </div>
                             </a>
                         </li>
                     </ul>
                 </li>-->
            </ul>
        </div>
        <div class="employee-list table-content" style="margin: 0">
            <table>
                <thead>
                <tr>
                    <th>姓名</th>
                    <th>性别</th>
                    <th class="OrgDeptName">部门</th>
                    <th class="OrgPostName">职务</th>
                    <th>手机</th>
                    <!--<th>邮箱</th>-->
                </tr>
                </thead>
                <tbody id="userList"></tbody>
            </table>
        </div>
    </div>
</div>