<div class="page-personal">
    <div class="personal-header">
        个人设置
    </div>
    <div class="modal-form">
        <div style="margin-top: 20px"><label class="label-block int-small11">姓名:</label><span></span></div>
        <div style="margin-top: 20px"><label class="label-block int-small11">性别:</label><span></span></div>
        <div style="margin-top: 20px"><label class="label-block int-small11">企业帐号:</label><span></span></div>
        <div style="margin-top: 20px">
            <label class="label-block int-small11">更换头像:</label>
            <span class="span-color-blue"><i class="icon-arrow"></i>上传图片</span>
        </div>
        <div style="margin-top: 20px"><label class="label-block int-small11">部门:</label> <input type="text"
                                                                                                class="int-default">
        </div>
        <div style="margin-top: 20px">
            <label class="label-block int-small11">职务:</label>
            <input type="text" class="int-default">
            <span style="color:#999">查看权限</span>
        </div>
        <div style="margin-top: 20px"><label class="label-block int-small11">座机:</label>
            <input type="text" class="int-default">
            <span class="span-btn">提交</span>
            <span class="span-btn span-btn-bc confirm-active">取消</span>
        </div>
        <div style="margin-top: 20px">
            <label class="label-block int-small11">分机:</label>
            <input type="text" class="int-default">
            <span style="color:#999">修改</span>
        </div>
        <div style="margin-top: 20px">
            <label class="label-block int-small11">手机:</label>
            <input type="text" class="int-default">
            <span style="color:#999">修改</span>
        </div>
        <div style="margin-top: 20px">
            <label class="label-block int-small11">邮箱:</label>
            <input type="text" class="int-default">
            <span style="color:#999">修改</span>
            <div class="icon-line"></div>
            <span style="color:#999">绑定</span>
        </div>
        <div style="margin-top: 20px">
            <label class="label-block int-small11">密码:</label>
            <input type="password" class="int-default">
            <span style="color:#999">修改</span>
        </div>
    </div>
    <div class="personal-header">
        桌面设置
    </div>
    <div class="personal-item">
        <span class="icon-dashbord-report"></span>
        <span style="display: inline-block;width: 200px">公告</span>
        <div class="radio-box">
            <div class="show active">显示</div>
            <div class="hide">不显示</div>
        </div>
    </div>
    <div class="personal-item">
        <span class="icon-dashbord-report construction"></span>
        <span style="display: inline-block;width: 200px">施工快报</span>
        <div class="radio-box">
            <div class="show active">显示</div>
            <div class="hide">不显示</div>
        </div>
    </div>
    <div class="personal-item">
        <span class="icon-dashbord-report knowledge"></span>
        <span style="display: inline-block;width: 200px">知识</span>
        <div class="radio-box">
            <div class="show active">显示</div>
            <div class="hide">不显示</div>
        </div>
    </div>
    <div class="personal-item">
        <span class="icon-dashbord-report document"></span>
        <span style="display: inline-block;width: 200px">文档</span>
        <div class="radio-box">
            <div class="show">显示</div>
            <div class="hide active">不显示</div>
        </div>
    </div>
   <div class="menus">
       <span class="span-btn">保存</span>
       <span class="span-btn span-btn-bc confirm-active">取消</span>
   </div>
</div>