<div class="model-project-common enterprise-add-model model-cost-account" id="enterpriseType">
    <div style="position: relative;min-height: 160px" class="model-section model-border-radius ">
        <div class="model-item" style="padding: 0 0 15px 0 ;">
            <label style="width: 90px;font-size: 14px" class="title-small title-inline-label">隶属供应商 :</label>
            <div class="int int-default addContracter" style="width: 256px;vertical-align:middle;color:#5b5b5b;
                     display: inline-block;cursor: pointer;font-size: 14px;line-height: 28px;position: relative">
                单击选择
            </div>
            <div style="position: relative" class="supplierList"></div>
        </div>
        <div class="model-item" style="padding: 0 0 15px 0 ;">
            <label style="width: 90px;font-size: 14px" class="title-small title-inline-label">班组名称 :</label>
            <input class="int int-default int-middle256" placeholder="名称必填写" id="type" />
        </div>
        <div style="border-top: 1px solid #eee;padding-top: 10px;position: absolute;bottom: 10px;right: 0;width: 484px;padding-right: 20px;" class="model-section-btn">
            <span style="margin-right: 7px;" class="span-btn" id="confirm">确定</span>
            <span class="span-btn span-btn-bc confirm-active" data-model-close>取消</span>
        </div>
    </div>
</div>