<div class="model-project-common enterprise-add-model model-cost-account" id="enterpriseType">
    <div style="position: relative;min-height: 160px" class="model-section model-border-radius ">
        <div class="model-item">
            <label style="width: 90px;font-size: 14px" class="title-small title-inline-label">类别名称 :</label>
            <input class="int int-default int-middle256" placeholder="名称必填写" id="type" />
        </div>
        <div style="border-top: 1px solid #eee;padding-top: 10px;position: absolute;bottom: 10px;right: 0;width: 484px;padding-right: 20px;" class="model-section-btn">
            <span style="margin-right: 7px;" class="span-btn" id="confirm">确定</span>
            <span class="span-btn span-btn-bc confirm-active" data-model-close>取消</span>
        </div>
    </div>
</div>