<!--下载记录-->
<div class="model-project-common modal-arrow-left" style="width: 262px;position: absolute;left: -270px;
top: -30px;background-color: #ffffff;z-index: 1">
    <div class="table-content" style="margin: 10px 20px;">
       <div style="line-height: 28px;">
           <label>开户名:</label>
           <span name="openName"></span>
       </div>
       <div style="line-height: 28px;">
           <label>开户行:</label>
           <span name="openBank"></span>
       </div>
       <div style="line-height: 28px;">
           <label>帐号:</label>
           <span name="bankCard"></span>
       </div>
    </div>
    <div class="icon-triangle-left" style="top:34px;">
        <span></span>
    </div>
</div>