<div class="model-project-common enterprise-add-model">
    <div class="model-header">
        <span class="project-title">数据搬移</span>
        <span class="icon-close"></span>
    </div>
    <div class="model-section">
        <div class="modal-form">
            <div class="item">
                <label class="bold-title label-block int-small8" style="width: 90px;">将移出数据到:</label>
                <select class="int int-default int-small13" id="materialParent"></select>
                <select class="int int-default int-small13" id="materialChild"></select>
            </div>
            <div class="item">
                <label class="bold-title label-block int-small8">移入数据到:</label>
                <select class="int int-default int-middle26" id="newMaterial"></select>
            </div>
        </div>
    </div>
    <div class="model-footer">
        <span class="span-btn confirm">确定</span>
        <span class="span-btn span-btn-bc confirm-active" data-model-close>取消</span>
    </div>
</div>