<div class="model-project-common enterprise-add-model model-cost-account" style="width: 800px;">
    <div style="position: relative;" class="model-section model-border-radius ">
        <div class="model-item clearfix" style="width: 680px;margin: 0 auto;">
            <div class="clearfix fl" style="width: 600px;border: 2px solid #ccc;border-radius: 4px;height: 40px;">
                <div class="fl" style="margin: 0 10px 0 20px;">
                    <span style="margin:9px 0 0 0" class="icon-enterprise-search"></span>
                </div>
                <div class="fl">
                    <input type="text" placeholder="请输入关键字搜索" style="outline: none; line-height: 36px;color: #999;font-size: 14px;border: none;height: 36px;width: 549px;" id="keywords">
                </div>
            </div>
            <span style="height: 40px;line-height: 40px;margin:0 0 0 10px;width: 70px;" class="span-btn fl search">搜索</span>
        </div>
        <div class="table-content">
            <table>
                <thead></thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</div>