<div class="model-project-common enterprise-add-model model-cost-account" style="width: 800px;">
    <div style="position: relative;" class="model-section model-border-radius ">
        <div class="model-item clearfix" style="margin: 0 auto;min-width: 680px;text-align: center;">
            <!--<input class="int int-default int-middle256" placeholder="请输入关键字搜索" id="type" style="width: 600px;" />-->
            <div class="clearfix fl" style="width: 600px;border: 2px solid #ccc;border-radius: 4px;height: 40px;">
                <div class="fl" style="margin: 0 10px 0 20px;"><span style="margin:9px 0 0 0" class="icon-enterprise-search"></span></div>
                <div class="fl"><input type="text" placeholder="请输入关键字搜索"></div>
            </div>
            <span style="margin-top: -2px;line-height: 30px;margin-left: 7px;" class="span-btn fl search">搜索</span>
        </div>
        <div class="table-content">
            <table>
                <thead>
                <tr>
                    <td>第一个</td>
                    <td>第二个</td>
                    <td>第三个</td>
                    <td>第四个</td>
                    <td>第五个</td>
                </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</div>