<div class="model-project-common enterprise-add-model model-cost-account" id="enterpriseType">
    <div style="position: relative;" class="model-section model-border-radius ">
        <div class="model-item" style="margin: 0 auto;min-width: 680px;">
            <input class="int int-default int-middle256" placeholder="请输入关键字搜索" id="type" style="width: 600px;" />
            <input type="button" value="搜索" style="margin-left: 10px;width: 70px;height: 40px;color: white;border-radius: 3px">
        </div>
    </div>
</div>