<div class="model-project-common enterprise-add-model">
    <div class="model-section model-border-radius">
        <div class="enterprise-remind" style="padding-left: 30px">
            <span class="icon-remind"></span><span style="line-height: 30px;vertical-align: middle;padding-left: 10px;">是否确定更改考勤状态?</span>
        </div>
    </div>
    <div class="model-footer">
        <span class="span-btn confirm">确认</span>
        <span class="span-btn span-btn-bc confirm-active" data-model-close>取消</span>
    </div>
</div>