<!--添加人员-->
<div class="model-project-common">
    <div class="modal-form" style="padding-top: 10px">
        <div class="item">
            <label class="bold-title label-block int-small11"><i class="icon-fill-in">*</i>姓名:</label>
            <input type="text" class="int int-default" style="width: 414px" placeholder="请输入姓名" name="userName">
        </div>
        <div class="item">
            <label class="bold-title label-block int-small11"><i class="icon-fill-in">*</i>性别:</label>
            <label><input type="radio" name="sex" value="1">男</label>
            <label style="margin-left: 100px"><input type="radio" name="sex" value="2">女</label>
        </div>
        <div class="item">
            <label class="bold-title label-block int-small11"><i class="icon-fill-in">*</i>年龄:</label>
            <input type="text" class="int int-default" style="width: 414px" name="age" placeholder="请输入年龄">
        </div>
        <div class="item">
            <label class="bold-title label-block int-small11"><i class="icon-fill-in">*</i>项目职务:</label>
            <select class="int int-default" style="width: 414px" id="projPosId"></select>
        </div>
        <div class="item">
            <label class="bold-title label-block int-small11"><i class="icon-fill-in">*</i>联系人方式:</label>
            <input type="text" class="int int-default" style="width: 414px" name="phone" placeholder="请输入电话">
        </div>
        <div class="item">
            <label class="bold-title label-block int-small11"><i class="icon-fill-in">*</i>来源:</label>
            <input type="text" class="int int-default" style="width: 414px" name="resource" placeholder="请输入来源">
        </div>
        <div class="item">
            <label class="bold-title label-block int-small11">居住地址:</label>
            <input type="text" class="int int-default" style="width: 414px" name="address">
        </div>
        <div class="item">
            <label class="bold-title label-block int-small11"><i class="icon-fill-in">*</i>身份证号:</label>
            <input type="text" class="int int-default" style="width: 414px" name="idCard">
        </div>
        <div class="item">
            <label class="bold-title label-block int-small11">资格证:</label>
            <input type="text" class="int int-default" style="width: 414px" name="titleNo">
        </div>
        <div class="item">
            <label class="bold-title label-block int-small11">资格证书:</label>
            <input type="text" class="int int-default" style="width: 414px" name="titleName">
        </div>
    </div>
    <div class="model-footer">
        <span class="span-btn confirm">确认</span>
        <span class="span-btn span-btn-bc confirm-active" data-model-close>取消</span>
    </div>
</div>