<!--任务分配-->
<div class="model-project-common modal-arrow-left" style="width: 400px;position: absolute;top: -44px;right: 65px;z-index: 2;">
    <div class="clearfix" style="border-bottom: 1px solid #eee;padding: 15px 30px;">
        <div class="fl" style="font-size: 14px;color: #333;font-weight: bold;">系统任务</div>
    </div>
    <div class="system-task" style="padding: 10px 30px;">
        <div style="padding: 5px 0 ;">
            <div style="font-weight: bold;">合同款项</div>
            <div class="system-task-cntr"></div>
        </div>
        <div style="padding: 5px 0 ;">
            <div style="font-weight: bold;">无合同款项</div>
            <div class="system-task-noCntr"></div>
        </div>
        <div style="padding: 5px 0 ;">
            <div style="font-weight: bold;">采购</div>
            <div class="system-task-prch"></div>
        </div>
        <div style="padding: 5px 0 ;">
            <div style="font-weight: bold;">点收</div>
            <div class="system-task-check"></div>
        </div>
        <div style="padding: 5px 0 ;">
            <div style="font-weight: bold;">材料应付款</div>
            <div class="system-task-payable"></div>
        </div>
    </div>
    <div class="icon-triangle-left top40">
        <span></span>
    </div>
</div>