<!--任务分配-->
<div class="model-project-common modal-arrow-left" style="width: 400px;position: absolute;top: -44px;right: 120px;z-index: 2;">
    <div class="clearfix" style="border-bottom: 1px solid #eee;padding: 15px 30px;">
        <div class="fl" style="font-size: 14px;color: #333;font-weight: bold;">专属任务</div>
    </div>
    <div class="system-task" style="padding: 10px 30px;">
        <div style="padding: 5px 0 ;">
            <div style="font-weight: bold;color: #333;">合同款项</div>
            <div class="system-task-cntr"></div>
        </div>
        <div style="padding: 5px 0 ;">
            <div style="font-weight: bold;color: #333;">无合同款项</div>
            <div class="system-task-noCntr"></div>
        </div>
        <div style="padding: 5px 0 ;">
            <div style="font-weight: bold;color: #333;">待采购</div>
            <div class="system-task-prch"></div>
        </div>
        <div style="padding: 5px 0 ;">
            <div style="font-weight: bold;color: #333;">待点收</div>
            <div class="system-task-check"></div>
        </div>
        <div style="padding: 5px 0 ;">
            <div style="font-weight: bold;color: #333;">应付款负责</div>
            <div class="system-task-payable"></div>
        </div>
        <div style="padding: 5px 0 ;">
            <div style="font-weight: bold;color: #333;">待提交合同</div>
            <div class="system-task-cntrSave"></div>
        </div>
        <div style="padding: 5px 0 ;">
            <div style="font-weight: bold;color: #333;">待提交材料计划</div>
            <div class="system-task-mtrlPlanSave"></div>
        </div>
        <div style="padding: 5px 0 ;">
            <div style="font-weight: bold;color: #333;">待提交结算单</div>
            <div class="system-task-settleSave"></div>
        </div>
    </div>
    <div class="icon-triangle-left top40">
        <span></span>
    </div>
</div>