<!--查看-->
<div class="model-project-common modal-arrow-left" style="width: 336px;
    height: 172px;position: absolute;right: 190px;top: -61px;">
    <div class="modal-form" style="padding: 15px">
        <div class="item">
            <label class="bold-title label-block int-small8">来源:</label>
            <span name="resource" style="display: inline-block;overflow: hidden;white-space: nowrap;
            text-overflow: ellipsis;vertical-align: middle;width: 200px;"></span>
        </div>
        <div class="item">
            <label class="bold-title label-block int-small8">现居住地:</label>
            <span name="address"
                  style="display: inline-block;overflow: hidden;white-space: nowrap;
                  text-overflow: ellipsis;vertical-align: middle;width: 200px;"></span>
        </div>
        <div class="item">
            <label class="bold-title label-block int-small8">身份证号:</label>
            <span name="idCard"
                  style="display: inline-block;overflow: hidden;white-space: nowrap;
                  text-overflow: ellipsis;vertical-align: middle;width: 200px;"></span>
        </div>
        <div class="item">
            <label class="bold-title label-block int-small8">资格证:</label>
            <span name="titleName"
                  style="display: inline-block;overflow: hidden;white-space: nowrap;
                  text-overflow: ellipsis;vertical-align: middle;width: 200px;"></span>
        </div>
        <div class="item">
            <label class="bold-title label-block int-small8">资格证号:</label>
            <span name="titleNo"
                  style="display: inline-block;
                  overflow: hidden;white-space: nowrap;text-overflow: ellipsis;vertical-align: middle;width: 200px;"></span>
        </div>
    </div>
    <div class="icon-triangle-left">
        <span></span>
    </div>
</div>