<div style="display: none;" class="table-content">
    <table>
        <thead>
        <tr>
            <th style="width: 45px;" class="border">
                <input type="checkbox" id="enterpriseCheck"/>
            </th>
            <th style="width: 45px;" class="border">序号</th>
            <th class="border">材料名称</th>
            <th class="border">规格型号</th>
            <th style="width: 60px;" class="border">单位</th>
            <th style="width: 60px;" class="border">均价</th>
            <th class="border">合计金额</th>
            <th style="width: 70px;" class="border">价格动态</th>
            <th class="border">不含税项</th>
            <th class="border">含税项</th>
            <th style="width: 80px;" class="border Competence">操作</th>
        </tr>
        </thead>
        <tbody id="enterpriseLibrary"></tbody>
    </table>
</div>