<div class="model-project-common add-job" style="width: 320px">
    <div class="model-section">
        <div style="border: 1px solid #009441;height: 310px;width: 260px;overflow-y: auto;"id="JobList"></div>
    </div>
    <div class="model-footer">
        <span class="span-btn confirm">确认</span>
        <span class="span-btn span-btn-bc confirm-active" data-model-close>取消</span>
    </div>
</div>