<div class="model-project-common">
    <div class="modal-form" style="margin: 20px 0; text-align: center;">
        <label class="label-block int-small11"><i class="icon-fill-in">*</i>(企业管理)类型:</label>
        <input type="text" class="int int-default" style="width: 300px" placeholder="请输入类型名称" name="typeName">
    </div>
    <div style="text-align: right;margin: 0 20px 20px 0">
        <span class="span-btn confirm">保存</span>
        <span class="span-btn span-btn-bc confirm-active" data-model-close>取消</span>
    </div>
</div>