<div class="model-project-common">
    <div style="padding-left: 10px;padding-right: 0;" class="model-section">
        <div class="modal-form">
            <div class="item">
                <label style="width: 80px;" class="label-block bold-title int-small">审批意见:</label>
                <label><input type="radio" value="1" name="apprStatus" disabled>同意</label>
                <label><input type="radio" value="2" name="apprStatus" disabled>不同意</label>
            </div>
            <div class="item">
                <label class="label-block bold-title int-small" style="float: left;width: 80px;">审批意见:</label>
                <textarea class="int int-default" style="height: 180px;resize: none;
                width: 436px;
                margin-left: 3px;"
                          placeholder="请输入审批意见"
                          name="apprRemark"></textarea>
            </div>
        </div>
    </div>
    <div class="model-footer">
        <span class="span-btn confirm">提交</span>
        <span class="span-btn span-btn-bc confirm-active" data-model-close>取消</span>
    </div>
</div>