<!--查看-->
<div class="model-project-common modal-arrow-left" style="width: 428px;
    position: absolute;right: 115px;top: -58px;">
    <div class="model-header">
        <span class="project-title">查看</span>
        <span class="icon-close"></span>
    </div>
    <div class="modal-form" style="padding: 15px">
        <div class="item">
            <label class="bold-title label-block int-small8">流程类型:</label>
            <span name="tmplTypeName" style="display: inline-block;overflow: hidden;white-space: nowrap;
            text-overflow: ellipsis;vertical-align: middle;width: 200px;"></span>
        </div>
        <div class="item">
            <label class="bold-title label-block int-small8">流程名称:</label>
            <span name="tmplName"
                  style="display: inline-block;overflow: hidden;white-space: nowrap;
                  text-overflow: ellipsis;vertical-align: middle;width: 200px;"></span>
        </div>
        <div class="item">
            <label class="bold-title label-block int-small8">流程说明:</label>
            <span name="remark"
                  style="display: inline-block;overflow: hidden;white-space: nowrap;
                  text-overflow: ellipsis;vertical-align: middle;width: 200px;"></span>
        </div>
        <div class="item">
            <label class="bold-title label-block int-small8">流程审批:</label>
            <span name="copyProjPosNames"></span>
        </div>
        <div class="item">
            <label class="bold-title label-block int-small8">抄送:</label>
            <span name="copyUserNames"></span>
        </div>
    </div>
    <div class="icon-triangle-left">
        <span></span>
    </div>
</div>