<div class="model-project-common" style="width: 460px;">
    <div class="model-section">
        <div style="margin-bottom: 20px">
            <label>企业名称:</label>
            <input type="text" class="int int-default" style="width:334px;" placeholder="请输入企业名称" name="companyName">
        </div>
        <div style="margin-bottom: 20px">
            <label>企业性质:</label>
            <select class="int int-default" style="width:334px;" name="entpType">
                <option value="a">请选择</option>
                <option value="1">股份制</option>
                <option value="2">个体</option>
                <option value="3">私营</option>
                <option value="4">有限责任</option>
                <option value="5">其他</option>
            </select>
        </div>
        <div>
            <label>所在区域:</label>
            <select class="int int-default" id="province" style="width:165px;"></select>
            <select class="int int-default" id="city" style="width:165px;">
                <option value="a">请选择</option>
            </select>
        </div>
    </div>
    <div class="model-footer">
        <span class="span-btn confirm">提交</span>
        <span class="span-btn span-btn-bc confirm-active" data-model-close>取消</span>
    </div>
</div>