<div class="model-project-common" style="width: 460px;">
    <div style="padding: 20px 30px; " class="model-section">
        <div style="margin-bottom:20px;">
            <label style="display: inline-block;text-align:center" class="int-small">当前密码:</label>
            <input type="password" class="int int-default" style="width:334px;height: 40px;" placeholder="请输入当前密码"
                   name="oldPwd">
        </div>
        <div style="margin-bottom:20px;">
            <label style="display: inline-block;text-align:center" class="int-small">新密码:</label>
            <input type="password" class="int int-default" style="width:334px;height: 40px;" placeholder="请输入新密码"
                   name="newPwd">
        </div>
        <div>
            <label style="display: inline-block;text-align:center" class="int-small">确认密码:</label>
            <input type="password" class="int int-default" style="width:334px;height: 40px;" placeholder="请输入确认密码"
                   name="reset">
        </div>
    </div>
    <div class="model-footer">
        <span class="span-btn confirm">确定</span>
        <span class="span-btn span-btn-bc confirm-active" data-model-close>取消</span>
    </div>
</div>