<div class="model-project-common update-mobile" style="width:460px;">
    <div style="padding:20px 30px; " class="model-section">
        <div class="login-user">
            <span class="icon-default">+86</span>
            <input style="position: relative;top: -1px;" class="login-int" type="text" placeholder="请输入您的手机号码/帐号" id="mobile">
        </div>
        <div class="login-user" style="border:none;margin-bottom: 0px;">
            <input class="login-int" type="text" placeholder="请输入您的密码" id="code"
                   style="width: 260px;border:1px solid #e9e9e9;height:38px;border-radius: 4px;" />
            <span id="getCode" class="code">获取短信验证码</span>
        </div>
    </div>
    <div class="model-footer">
        <span class="span-btn confirm">确定</span>
        <span class="span-btn span-btn-bc confirm-active cancel">取消</span>
    </div>
</div>
