<div id="noInfoMyFileCabinetTable_main" class="table-content" style="margin: 0;display: none;">
    <table>
        <thead>
        <tr>
            <th style="padding-left: 20px">文件名称</th>
            <th>创建时间</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody id="myFileCabinetTable"></tbody>
    </table>
</div>
<div class='noInfo' id='noInfoMyFileCabinetTable'>
    <div class="icon-uninformed"></div>
    <p>没有符合条件的信息！</p>
</div>