<div class="modal-form" style="margin: 20px 0;color: #5b5b5b;border-bottom: 1px solid #e9e9e9">
    <div style="padding-bottom: 20px;" class="item">
        <label class="label-block int-small11"><i class="icon-fill-in">*</i>联系人姓名 :</label>
        <input type="text" class="int int-default" style="width: 300px" placeholder="请输入联系人姓名" name="userName">
    </div>
    <div style="padding-bottom: 20px;" class="item">
        <label class="label-block int-small11">性别 :</label>
        <label><input type="radio" name="sex" value="1">男</label>
        <label style="margin-left: 80px"><input type="radio" name="sex" value="2">女</label>
    </div>
    <div style="padding-bottom: 20px;" class="item">
        <label class="label-block int-small11">联系人职务 :</label>
        <input type="text" class="int int-default" style="width: 300px" placeholder="请输入联系人职务" name="duty">
    </div>
    <div style="padding-bottom: 20px;" class="item">
        <label class="label-block int-small11"><i class="icon-fill-in">*</i>联系人手机 :</label>
        <input type="text" class="int int-default" style="width: 300px" placeholder="请输入联系人手机号码" name="mobilephone">
    </div>
    <div style="padding-bottom: 20px;" class="item">
        <label class="label-block int-small11">联系人邮箱 :</label>
        <input type="text" class="int int-default" style="width: 300px" placeholder="请输入联系人邮箱" name="email">
    </div>
</div>
<div style="margin-bottom: 20px;text-align: left;padding-left: 20px;">
    <span class="span-btn confirm">保存</span>
</div>