<div class="table-content" style="margin: 20px;">
    <table style="text-align: center">
        <thead>
        <tr class="small">
            <th class="border">次数</th>
            <th class="border">订单编号</th>
            <th class="border">订单类型</th>
            <th class="border">帐号数量</th>
            <th class="border">购买年限</th>
            <th class="border">订单存储</th>
            <th class="border">应付金额</th>
            <th class="border">交易</th>
            <th class="border">发票申请</th>
            <th class="border">已开票</th>
            <th class="border" style="width:104px;">操作</th>
        </tr>
        </thead>
        <tbody id="orderList"></tbody>
    </table>
</div>