<!--添加说明-->
<div class="model-project-common">
    <div class="modal-form" style="padding: 10px;text-align: center">
        <div style="padding-bottom: 0px;" class="item">
            <label class="bold-title label-block small11" style="float: left;padding-left: 15px;">
                <!--<i class="icon-fill-in">*</i>-->
                材料说明:
            </label>
            <textarea cols="70" rows="10" class="int rule"
                      placeholder="请输入描述内容限100字"
                      style="margin: 10px 0 10px 4px;resize: none"></textarea>
        </div>
    </div>
    <div class="model-footer">
        <span class="span-btn confirm">保存</span>
        <span class="span-btn span-btn-bc confirm-active" data-model-close>取消</span>
    </div>
</div>