<!--添加说明-->
<div class="model-project-common">
    <div class="modal-form" style="padding: 15px;padding-bottom: 5px;text-align: center">
        <div class="item">
            <label class="bold-title label-block small11" style="float: left;line-height: 26px;">
                <i class="icon-fill-in">*</i>
                计算规则:
            </label>
            <textarea cols="70" rows="6" class="int rule"
                      placeholder="请输入计算规则"
                      style="margin-left: 4px;resize: none;padding: 5px;font-family: 'Microsoft YaHei';color: #5b5b5b;"></textarea>
        </div>
        <div class="item">
            <label class="bold-title label-block small11" style="float: left;line-height: 26px;">
                <i class="icon-fill-in">*</i>
                工作内容:
            </label>
            <textarea cols="70"
                      rows="6" class="int workContent" style="margin-left: 4px;resize: none;padding: 5px;font-family: 'Microsoft YaHei';color: #5b5b5b;"
                      placeholder="请输入工作内容"
            ></textarea>
        </div>
    </div>
    <div class="model-footer">
        <span class="span-btn confirm">保存</span>
        <span class="span-btn span-btn-bc confirm-active" data-model-close>取消</span>
    </div>
</div>