<!--用量查看-->
<div class="model-project-common modal-arrow-left checkQuly" style="width: 527px;position:absolute;z-index:11;right: 50px;
    top: -62px;">
    <div class="model-header">
        <span class="project-title">用量查看</span>
        <span class="icon-close"></span>
    </div>
    <div class="table-content" style="height: 180px;overflow-y: auto;margin:10px 20px">
        <table>
            <thead>
            <tr class="small">
                <th style="width: 45px;" class="border">序号</th>
                <th class="border">合同名称</th>
                <th class="border">合同编号</th>
                <th style="width: 45px;" class="border">单位</th>
                <th class="border">用量</th>
                <th class="border">单价</th>
            </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
    <div class="icon-triangle-left explain-radius-bottom ">
        <span></span>
    </div>
</div>