<%- include('../../../layout/header') %>
<!--添加资源-->
<div class="model-project-common" style="width: 860px">
    <div class="modal-form" style="margin: 10px 20px 0 20px">
        <div class="item bold-title">
            西安万科商业中心电动门工程机安装分部
        </div>
        <div class="item">
            <label class="bold-title">合同资源:</label>
            <select class="int int-default int-small14">
                <option value=""></option>
            </select>
            <label class="bold-title">分类:</label>
            <select class="int int-default int-small14">
                <option value=""></option>
            </select>
            <label class="bold-title">余量查看:</label>
            <select class="int int-default int-small14">
                <option value=""></option>
            </select>
            <span class="span-btn background-list-gray">企业添加库</span>
        </div>
    </div>
    <div class="table-content" style="padding-bottom: 10px;height: 374px;overflow-y: auto">
        <table>
            <thead>
            <tr class="small">
                <th class="border"><input type="checkbox"></th>
                <th class="border">分类</th>
                <th class="border">项目名称</th>
                <th class="border">工作内容</th>
                <th class="border">单位</th>
                <th class="border">单价</th>
                <th class="border">可用合同资源</th>
            </tr>
            </thead>
            <tbody>
            <tr class="small">
                <td class="border"><input type="checkbox"></td>
                <td class="border"></td>
                <td class="border"></td>
                <td class="border"></td>
                <td class="border"></td>
                <td class="border"></td>
                <td class="border"></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="model-footer">
        <span class="span-btn">确认</span>
        <span class="span-btn span-btn-bc confirm-active" data-model-close>取消</span>
    </div>
</div>