<!--添加说明-->
<div class="model-project-common modal-arrow-left"
     style="width: 400px;height: 148px;position: absolute;right: 106px;top: -60px">
    <div class="model-section">
        <div class="explain-item explain-radius-top ">
            <textarea placeholder="请输入说明内容......" class="int" style="height: 116px;width:342px;resize: none"></textarea>
        </div>
        <div class="icon-triangle-left explain-radius-bottom ">
            <span></span>
        </div>
    </div>
</div>