<!--合同总价核算-->
<div class="model-project-common" style="width: 890px;">
    <div style="margin:15px 20px;position: relative">
        <label>核算总额:</label>
        <span class="span-color-blue cntrPrice" ></span>
        <label style="margin-left: 30px">预算成本:</label>
        <span class="span-color-blue budPrice"></span>
        <label style="margin-left: 30px">成本控制风险金额:</label>
        <span class="span-color-blue windControl"></span>
    </div>
    <div class="table-content" style="padding-bottom: 10px;min-height: 350px">
        <table>
            <thead>
            <tr class="small">
                <th class="border" style="width: 45px">序号</th>
                <th class="border">项目名称</th>
                <th class="border">工作内容</th>
                <th class="border" style="width: 60px">单位</th>
                <th class="border">核算量</th>
                <th class="border">核算价</th>
                <th class="border" style="width: 70px;">合价</th>
                <th class="border" style="width: 80px">操作</th>
                <th class="border" style="width: 70px;">异常备忘</th>
            </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
    <div class="model-footer">
        <span style="margin-right: 5px;" class="span-btn addItem">添加项</span>
        <span class="span-btn span-btn-bc confirm-active confirm">确定</span>
    </div>
</div>