<div class="model-project-common">
    <div class="model-section" style="padding: 0 30px;">
        <div class="modal-form">
            <div style="text-align: center;font-weight: bold;font-size: 14px;line-height: 60px;">请保持设备联网并开机!</div>
            <div class="item" style="padding-bottom: 20px">
                <label class="bold-title label-block int-small8"><i style="vertical-align: middle;" class="icon-fill-in">*</i>设备名称 :</label>
                <input type="text" class="int int-default" placeholder="请输入设备名称" style="width: 400px" name="machineName">
            </div>
            <div class="item" style="padding-bottom: 20px">
                <label class="bold-title label-block int-small8"><i style="vertical-align: middle;" class="icon-fill-in">*</i>设备号 :</label>
                <input type="text" class="int int-default" placeholder="请输入设备序列号" style="width: 400px" name="machineNum">
            </div>
        </div>
    </div>
    <div class="model-footer">
        <span class="span-btn confirm">确认</span>
        <span class="span-btn span-btn-bc confirm-active" data-model-close>取消</span>
    </div>
</div>
