<div class="model-project-common">
    <div class="model-section" style="padding: 15px 30px;">
        <div class="clearfix">
            <div class="group_left">
                <div>全部班组</div>
                <ul></ul>
            </div>
            <div class="group_right">
                <div>已选班组</div>
                <ul></ul>
            </div>
        </div>
    </div>
    <div class="model-footer">
        <span class="span-btn confirm">确认</span>
        <span class="span-btn span-btn-bc confirm-active" data-model-close>取消</span>
    </div>
</div>
