<div class="model-project-common model-project">
    <div class="model-header">
        <span class="project-title">选择同类工程<i>(可多选)</i></span>
        <select>
            <option>工程类型</option>
        </select>
        <span class="icon-close"></span>
    </div>
    <div class="model-section">
        <div>
            <div>
                <a><span class="icon-select-arrow"></span>西安地铁三号线石家街站设备区装修工程</a>
                <div class="table-content">
                    <table>
                        <thead>
                        <tr>
                            <th class="border">选择</th>
                            <th class="border">分部名称</th>
                            <th class="border">预算金额(%)</th>
                            <th class="border">毛利润(%)</th>
                            <th class="border">主材费(%)</th>
                            <th class="border">人工费(%)</th>
                            <th class="border">机械费(%)</th>
                            <th class="border">措施费(%)</th>
                            <th class="border">间接费(%)</th>
                            <th class="border">分包费(%)</th>
                        </tr>
                        </thead>
                    </table>
                </div>
            </div>
            <div>
                <a><span class="icon-select-arrow"></span>西安地铁三号线石家街站设备区装修工程</a>
                <div class="table-content">
                    <table>
                        <thead>
                        <tr>
                            <th class="border">选择</th>
                            <th class="border">分部名称</th>
                            <th class="border">预算金额(%)</th>
                            <th class="border">毛利润(%)</th>
                            <th class="border">主材费(%)</th>
                            <th class="border">人工费(%)</th>
                            <th class="border">机械费(%)</th>
                            <th class="border">措施费(%)</th>
                            <th class="border">间接费(%)</th>
                            <th class="border">分包费(%)</th>
                        </tr>
                        </thead>
                    </table>
                </div>
            </div>
            <div>
                <a><span class="icon-select-arrow"></span>西安地铁三号线石家街站设备区装修工程</a>
                <div class="table-content">
                    <table>
                        <thead>
                        <tr>
                            <th class="border">选择</th>
                            <th class="border">分部名称</th>
                            <th class="border">预算金额(%)</th>
                            <th class="border">毛利润(%)</th>
                            <th class="border">主材费(%)</th>
                            <th class="border">人工费(%)</th>
                            <th class="border">机械费(%)</th>
                            <th class="border">措施费(%)</th>
                            <th class="border">间接费(%)</th>
                            <th class="border">分包费(%)</th>
                        </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="model-footer">
        <span class="span-btn span-btn-right confirm">确定</span>
        <span class="span-btn span-btn-bc confirm-active" data-model-close>取消</span>
    </div>
</div>