<div class="model-project-common">
    <div class="model-header">
        <span class="project-title">添加分部</span>
        <span class="icon-close"></span>
    </div>
    <div class="model-section">
        <div class="model-item ">
            <label class="title-middle"><i>*</i>分部名称:</label>
            <input type="text" class="title-large-input name"/>
        </div>
        <div class="model-item ">
            <label class="title-middle"><i>*</i>编号:</label>
            <input type="text" class="title-large-input number" />
        </div>
        <div class="model-item ">
            <label class="title-middle"><i>*</i>预算金额:</label>
            <input type="text" class="title-large-input money" />
        </div>
        <div class="model-item ">
            <label class="span-color-blue" id="addProject">
                <span class="icon-common-project"></span>
                同类工程:
            </label>
            <span class="desc">(选择同类工程可得出以下费用平均值)</span>
            <div class="common-project-content">
                <label class="title-small">已选择</label>
                <div class="title-textarea project">
                    <ol>
                        <li>
                            <strong>但是双方电风扇的发生的发生的</strong>
                            <a>删除</a>
                            <ul>
                                <li>
                                    <strong>但是双方电风扇的发生的发生的</strong>
                                    <a>删除</a>
                                </li>
                                <li>
                                    <strong>但是双方电风扇的发生的发生的</strong>
                                    <a>删除</a>
                                </li>
                                <li>
                                    <strong>但是双方电风扇的发生的发生的</strong>
                                    <a>删除</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <strong>但是双方电风扇的发生的发生的</strong>
                            <a>删除</a>
                            <ul>
                                <li>
                                    <strong>但是双方电风扇的发生的发生的</strong>
                                    <a>删除</a>
                                </li>
                                <li>
                                    <strong>但是双方电风扇的发生的发生的</strong>
                                    <a>删除</a>
                                </li>
                                <li>
                                    <strong>但是双方电风扇的发生的发生的</strong>
                                    <a>删除</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <strong>但是双方电风扇的发生的发生的</strong>
                            <a>删除</a>
                            <ul>
                                <li>
                                    <strong>但是双方电风扇的发生的发生的</strong>
                                    <a>删除</a>
                                </li>
                                <li>
                                    <strong>但是双方电风扇的发生的发生的</strong>
                                    <a>删除</a>
                                </li>
                                <li>
                                    <strong>但是双方电风扇的发生的发生的</strong>
                                    <a>删除</a>
                                </li>
                            </ul>
                        </li>
                    </ol>
                </div>
            </div>
        </div>
        <div class="model-item ">
            <label class="title-small"><i>*</i>毛利润:</label>
            <input type="text" placeholder="请输入......" class="title-small-input profit" />
            <label class="title-small"><i>*</i>主材料:</label>
            <input type="text" placeholder="请输入......" class="title-small-input material" />
            <label class="title-small"><i>*</i>人工费:</label>
            <input type="text" placeholder="请输入......" class="title-small-input labor-cost" />
        </div>
        <div class="model-item ">
            <label class="title-small"><i>*</i>机械费:</label>
            <input type="text" placeholder="请输入......" class="title-small-input machinery" />
            <label class="title-small"><i>*</i>措施费:</label>
            <input type="text" placeholder="请输入......" class="title-small-input step" />
            <label class="title-small"><i>*</i>间接费:</label>
            <input type="text" placeholder="请输入......" class="title-small-input indirect" />
        </div>
        <div class="model-item ">
            <label class="title-small"><i>*</i>分包费:</label>
            <input type="text" placeholder="请输入......" class="title-small-input subpackage" />
        </div>
    </div>
    <div class="model-footer">
        <span class="span-btn span-btn-right confirm">确定</span>
        <span class="span-btn span-btn-bc confirm-active" data-model-close>取消</span>
    </div>
</div>