<div class="model-project-common">
    <div class="model-section" style="padding: 20px 20px;">
        <div class="table-content">
            <table>
                <thead>
                    <tr>
                        <th class="border" style="width: 45px;">序号</th>
                        <th class="border">作业班组</th>
                        <th class="border" style="width: 60px;">人数</th>
                    </tr>
                </thead>
                <tbody id="checkAtdMachineTable"></tbody>
            </table>
        </div>
    </div>
    <div class="model-footer">
        <span class="span-btn span-btn-bc confirm-active" data-model-close>取消</span>
    </div>
</div>
