<div class="model-project-common enterprise-add-model delete-modal">
    <div class="model-section model-border-radius">
        <div class="enterprise-remind">
            确定删除么?
        </div>
    </div>
    <div class="model-footer">
        <span class="span-btn confirm">确认</span>
        <span class="span-btn span-btn-bc confirm-active" data-model-close>取消</span>
    </div>
</div>