<div class="model-project-common">
    <div class="model-section machine-info" style="padding: 6px 30px;">
        <div class="modal-form">
            <div>
                <label>考勤机名称 :</label>
                <span name="kaoqinName"></span>
            </div>
            <div>
                <label>识别号 :</label>
                <span name="serialNo"></span>
            </div>
            <div>
                <label>指纹容量 :</label>
                <span name="fingerSize"></span>
            </div>
            <div>
                <label>人脸容量 :</label>
                <span name="faceSize"></span>
            </div>
            <div>
                <label>考勤机型号 :</label>
                <span name="machineNo"></span>
            </div>
            <div>
                <label>固件版本 :</label>
                <span name="machineVersion"></span>
            </div>
            <div>
                <label>添加时间 :</label>
                <span name="addTime"></span>
            </div>
        </div>
    </div>
    <div class="model-footer">
        <span class="span-btn span-btn-bc confirm-active" data-model-close>取消</span>
    </div>
</div>
