<div class="model-project-common project-log-modal">
    <div class="model-section">
        <div class="modal-form">
            <div class="item date-recorder">
                <!-- <label class="bold-title label-block int-small11">日期:</label> -->
                <label class="bold-title label-block">日期:</label>
                <input type="date" class="int int-default no-border lh14 h14" name="remarkDate" data-warn="请输入日期"/>
                <!-- <label class="bold-title label-block int-small11">记录人:</label> -->
                <label class="bold-title label-block recorder">记录人:</label>
                <input type="text" class="int int-default no-border lh14 h14" disabled name="userName"/>
                <!-- <span class="int int-default int-small16"></span> -->
            </div>
            <div class="item project-name">
                <!-- <label class="bold-title label-block int-small11">工程名称:</label> -->
                <label class="bold-title label-block">工程名称:</label>
                <input type="text" class="int int-default int-large44 no-border lh14 h14" id="projName" disabled />
            </div>
            <!-- <div class="item">
                <label class="bold-title label-block int-small11">
                    <i class="icon-fill-in">*</i>
                    <span class="label-block" style="margin-left: 10px">建设单位:</span>
                </label>
                <input type="text" class="int int-default int-large44"
                       placeholder="请输入建设单位"
                       name="buildCompany" data-warn="请输入建设单位" />
            </div>
            <div class="item">
                <label class="bold-title label-block int-small11">
                    <i class="icon-fill-in">*</i>
                    <span class="label-block" style="margin-left: 10px">施工单位:</span>
                </label>
                <input type="text" class="int int-default int-large44"
                       placeholder="请输入施工单位"
                       name="constructCompany" data-warn="请输入施工单位" />
            </div> -->
            <div class="item">
                <label class="bold-title label-block" style="text-align: left;">
                    <i class="icon-fill-in" style="margin-right: 0;">*</i>
                    <span class="label-block">当日气候:</span>
                </label>
                <label>上午</label>
                <input type="text" class="int int-default w203" name="weatherAM"
                       placeholder="请输入气候"
                       data-warn="请输入上午气候" />
                <label style="margin-left: 50px;">下午</label>
                <input type="text" class="int int-default w203 fr"
                       placeholder="请输入气候"
                       name="weatherPM" data-warn="请输入下午气候" />
            </div>
            <div class="item">
                <label class="bold-title label-block" style="text-align: left;">
                    <i class="icon-fill-in" style="margin-right: 0;">*</i>
                    <span class="label-block">当日气温:</span>
                </label>
                <label>上午</label>
                <input type="text" class="int int-default w203"
                       placeholder="请输入气温"
                       name="temperatureAM" data-warn="请输入上午气温" />
                <label style="margin-left: 50px;">下午</label>
                <input type="text" class="int int-default w203 fr"
                       placeholder="请输入气温"
                       name="temperaturePM" data-warn="请输入下午气温" />
            </div>
            <div class="table-content modal-form">
                <table>
                    <thead>
                    <tr class="small">
                        <th class="border" style="width: 140px">分部项工程名称</th>
                        <th class="border" colspan="2">今日施工部位及内容</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td class="border bold-title">
                            <textarea placeholder="请填写" name="subProjName1"></textarea>
                        </td>
                        <td class="border" colspan="2">
                            <textarea placeholder="请填写" name="subProjContent1"></textarea>
                        </td>
                    </tr>
                    <tr>
                        <td class="border bold-title">
                            <textarea placeholder="请填写" name="subProjName2"></textarea>
                        </td>
                        <td class="border" colspan="2">
                            <textarea placeholder="请填写" name="subProjContent2"></textarea>
                        </td>
                    </tr>
                    <tr>
                        <td class="border bold-title">
                            <textarea placeholder="请填写" name="subProjName3"></textarea>
                        </td>
                        <td class="border" colspan="2">
                            <textarea placeholder="请填写" name="subProjContent3"></textarea>
                        </td>
                    </tr>
                    <tr>
                        <td class="border bold-title vat">人工情况</td>
                        <td class="border" colspan="2">
                            <textarea placeholder="请填写" name="laborCondition" data-warn="请输入人工情况" class="h30"></textarea>
                        </td>
                    </tr>
                    <tr>
                        <td class="border bold-title vat">是否满足进度需求</td>
                        <td class="border progress-choose">
                            <label><input type="radio" name="scheduleType" value="1" /><span></span><i>是</i></label>
                            <label><input type="radio" name="scheduleType" value="2" /><span></span><i>否</i></label>
                        </td>
                        <td class="border">
                            缺少人力:(<input type="text" style="width: 80px;" name="requireWorker" />)人
                        </td>
                    </tr>
                    <tr>
                        <td class="border bold-title vat">设备使用情况</td>
                        <td class="border" colspan="2">
                            <textarea type="text" placeholder="请填写" name="equipConditon" data-warn="请输入设备使用情况" class="device"></textarea>
                        </td>
                    </tr>
                    <tr>
                        <td class="border bold-title vat">材料进退场及使用情况</td>
                        <td class="border" colspan="2">
                            <textarea placeholder="请填写" name="mtrlConditon" data-warn="请输入材料情况" class="h30"></textarea>
                        </td>
                    </tr>
                    <tr>
                        <td class="border bold-title vat">发现问题及处理</td>
                        <td class="border" colspan="2">
                            <textarea placeholder="请填写" name="happenProblem" data-warn="请输入发现的问题" class="h30"></textarea>
                        </td>
                    </tr>
                    <tr>
                        <td class="border bold-title vat">存在问题及需要解决事情</td>
                        <td class="border" colspan="2">
                            <textarea placeholder="请填写" name="existProblem" data-warn="请输入存在问题" class="h30"></textarea>
                        </td>
                    </tr>
                    <tr>
                        <td class="border bold-title vat">项目负责任审核及问题处理意见</td>
                        <td class="border" colspan="2">
                            <textarea placeholder="请填写" name="chargeRemark" data-warn="请输入负责人处理意见" class="h30"></textarea>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="item" style="text-align: right;margin-top: 20px">
                <!--<span style="display: none;" class="span-btn change">修改</span>-->
                <span class="span-btn confirm">确定</span>
                <span class="span-btn span-btn-bc confirm-active" data-model-close>取消</span>
            </div>
        </div>
    </div>
</div>