<div class="model-project-common">
    <div class="model-section" style="text-align: center;  max-height: 570px;  overflow-y: auto;">
        <div class="safe-title"></div>
        <div class="safe-info">
            <label>编辑人:</label>
            <span name="userName"></span>
            <label>发布时间:</label>
            <span name="addTime"></span>
        </div>
        <div class="modal-images"></div>
        <div class="modal-content"></div>
    </div>
    <div class="model-footer">
        <!--<span class="span-btn background-list-gray">上一篇</span>-->
        <!--<span class="span-btn background-list-gray">下一篇</span>-->
        <span class="span-btn background-list-gray">取消</span>
    </div>
</div>