<div class="model-project-common model-temporary-task">
    <div class="model-section">
        <div class="modal-form">
            <div class="item">
                <label class="bold-title label-block int-small"><i class="icon-fill-in">*</i>标题:</label>
                <input class="int int-default int-large44" id="title" placeholder="请输入任务名称" />
            </div>
            <div class="item">
                <label class="bold-title label-block int-small" style="float: left"><i class="icon-fill-in">*</i>内容:</label>
                <textarea name="content" class="int int-default"
                          style="width: 430px;display: inline-block;margin-left:5px;
                          height:100px;resize: none;" placeholder="请输入内容"></textarea>
            </div>
            <div class="item clearfix">
                <label class="bold-title label-block int-small" style="float: left">
                    图片:</label>
                <div id="communiqueFile" style="float: left;margin-left: 4px"><span style="position: absolute;left: 380px;color: #888888">( 只能上传图片 )</span></div>
            </div>
            <div class="clr"></div>
            <div class="item">
                <label class="bold-title label-block int-small">编辑人:</label>
                <input class="int int-default int-large44" id="employee" disabled />
            </div>
        </div>
    </div>
    <div class="model-footer">
        <span class="span-btn confirm" style="margin-right: 10px;">确定</span>
        <span class="span-btn span-btn-bc confirm-active" data-model-close>取消</span>
    </div>
</div>