<div class="model-project-common">
    <div class="model-section" style="padding: 20px 30px 0;">
        <div class="modal-form">
            <div class="item" style="padding-bottom: 20px">
                <label class="bold-title label-block int-small8"><i style="vertical-align: middle;" class="icon-fill-in">*</i>设备名称 :</label>
                <input type="text" class="int int-default machine-name" placeholder="请输入设备名称" style="width: 400px">
            </div>
            <div class="item" style="padding-bottom: 20px">
                <label class="bold-title label-block int-small8"><i style="vertical-align: middle;" class="icon-fill-in">*</i>考勤地点 :</label>
                <select class="int int-default check-location" style="width: 400px;" >
                    <option value="a">请选择考勤地点</option>
                </select>
            </div>
            <div class="item clearfix" style="padding-bottom: 20px">
                <label class="bold-title label-block int-small8 fl"><i style="vertical-align: middle;" class="icon-fill-in">*</i>考勤班组 :</label>
                <div class="fl">
                    <span style="font-size: 14px;color: #009411;cursor: pointer;" id="addGroup"><span style="margin-left: 3px;" class="icon-add-content"></span>添加班组</span>
                    <div class="group-list">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="model-footer">
        <span class="span-btn confirm">确认</span>
        <span class="span-btn span-btn-bc confirm-active" data-model-close>取消</span>
    </div>
</div>
