<div class="model-project-common">
    <div class="model-section" style="text-align: center;max-height: 570px;overflow-y: auto;">
        <div class="safe-title" style="line-height: 2;font-size: 16px"></div>
        <div style="font-size: 12px;color: #999;line-height: 2;">
            <label>编辑人:</label>
            <span name="userName"></span>
            <label style="margin-left: 20px;">发布时间:</label>
            <span name="addTime"></span>
        </div>
        <div class="modal-content" style="text-indent: 28px;font-size: 14px;
        line-height: 1.5;text-align: left;word-wrap: break-word;
word-break: normal;margin-top: 10px;"></div>
    </div>
    <div class="model-footer">
        <span class="span-btn background-list-gray up">上一篇</span>
        <span class="span-btn background-list-gray down">下一篇</span>
    </div>
</div>