<div class="model-project-common model-temporary-task">
    <div class="model-section">
        <div class="modal-form">
            <div class="item">
                <label class="bold-title label-block int-small"><i class="icon-fill-in">*</i>标题:</label>
                <input class="int int-default int-large44" id="title" placeholder="请输入任务名称" />
            </div>
            <div class="item">
                <label class="bold-title label-block int-small" style="float: left">
                    <i class="icon-fill-in">*</i>内容:</label>
                <textarea class="int int-default int-large44"
                          style="height: 168px;margin-left: 4px;resize: none"
                          id="content"
                          placeholder="请输入任务内容"
                ></textarea>
            </div>
        </div>
    </div>
    <div class="model-footer">
        <span class="span-btn confirm" style="margin-right: 10px;">确定</span>
        <span class="span-btn span-btn-bc confirm-active" data-model-close>取消</span>
    </div>
</div>