<div id="noInfoDocumentManagerTable_main" class="table-content" style="display: none;margin: 0;">
    <table>
        <thead>
        <tr>
            <th style="width: 50px;"><input type="checkbox"></th>
            <th>文档名称</th>
            <th style="width: 150px;">创建人</th>
            <th style="width: 150px;">创建时间</th>
            <th style="width: 150px;">查看</th>
        </tr>
        </thead>
        <tbody id="documentManagerTable"></tbody>
    </table>
</div>
<div class='noInfo' id='noInfoDocumentManagerTable'>
    <div class="icon-uninformed"></div>
    <p id="noInfoDocumentManagerTable_desc">上传文件前，请先在左边列表中创建分类！</p>
</div>