<div class="container-list-warp" id="managerDetail" data-id="<%- id %>" data-mid="<%- tmplId %>">
    <div class="knowledge-detail approval-detail">
        <div class="knowledge-detail-item">
            <label>审批结果:</label>
            <span name="apprStatus"></span>
        </div>
        <div class="knowledge-detail-item">
            <label style="width: 60px;display: inline-block;">申 请 人 :</label>
            <span name="applyUserName"></span>
        </div>
        <div class="knowledge-detail-item">
            <label>申请时间:</label>
            <span name="applyTime"></span>
        </div>
        <div class="knowledge-detail-item clearfix">
            <label style="float: left;">申请内容:</label>
            <div name="applyContent" style="white-space: pre-line;float: left;margin-left: 3px;"></div>
        </div>
        <div class="knowledge-attach" style="border-bottom:1px solid #ececec;padding-bottom: 10px;width: 760px">
            <label style="color:#999">附件:</label>
            <div class="attach-list"></div>
            <div class="clr"></div>
        </div>
        <div class="knowledge-detail-item">
            <label>审批流程:</label>
            <span name="apprUserName"></span>
        </div>
        <div class="knowledge-detail-item">
            <label>流程说明:</label>
            <span name="remark"></span>
        </div>
        <div class="knowledge-detail-item" style="border-top: 1px solid #ececec">
            <div class="modal-form" style="margin: 10px 0;display: none; " id="projectShow">
                <span style="color: #999999;">审批进度 : </span><span class="bold-title" name="projectName"></span>
            </div>
            <div class="approval-process"></div>
        </div>
    </div>
</div>