<div class="container-list-warp">
    <div class="my-apply" id="myApply">
        <div id='noInfoMyApprovalTable_main' class="my-apply-list" style="display: none;"></div>
    </div>
    <div class="knowledge-detail">
        <div class="knowledge-detail-title" style="border-bottom: 1px solid #e9e9e9">
            <span class="span-btn background-list-gray" id="delKnowledge">导出</span>
            <span id="approveDetailClose" class="icon-close" style="position: absolute;right: 20px;margin-top:6px"></span>
        </div>
    </div>
    <div style="margin-top: 51px;box-shadow: none" class="knowledge-detail">

        <div class="knowledge-detail-item">
            <label>审批结果:</label>
            <span name="apprStatus"></span>
        </div>
        <div class="knowledge-detail-item">
            <label style="width: 60px;display: inline-block;">申 请 人 :</label>
            <span name="applyUserName"></span>
        </div>
        <div class="knowledge-detail-item">
            <label>申请时间:</label>
            <span name="applyTime"></span>
        </div>
        <div class="knowledge-detail-item clearfix">
            <label style="float: left;">申请内容:</label>
            <div name="applyContent" style="white-space: pre-line;float: left;margin-left: 3px;"></div>
        </div>
        <div class="knowledge-attach" style="border-bottom:1px solid #ececec;padding-bottom: 10px">
            <label>附件:</label>
            <div class="attach-list"></div>
            <div class="clr"></div>
        </div>
        <div class="knowledge-detail-item">
            <label>审批流程:</label>
            <span name="apprUserName"></span>
        </div>
        <div class="knowledge-detail-item">
            <label>流程说明:</label>
            <span name="remark"></span>
        </div>
        <div class="knowledge-detail-item" style="border-top: 1px solid #ececec">
            <div class="modal-form" style="margin: 10px 0;display: none; " id="projectShow">
                <span style="color: #999999;">审批进度 : </span><span class="bold-title" name="projectName"></span>
            </div>
            <div class="approval-process"></div>
        </div>
        <div style="text-align: center;margin: 20px 0;">
            <span class="span-btn confirmAgree" data-type="1">同意</span>
            <span class="span-btn confirmAgree delete-active" style="background-color:#c9941f;" data-type="2">不同意</span>
        </div>
    </div>
    <div name='noInfoMyApprovalTable_page' id="page" style="margin: 20px 0;display: none;"></div>
</div>
<div class='noInfo' id='noInfoMyApprovalTable'>
    <div class="icon-uninformed"></div>
    <p>没有符合条件的信息！</p>
</div>
