<div class="modal-form" style="margin: 15px 20px;">
    <div style="line-height: 30px;" class="span-btn" id="addType">
        <span class="icon-create"></span>
        添加类型
    </div>
   <!-- <label class="label-block int-small" style="width: 80px">流程查看:</label>
    <select class="int int-default int-small14">
        <option value="a">全部</option>
    </select>-->
    <div class="table-content">
        <table>
            <thead>
            <tr>
                <th style="padding-left: 20px;width: 150px;">序号</th>
                <th style="width: 240px;">流程类型</th>
                <!--<th>编号</th>-->
                <th style="width: 180px;">创建人</th>
                <th>数量</th>
                <th style="width: 120px;">操作</th>
            </tr>
            </thead>
            <tbody id="processTable"></tbody>
        </table>
    </div>
</div>