<div class="modal-form" style="margin: 20px 20px;">
    <a style="color:#5b5b5b" class="span-btn background-list-gray btn-fine-adj1" href="/approval/setting/add">流程设置</a>
    <label class="label-block int-small" style="width: 80px">流程查看:</label>
    <select class="int int-default int-small14" id="typeId">
        <option value="0">全部</option>
    </select>
    <span style="line-height: 30px;" class="span-btn btn-fine-adj1" id="searchModal">查询</span>
    <div class="table-content">
        <table>
            <thead>
            <tr>
                <th style="padding-left: 20px;">序号</th>
                <th>流程类型</th>
                <th>流程名称</th>
                <th>说明</th>
                <th style="width: 110px;">操作</th>
            </tr>
            </thead>
            <tbody id="processSettingTable"></tbody>
        </table>
    </div>
</div>