$fcx: #333333;
$fcxx: #666666;
$fcxxx: #999999;
$blue: #009441;
$box-border: #e9e9e9;

$form-border: #bebebe;
/*选中背景*/
$bc: #f3fcf7;
.fcx {
    color: $fcx;
}

.fcxx {
    color: $fcxx;
}

.fcxxx {
    color: $fcxxx;
}

.blue {
    color: $blue;
}
