.icon-arrow {
    cursor: pointer;
    display: inline-block;
    height: 15px;
    width: 14px;
    text-align: center;
    background: url(images/fj_active.png) no-repeat;
    position: relative;
}

.icon-uninformed {
    display: inline-block;
    height: 68px;
    width: 68px;
    vertical-align: middle;
    background: url(./images/uninformed-remind.png) no-repeat;
}

.icon-arrow-gray {
    cursor: pointer;
    display: inline-block;
    height: 15px;
    width: 14px;
    vertical-align: middle;
    text-align: center;
    position: relative;
    background: url(./images/fj.png) no-repeat;
    &.active {
        background: url(./images/fj_active.png) no-repeat;
    }
}

.icon-close {
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    height: 17px;
    width: 17px;
    text-align: center;
    background: url(./images/close-modal.png) no-repeat;
    &:hover {
        background: url(./images/close-modal-active.png) no-repeat;
    }
}

.icon-attach-close {
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    height: 40px;
    width: 40px;
    text-align: center;
    background: url(./images/close-attach.png) no-repeat;
}

.icon-attach-arrow {
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    height: 90px;
    width: 58px;
    text-align: center;
    background: url(./images/attach-arrow-left.png) no-repeat;
    &:hover {
        background: url(./images/attach-arrow-left-active.png) no-repeat;
    }
    &.right {
        background: url(./images/attach-arrow-right.png) no-repeat;
        &:hover {
            background: url(./images/attach-arrow-right-acitve.png) no-repeat;
        }
    }
}

.icon-select-arrow {
    cursor: pointer;
    margin-bottom: 3px;
    vertical-align: middle;
    display: inline-block;
    width: 8px;
    height: 14px;
    background: url(./images/arrows.png) no-repeat;
    margin-right: 5px;
    &.active {
        height: 8px;
        width: 14px;
        background: url(./images/arrows_hover.png) no-repeat;
    }
}

.icon-triangle-left {
    width: 0;
    height: 0;
    border-top: 16px solid transparent;
    border-bottom: 16px solid transparent;
    border-left: 16px solid $form-border;
}

.icon-triangle-top {
    width: 0;
    height: 0;
    position: absolute;
    right: 30px;
    top: -14px;
    border-bottom: 14px solid $form-border;
    border-right: 14px solid transparent;
    border-left: 14px solid transparent;
    &.fff {
        position: absolute;
        right: 30px;
        top: -13px;
        border-bottom: 14px solid #fff;
    }
}

.icon-line {
    display: inline-block;
    width: 1px;
    vertical-align: middle;
    height: 12px;
    background-color: $form-border;
}

.icon-download {
    display: inline-block;
    vertical-align: middle;
    background: url(./images/import-img.png) no-repeat;
    width: 17px;
    height: 16px;
}

.icon-create {
    background: url(./images/create.png) no-repeat;
    display: inline-block;
    vertical-align: middle;
    margin-top: -2px;
    width: 17px;
    height: 17px;
}

.icon-add-supplier {
    background: url(./images/add-supplier.png) no-repeat;
    display: inline-block;
    vertical-align: middle;
    margin-top: -2px;
    width: 17px;
    height: 17px;
}

.icon-mark {
    position: absolute;
    background: url(./images/ellipse.png) no-repeat;
    display: inline-block;
    vertical-align: middle;
    right: -2px;
    top: 16px;
    width: 5px;
    height: 12px;
    &.special {
        top: 30px;
    }
}

.icon-system-remind {
    width: 30px;
    height: 30px;
    display: inline-block;
    vertical-align: middle;
    background: url(./images/system-remind.png) no-repeat;
}

.icon-cost-add {
    background: url(./images/cost-add.png) no-repeat;
    display: inline-block;
    vertical-align: middle;
    margin-top: -2px;
    width: 17px;
    height: 17px;
}

.icon-add-plus {
    background: url(./images/cost-add-plus.png) no-repeat;
    display: inline-block;
    vertical-align: middle;
    width: 8px;
    height: 9px;
}

.icon-common-project {
    background: url(./images/cost-relevance.png) no-repeat;
    display: inline-block;
    vertical-align: middle;
    width: 12px;
    height: 12px;
}

.icon-add-image {
    background: url(./images/add-image.png) no-repeat;
    display: inline-block;
    vertical-align: middle;
    width: 14px;
    height: 14px;
}

.icon-piece {
    display: inline-block;
    width: 20px;
    height: 12px;
    border-radius: 2px;
    vertical-align: middle;
    background-color: #d9c225;
    &.piece-bc-e33d14 {
        background-color: #f1693e;
    }
    &.piece-bc-009441 {
        background-color: #33a967;
    }
    &.piece-bc-f8f8f8 {
        background-color: #f8f8f8;
        border: 1px solid #CCCCCC;
    }
    &.piece-bc-82b549 {
        background-color: #82b549;
    }

    &.piece-bc-82b549 {
        background-color: #82b549;
    }

    &.piece-bc-74a082 {
        background-color: #74a082;
    }
    &.piece-bc-989bbb {
        background-color: #989bbb;
    }
    &.piece-bc-516875 {
        background-color: #516875;
    }
    &.piece-bc-629fa5 {
        background-color: #629fa5;
    }
    &.piece-bc-a7975f {
        background-color: #a7975f;
    }
    &.piece-bc-98bdbc {
        background-color: #98bdbc;
    }
    &.piece-bc-00a2e2 {
        background-color: #00a2e2;
    }
    &.piece-bc-f36c3f {
        background-color: #f36c3f;
    }
    &.piece-bc-18c5c7 {
        background-color: #18c5c7;
    }
    &.piece-bc-fcbc0d {
        background-color: #fcbc0d;
    }
    &.piece-bc-c09d3c {
        background-color: #c09d3c;
    }
    &.piece-bc-84d528 {
        background-color: #84d528;
    }
    &.piece-bc-45758a {
        background-color: #45758a;
    }
}

.icon-nav-arrow {
    position: absolute;
    right: 10px;
    width: 5px !important;
    height: 10px !important;
    top: 50%;
    margin-top: -7px !important;
    background: url(./images/enterprise-arrow.png) no-repeat;
}

.icon-enterprise-move {
    cursor: pointer;
    background: url(./images/enterprise-move.png) no-repeat;
    display: inline-block;
    vertical-align: middle;
    width: 17px;
    height: 17px;
    &:hover {
        background: url(./images/enterprise-move-active.png) no-repeat;
    }
}

.icon-enterprise-category {
    cursor: pointer;
    background: url(./images/enterprise-add-category.png) no-repeat;
    display: inline-block;
    vertical-align: middle;
    width: 17px;
    height: 17px;
    margin-right: 10px;
    &:hover {
        background: url(./images/enterprise-add-category-active.png) no-repeat;
    }
}

.icon-enterprise-search {
    cursor: pointer;
    background: url(./images/enterprise-search.png) no-repeat;
    display: inline-block;
    vertical-align: middle;
    width: 17px;
    height: 17px;
    margin-right: 10px;
    &:hover {
        background: url(./images/enterprise-search-active.png) no-repeat;
    }
}

.icon-enterprise-one-add {
    cursor: pointer;
    background: url(./images/enterprise-add-type.png) no-repeat;
    display: inline-block;
    vertical-align: middle;
    width: 14px !important;
    height: 14px !important;
    margin-left: 15px;
}

.icon-enterprise-one-edit {
    cursor: pointer;
    background: url(./images/enterprise-one-edit.png) no-repeat;
    display: inline-block;
    vertical-align: middle;
    width: 14px !important;
    height: 14px !important;
    margin-left: 5px;
    &:hover {
        background: url(./images/enterprise-one-edit-active.png) no-repeat;
    }
}

.icon-enterprise-one-delete {
    cursor: pointer;
    background: url(./images/enterprise-one-delete.png) no-repeat;
    display: inline-block;
    vertical-align: middle;
    width: 14px !important;
    height: 14px !important;
    margin-left: 5px;
}

.icon-enterprise-two-edit {
    cursor: pointer;
    background: url(./images/enterprise-two-edit.png) no-repeat;
    display: inline-block;
    vertical-align: middle;
    width: 10px !important;
    height: 10px !important;
    margin-left: 5px;
}

.icon-enterprise-two-delete {
    cursor: pointer;
    background: url(./images/enterprise-two-delete.png) no-repeat;
    display: inline-block;
    vertical-align: middle;
    width: 7px !important;
    height: 7px !important;
    margin-left: 5px;
}

.icon-remind {
    cursor: pointer;
    background: url(./images/enterprise-remind.png) no-repeat;
    display: inline-block;
    vertical-align: middle;
    width: 30px;
    height: 30px;
}

.icon-red-dot {
    position: absolute;
    display: inline-block;
    width: 20px;
    height: 20px;
    top: -10px;
    right: -15px;
    border-radius: 50%;
    background-color: #ff4c42;
    color: #ffffff;
}

.icon-add-content {
    cursor: pointer;
    background: url(./images/add-pre-active.png) no-repeat;
    display: inline-block;
    vertical-align: middle;
    width: 17px;
    height: 17px;
    margin-right: 5px;
    margin-top: -2px;
}

.icon-enterprise-calendar {
    cursor: pointer;
    background: url(./images/calendar.png) no-repeat;
    display: inline-block;
    vertical-align: middle;
    width: 17px;
    height: 18px;
    margin-right: 10px;
}

.icon-admin {
    cursor: pointer;
    background: url(./images/company-file.png) no-repeat;
    display: inline-block;
    vertical-align: middle;
    width: 26px;
    height: 26px;
    margin-right: 5px;
    margin-top: 3px;
    &.my-file {
        background: url(./images/document-my-file.png) no-repeat;
    }
}

.icon-file {
    background: url(./images/file-cabinet.png) no-repeat;
    display: inline-block;
    vertical-align: middle;
    width: 22px;
    height: 22px;
    margin-right: 5px;;
    &.xls {
        background: url(./images/excel.png) no-repeat;
    }
    &.XLS {
        background: url(./images/excel.png) no-repeat;
    }
    &.xlsx { //xlsx
        background: url(./images/excel.png) no-repeat;
    }
    &.XLSX { //xlsx
        background: url(./images/excel.png) no-repeat;
    }
    &.doc {
        background: url(./images/word.png) no-repeat;
    }
    &.DOC {
        background: url(./images/word.png) no-repeat;
    }
    &.docx { //同doc
        background: url(./images/word.png) no-repeat;
    }
    &.DOCX {
        background: url(./images/word.png) no-repeat;
    }
    &.pdf {
        background: url(./images/pdf.png) no-repeat;
    }
    &.PDF {
        background: url(./images/pdf.png) no-repeat;
    }
    &.jpeg {
        background: url(./images/jpeg.png) no-repeat;
    }
    &.JEPG {
        background: url(./images/jpeg.png) no-repeat;
    }
    &.jpg { //同jpeg
        background: url(./images/jpeg.png) no-repeat;
    }
    &.JPG { //同jpeg
        background: url(./images/jpeg.png) no-repeat;
    }
    &.png { //同jpeg
        background: url(./images/jpeg.png) no-repeat;
    }
    &.PNG { //同jpeg
        background: url(./images/jpeg.png) no-repeat;
    }
    &.cad {
        background: url(./images/cad.png) no-repeat;
    }
    &.CAD {
        background: url(./images/cad.png) no-repeat;
    }
    &.dwg {
        background: url(./images/cad.png) no-repeat;
    }
    &.DWG {
        background: url(./images/cad.png) no-repeat;
    }
    &.zip {
        background: url(./images/zip.png) no-repeat;
    }
    &.ZIP {
        background: url(./images/zip.png) no-repeat;
    }
    &.rar { //同zip
        background: url(./images/zip.png) no-repeat;
    }
    &.RAR { //同zip
        background: url(./images/zip.png) no-repeat;
    }
    &.txt {
        background: url(./images/txt.png) no-repeat;
    }
    &.TXT {
        background: url(./images/txt.png) no-repeat;
    }
    &.video {
        background: url(./images/video.png) no-repeat;
    }
    &.VIDEO {
        background: url(./images/video.png) no-repeat;
    }
    &.ppt {
        background: url(./images/ppt.png) no-repeat;
    }
    &.PPT {
        background: url(./images/ppt.png) no-repeat;
    }
    &.pptx {
        background: url(./images/ppt.png) no-repeat;
    }
    &.PPTX {
        background: url(./images/ppt.png) no-repeat;
    }
    &.gbq {
        background: url(./images/gbq.png) no-repeat;
    }
    &.GBQ {
        background: url(./images/gbq.png) no-repeat;
    }
    &.gbq5 { //同gbq
        background: url(./images/gbq.png) no-repeat;
    }
    &.GBQ5 {
        background: url(./images/gbq.png) no-repeat;
    }
    &.gtb4 { //同gbq
        background: url(./images/gbq.png) no-repeat;
    }
    &.GTB4 {
        background: url(./images/gbq.png) no-repeat;
    }
    &.none {
        background: url(./images/none.png) no-repeat;
    }
}

.icon-dashbord-report {
    background: url(./images/dashbord-report.png) no-repeat;
    display: inline-block;
    vertical-align: middle;
    width: 24px;
    height: 24px;
    margin-right: 5px;
    &.knowledge {
        background: url(./images/dashbord-knowledge.png) no-repeat;
    }
    &.construction {
        background: url(./images/dashbord-fast-reprot.png) no-repeat;
    }
    &.document {
        background: url(./images/dashbord-document.png) no-repeat;
    }
    &.company {
        background: url(./images/dashbord-company.png) no-repeat;
    }
    &.file {
        background: url(./images/company-file.png) no-repeat;
    }
    &.myfile {
        background: url(./images/document-my-file.png) no-repeat;
    }
    &.enterprise {
        background: url(./images/dashbord-enterprise.png) no-repeat;
    }
    &.costManagement {
        background: url(./images/dashbord-costManagement.png) no-repeat;
    }
    &.finance {
        background: url(./images/dashbord-finance.png) no-repeat;
    }
    &.systemSetting {
        background: url(./images/pro-systemsetting.png) no-repeat;
    }
    &.buildlog {
        background: url(./images/dashbord-projbuildlog.png) no-repeat;
    }
    &.institutional {
        background: url(./images/dashbord-institutional.png) no-repeat;
    }
    &.metarial {
        background: url(./images/dashbord-projmaterial.png) no-repeat;
    }
    &.notice {
        background: url(./images/pro-notice.png) no-repeat;
    }
    &.temporarytasks {
        background: url(./images/pro-temporarytasks.png) no-repeat;
    }
    &.schedule {
        background: url(./images/dashbord-projschedule.png) no-repeat;
    }
    &.settle {
        background: url(./images/dashbord-settle.png) no-repeat;
    }
    &.contractManager {
        background: url(./images/dashbord-contractManager.png) no-repeat;
    }
    &.task {
        background: url(./images/pro-temporarytasks.png) no-repeat;
    }
}

/*首页 公告、施工快报、知识 右侧导航箭头*/
.icon-dashbord-right {
    display: inline-block;
    vertical-align: middle;
    width: 27px;
    height: 32px;
    padding: 10px;
    margin-top: -16px;
    margin-right: 5px;
    position: absolute;
    right: 10px;
    top: 50%;
    cursor: pointer;
    background: url(./images/icon-right-arrow.png) no-repeat;
    background-origin: content-box;
    background-clip: content-box;
}

.icon-system-nav {
    position: absolute;
    bottom: 0;
    left: 0;
    display: none;
    vertical-align: middle;
    width: 104px;
    height: 3px;
    background: #1dd724;
    // background: url(./images/system-hover-nav.png) no-repeat;
}

.icon-add-setting {
    cursor: pointer;
    width: 180px;
    height: 128px;
    background: url(./images/add-image.png) no-repeat;
    text-align: center;
    position: absolute;
    top: 26px;
    left: 30px;
}

.icon-document-arrow {
    cursor: pointer;
    width: 4px;
    vertical-align: middle;
    height: 10px;
    display: inline-block;
    background: url(./images/document-arrow.png) no-repeat;
    &.open {
        width: 10px;
        height: 4px;
        background: url(./images/document-arrow-open.png) no-repeat;
    }
}

.icon-exception {
    width: 16px;
    height: 18px;
    display: inline-block;
    background: url(./images/icon-exception.png) no-repeat;
    position: relative;
    cursor: pointer;
    &:after {
        display: none;
        position: absolute;
        top: -2px;
        right: -2px;
        content: '';
        width: 5px;
        height: 5px;
        background: red;
        border-radius: 50%;
    }
    &.active {
        &:after {
            display: inline-block;
        }
    }
}

.icon-refresh {
    width: 16px;
    height: 18px;
    display: inline-block;
    background: url(./images/icon-refresh.png) no-repeat;
}

.icon-associated{
    display: inline-block;
    width: 16px;
    height: 6px;
    margin-left: 5px;
    background: url(./images/associated-icon.png) no-repeat;
}

.icon-help{
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: middle;
    margin-top: -2px;
    cursor: pointer;
    background: url(./images/help.png) no-repeat;
    &:hover{
        background: url(./images/help-active.png) no-repeat;
    }
}