.IndexMain {
  min-width: 1280px;
  overflow: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  .header {
    background-color: #f5f5f5;
    .logout {
      height: 54px;
      line-height: 54px;
      margin-right: 30px;
      float: right;
      vertical-align: middle;
      color: #999999;
      font-size: 14px;
      cursor: pointer;
      &:hover {
        color: $blue;
        text-decoration: underline;
        span {
          background: url(./images/exit_hover.png) no-repeat;
        }
      }
      span {
        display: inline-block;
        vertical-align: middle;
        width: 17px;
        height: 18px;
        background: url(./images/exit.png) no-repeat;
      }
    }
  }
  .nav {
    background-color: #009441;
    position: relative;
    ul {
      margin-left: 270px;
      text-align: left;
      li {
        display: inline-block;
        margin-left: -4px;
        cursor: pointer;
        a {
          display: inline-block;
          padding: 14px 24px;
          font-size: 14px;
          color: #ffffff;
          //transition-duration: 0.2s;
          &.active, &:hover {
            background-color: #ffffff;
            color: #009441;
          }
        }
      }
    }
    .project-nickname {
      position: absolute;
      left: 40px;
      font-size: 14px;
      line-height: 20px;
      color: #fff;
      top: 50%;
      margin-top: -10px;
      display: block;
      width: 196px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
    .right-menu {
      position: absolute;
      right: 40px;
      top: 50%;
      margin-top: -13px;
      .small-logo {
        background: url(./images/small-logo.png) no-repeat;
        display: inline-block;
        vertical-align: middle;
        width: 28px;
        height: 26px;
        margin-right: 20px;
        position: relative;
        /* LEE: 公司列表显示隐藏方案2 */
        &:before {
          content: '';
          display: block;
          width: 100px;
          height: 50px;
          position: absolute;
          top: 0;
          left: -50px;
        }
        .company-list-handler {
          position: absolute;
          top: 40px;
          left: -66px;
          background: #fff;
          border-radius: 4px;
          box-shadow: 0 0 8px 3px #c1c1c1;
          &::before {
            position: absolute;
            content: "";
            height: 0;
            width: 0;
            pointer-events: none;
            border: solid transparent;
            border-color: rgba(136, 183, 213, 0);
            border-bottom-color: #e9e9e9;
            border-width: 12px;
            left: 50%;
            z-index: 102;
            top: -22px;
            margin-left: -12px;
          }
          &::after {
            position: absolute;
            content: "";
            height: 0;
            width: 0;
            pointer-events: none;
            border: solid transparent;
            border-color: rgba(136, 183, 213, 0);
            border-bottom-color: #ffffff;
            border-width: 12px;
            left: 50%;
            z-index: 102;
            top: -20px;
            margin-left: -12px;
          }
          .company-content {
            width: 158px;
            //height: 100px;
            //overflow-y: auto;
            .company-item {
              position: relative;
              color: #5b5b5b;
              padding: 10px 20px;
              cursor: pointer;
              overflow: hidden;
              width: 160px;
              text-overflow: ellipsis;
              white-space: nowrap;
              .icon-circle {
                margin-right: 5px;
                width: 5px;
                height: 5px;
                background-color: #5b5b5b;
                border-radius: 50%;
                vertical-align: middle;
                display: inline-block;
              }
              &:hover {
                background: #e6f9ee;
                .icon-circle {
                  background: #009441;
                }
              }
            }
          }
          &.company-hide {
            display: none;
          }
        }
      }
      .company-list {
        background: url(./images/change-company.png) no-repeat;
        display: inline-block;
        vertical-align: middle;
        width: 26px;
        height: 26px;
        margin-right: 20px;
      }
      .login-out {
        background: url(./images/logo-out.png) no-repeat;
        display: inline-block;
        vertical-align: middle;
        width: 26px;
        height: 26px;
        position: relative;
        .login-handler {
          position: absolute;
          top: 40px;
          width: 80px;
          height: 34px;
          left: -27px;
          background: #fff;
          text-align: center;
          border-radius: 4px;
          color: #333;
          line-height: 34px;
          cursor: pointer;
          box-shadow: 0 0 8px 3px #c1c1c1;
          &::before {
            position: absolute;
            content: "";
            height: 0;
            width: 0;
            pointer-events: none;
            border: solid transparent;
            border-color: rgba(136, 183, 213, 0);
            border-bottom-color: #e9e9e9;
            border-width: 12px;
            left: 50%;
            z-index: 102;
            top: -22px;
            margin-left: -12px;
          }
          &::after {
            position: absolute;
            content: "";
            height: 0;
            width: 0;
            pointer-events: none;
            border: solid transparent;
            border-color: rgba(136, 183, 213, 0);
            border-bottom-color: #ffffff;
            border-width: 12px;
            left: 50%;
            z-index: 102;
            top: -20px;
            margin-left: -12px;
          }
        }
        &.login-out-hide {
          .login-handler {
            display: none;
          }
        }
      }
    }
  }
  .hide {
    display: block;
    background-color: #444444;
    color: #bebebe;
    height: 48px;
    line-height: 48px;
    .href {
      padding: 0 24px;
      font-size: 14px;
      display: inline-block;
      vertical-align: middle;
      &.active, &:hover {
        color: #ffffff;
        .icon-system-nav {
          display: inline-block;
        }
      }
    }
    .directory {
      margin: 0 80px;
      vertical-align: middle;
      display: inline-block;
      font-size: 16px;
    }
  }
  .body {
    overflow-y: hidden;
    .iframeParent {
      width: 100%;
      margin-top: 10px;
      display: none;
      &.active {
        display: block;
      }
      iframe {
        width: 100%;
        line-height: 0;
        overflow: hidden;
        border: 0;
        margin: 0;
        padding: 0;
      }
    }
  }
}

.page-company-setting {
  .uploadChange:hover {
    color: #009441;
    text-decoration: underline;
  }
  .delete:hover {
    color: #de6d0b;
    text-decoration: underline;;
  }
}
