<div class="model-project-common" style="width: 650px;">
    <div class="model-section">
        <div class="table-content" style="margin: 0">
            <table>
                <thead>
                <tr class="small">
                    <th class="border">操作时间</th>
                    <th class="border">操作人</th>
                    <th class="border">完成情况</th>
                    <th class="border">缺少劳动力(人)</th>
                    <th class="border">进度说明</th>
                </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
        <div id="page" style="margin: 10px 0;"></div>
    </div>
    <div class="model-footer">
        <span class="span-btn span-btn-bc confirm-active" data-model-close>返回</span>
    </div>
</div>