<!--下载记录-->
<div class="model-project-common modal-arrow-left" style="width: 262px;
height:98px;position: absolute;left: -270px;
top: -30px;background-color: #ffffff;z-index: 1">
    <div class="model-header">
        <span class="project-name">进度管理</span>
    </div>
    <div class="table-content modal-form" style="margin: 10px 20px;">
        <div >
            <label class="title-inline int-small6 label-block">
                <i class="icon-fill-in">*</i>完成情况:
            </label>
            <input  type="text" class="int int-default int-small8" placeholder="填写"/>%
        </div>
        <div style="height: 28px;line-height: 28px;">
            <label class="title-inline int-small6 label-block">
                <i class="icon-fill-in">*</i>开户行:
            </label>
            <input  type="text" class="int int-default int-small8" placeholder="填写"/>
        </div>
        <div style="height: 28px;line-height: 28px;">
            <label>帐号:</label>
            <textarea class="int int-default int-small8" placeholder="填写" style="height: 30px;padding: 3px;"></textarea>
        </div>
    </div>
    <div class="icon-triangle-left" style="top:34px;">
        <span></span>
    </div>
</div>