<div class="model-project-common remove-file" style="width: 320px">
    <div class="model-section">
        <div style="height: 310px;overflow: auto;border: 1px solid #e6f9ee;border-radius: 3px;padding: 0 10px">
            <ul id="fileTrees">
                <!--<li style="margin-top: 5px">
                    <span>箭头</span>
                    <span>文件夹</span>
                    <a>粉丝短发短发的</a>
                    <ul style="margin-left: 10px">
                        <li>
                            <span>箭头</span>
                            <span>文件夹</span>
                            <a>粉丝短发短发的</a>
                            <ul style="margin-left: 10px">
                                <li>
                                    <span>箭头</span>
                                    <span>文件夹</span>
                                    <a>粉丝短发短发的</a>
                                    <ul style="margin-left: 10px">
                                        <li>
                                            <span>箭头</span>
                                            <span>文件夹</span>
                                            <a>粉丝短发短发的</a>
                                        </li>
                                        <li>
                                            <span>箭头</span>
                                            <span>文件夹</span>
                                            <a>粉丝短发短发的</a>
                                        </li>
                                        <li>
                                            <span>箭头</span>
                                            <span>文件夹</span>
                                            <a>粉丝短发短发的</a>
                                        </li>
                                        <li>
                                            <span>箭头</span>
                                            <span>文件夹</span>
                                            <a>粉丝短发短发的</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>-->
            </ul>
        </div>
    </div>
    <div class="model-footer">
        <span class="span-btn confirm">确认</span>
        <span class="span-btn span-btn-bc confirm-active" data-model-close>返回</span>
    </div>
</div>