<div class="model-project-common" style="width: 260px;">
    <div class="model-section modal-form">
        <div>
            <label class="label-block int-small">使用人数:</label>
            <input type="text">人
        </div>
        <div>
            <label class="label-block int-small">计划使用:</label>
            <input type="text">个月
        </div>
        <div>
            <label class="label-block int-small">建议购买:</label>
            <span></span>
        </div>
        <div>
            <label class="label-block int-small">建议购买数量:</label>
            <span></span>
        </div>
        <div>
            <label class="label-block int-small">折合:</label>
            <span></span>元/人.月
        </div>
    </div>
    <div class="model-footer">
        <span class="span-btn span-btn-bc confirm-active">取消</span>
    </div>
</div>