<div class="model-project-common" style="width: 260px;">
    <div class="model-section modal-form">
        <div>
            <label class="label-block int-small">单位含量:</label>
            <span></span>
        </div>
        <div>
            <label class="label-block int-small">单价:</label>
            <span></span>
        </div>
        <div>
            <label class="label-block int-small">数量:</label>
            <span></span>
        </div>
        <div>
            <label class="label-block int-small">实际应付:</label>
            <span></span>
        </div>
    </div>
    <div class="model-footer">
        <span class="span-btn">提交订单</span>
        <span class="span-btn span-btn-bc confirm-active">取消</span>
    </div>
</div>