<div class="model-project-common memorandum-modal">
    <div class="model-section">
        <div>备忘内容:</div>
        <textarea class="memorandum-textarea" placeholder="请输入职责描述"></textarea>
        <div class="memorandum-content">
            <label>采用值:</label>
            <span class="color-009441 span" name="usedValue">168</span>
            <label class="margin-left"  style="margin-left: 20px;">系统值:</label>
            <span class="color-009441 span" name="sysValue">140</span>
            <label class="margin-left" style="margin-left: 20px;">设定范围:</label>
            <span class="color-009441 span" name="excpValue" >5</span>
        </div>
    </div>
    <div class="model-footer">
        <span class="span-btn confirm">确认</span>
        <span class="span-btn span-btn-bc confirm-active" data-model-close>取消</span>
    </div>
</div>