<div class="memorandum-detail">
    <div class="memorandum-title">
        详情
        <span class="icon-close"></span>
    </div>
    <div class="memorandum-section">
        <div class="table-content" style="padding: 10px 0">
            <table  style="padding-bottom: 20px;">
                <tbody>
                <tr class="small">
                    <td class="border" style="font-weight: bold;width: 60px">阶段名称</td>
                    <td class="border"></td>
                </tr>
                <tr class="small">
                    <td class="border" style="font-weight: bold">材料单号</td>
                    <td class="border"></td>
                </tr>
                <tr class="small">
                    <td class="border" style="font-weight: bold">分类</td>
                    <td class="border"></td>
                </tr>
                <tr class="small">
                    <td class="border" style="font-weight: bold">名称</td>
                    <td class="border"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="triangle-left bebebe"></div>
    <div class="triangle-left ffffff"></div>
</div>