<div class="model-project-common">
    <div class="model-section">
        <div class="modal-form">
            <div class="item">
                <label class="bold-title"><i class="icon-fill-in">*</i>备忘名称:</label>
                <input class="int int-default"
                       name='remarkTitle'
                       style="width: 400px" placeholder="请输入备忘名称" />
            </div>
            <div class="item">
                <label class="bold-title" style="float: left"><i class="icon-fill-in">*</i>备忘内容:</label>
                <textarea class="int int-default textarea-default"
                          name="remarkContent"
                          style="height: 200px"
                          placeholder="请输入备忘内容"></textarea>
            </div>
        </div>
    </div>
    <div class="model-footer">
        <span class="span-btn confirm">确认</span>
        <span class="span-btn span-btn-bc confirm-active" data-model-close>取消</span>
    </div>
</div>