<div style="height: 291px;" class="modal-employee-add modal-employee-type">
    <div style="height: 240px;" class="employee-section employee-type-section">
        <div class="item" style="padding-top: 15px;">
            <label style="width: 110px;position: relative;top: -2px;font-size: 14px;color: #5b5b5b;font-weight: bold;"><i>*</i> 类型名称 : </label>
            <input style="width: 400px;margin-left: 3px;border-radius: 2px;letter-spacing: 1px;border-color: #bbb" type="text" class="typeName border-hover" placeholder="请输入栏目名称" />
        </div>
        <div class="clr"></div>
        <div class="item" style="padding-top: 15px;">
            <label style="width: 110px;position: relative;top: -2px;font-size: 14px;color: #5b5b5b;font-weight: bold;"><i>*</i> 描述 : </label>
            <textarea style="width: 400px;margin-left: 3px;font-family: 'Microsoft YaHei';height: 150px;border-radius: 3px;letter-spacing: 1px;border-color: #bbb" class="typeDesc default border-hover" placeholder="请输入栏目类型描述,不超过36个字符。"></textarea>
        </div>
    </div>
    <div style="text-align: right;padding: 10px 30px 10px 0;border-top: 1px solid #eeeeee" class="employee-footer">
        <span style="margin-right: 7px;" class="span-btn type-save">确定</span>
        <span class="span-btn span-btn-bc confirm-active type-cancel" data-model-close>取消</span>
    </div>
</div>