<div class="model-project-common knowledge-modal-review page-contract">
    <div class="model-section">
        <div class="modal-knowledge-title"></div>
        <div class="modal-knowledge-info">
            <div>
                <label>类型:</label>
                <span name="typeId"></span>
                <label>发布人:</label>
                <span name="userName"></span>
                <label>发布时间:</label>
                <span name="time"></span>
            </div>
            <div>
                <label>来源:</label>
                <span name="sourceModal"></span>
                <label>原作者:</label>
                <span name="authorModal"></span>
                <label>浏览次数:</label>
                <span>0</span>
            </div>
            <div>
                <label>网址链接:</label>
                <span name="linkAddressModal"></span>
            </div>
        </div>
        <div class="knowledge-modal-summary">
            <label>寄语/摘要:</label>
            <span name="summaryModal"></span>
        </div>
        <div class="knowledge-modal-content"></div>
        <div id="report" style="display: inline-block;margin-left: 4px" class="contract-attach-list"></div>
    </div>
    <div class="model-footer">
        <span class="span-btn confirm">发布</span>
        <span class="span-btn span-btn-bc confirm-active" data-model-close>取消</span>
    </div>
</div>