<ul class="nav-content no-padding-border nav-content-height" id="childNav" style="padding-top: 15px;">
    <li class="system addDepartment">
        <a style="padding-left: 50px;cursor: pointer;" class="system">
            <span style="margin-right: 5px;" class="add-duty"></span>新增部门
        </a>
    </li>
    <li class="system editDepartment">
        <a style="padding-left: 50px;cursor: pointer;" class="system">
            <span style="margin-right: 5px;" class="compile-department"></span>编辑部门
        </a>
    </li>
    <li style="border:none;" id="enterpriseNav"></li>
</ul>
