<div class="process-memorandum-menu" style="height: 30px;">
    <div class="span-btn" id="addProcess"><span style="margin-right: 3px;line-height: 30px;" class="icon-create"></span >新建备忘</div>
    <div id="noInfoProcessMemorandum_search" class="search-memorandum" style="right: 0px;">
        <input type="text" placeholder="请输入名称关键字" class="int int-default" id="keyword" />
        <span style="margin-top: -3px;margin-left: 7px;" class="span-btn" id="searchMemorandum">查询</span>
    </div>
</div>
<div id="noInfoProcessMemorandum_main" class="table-content" style="display: none;">
    <table>
        <thead>
        <tr>
            <th class="border" style="width: 45px">序号</th>
            <th style="width: 300px;" class="border">备忘名称</th>
            <th class="border">备忘内容</th>
            <th class="border" style="width: 60px">备忘人</th>
            <th class="border" style="width:90px">备忘时间</th>
            <th class="border" style="width: 80px">操作</th>
        </tr>
        </thead>
        <tbody id="processMemorandum"></tbody>
    </table>
</div>
<div name="noInfoProcessMemorandum_page" id="page" style="margin-top: 10px;text-align: center;display: none;"></div>
<div class='noInfo' id='noInfoProcessMemorandum'>
    <div class="icon-uninformed"></div>
    <p>暂时没有备忘信息，点击左上角创建！</p>
</div>