<div class="model-inner">
    <div class='Model' style="background:rgba(0,0,0,0)">
        <div class='Model__header' style="border:none;">
            <i class="icon-attach-close" style="display: block;position:absolute;top: -40px;right: -40px;"></i>
        </div>
        <div style="position: relative;">
            <div class="icon-attach-arrow"
                 data-type="left"
                 style="border-radius:4px;position: absolute;top: 50%;margin-top: -45px;left: -138px;"></div>
            <div class="image_list" style="width: 560px;">

            </div>
            <div class="icon-attach-arrow right"
                 data-type="right"
                 style="position: absolute;top: 50%;border-radius: 4px;margin-top: -45px;right: -138px;"></div>
        </div>
        <div class="page" style="color: #fff;margin-top: 30px;font-size: 16px;text-align: center;"></div>
    </div>
</div>
