<div class='Page'>
    <div class='Page__size'>
        <span class='label'>当前显示</span>
        <span class='items'></span>
    </div>
    <div class='Page__pages'>
        <span class='items'><span class='item c first'><i class='fa fa-angle-double-left'></i></span><span class='item c pre'><i class='fa fa-angle-left'></i></span>
        </span><span class='items pgs'>
        </span><span class='items'><span class='item c next'><i class='fa fa-angle-right'></i></span><span class='item c end'><i class='fa fa-angle-double-right'></i></span>
        </span><span class='total'><span>共</span><span class='count'>0</span><span>条</span></span>
    </div>
    <div class='Page__input'>
        <span>到第</span><input type='text'><span>页</span>
        <div class='btn-submit disable'>确定</div>
    </div>
</div>
