<div class="model-project-common approval-process" style="width: 750px;">
    <div class="model-section">
        <div style="margin: 10px 0;border-bottom: 1px solid #e9e9e9;" id="parents">

        </div>
        <div class="approval-process">
            <label>审批流程:</label>
            <span id="process"></span>
        </div>
        <div class="approval-desc">
            <label>流程说明:</label>
            <span></span>
        </div>
    </div>
    <div class="model-footer">
        <span class="span-btn confirm">确认</span>
        <span class="span-btn span-btn-bc confirm-active" data-model-close>取消</span>
    </div>
</div>