<div class="model-inner">
    <div class='Model'>
        <div class='Model__header'>
            <div class='title' style='position: relative;'><%= title %>
                <i class="icon-search"></i>
                <i style="display: inline-block;" class="icon-close"></i>
            </div>
            <!--<span class="pro-close" data-model-close=""></span>-->

        </div>
        <div class='Model__body'>
            <%- body %>
        </div>
    </div>
</div>
