<div style="display: none;" class="table-content">
    <table>
        <thead>
        <tr>
            <th style="width: 45px;" class="border" >
                <input type="checkbox" id="enterpriseCheck"/>
            </th>
            <th style="width: 45px;" class="border">序号</th>
            <th class="border">工程名称</th>
            <th class="border">工程简称</th>
            <th class="border">工程代码</th>
            <th style="width: 80px;" class="border">管理员</th>
            <th style="width: 80px;" class="border">负责人</th>
            <th style="width: 70px;" class="border">系统状态</th>
            <th style="width: 80px;" class="border Competence">操作</th>
        </tr>
        </thead>
        <tbody id="enterpriseLibrary">
        <!--<tr class="active">
            <td class="border"><input type="checkbox" /></td>
            <td class="border">1</td>
            <td class="border"><div></div></td>
            <td class="border"><div></div></td>
            <td class="border"></td>
            <td class="border"></td>
            <td class="border"></td>
            <td class="border"></td>
            <td class="border">
                <a>修改</a>
                <div class="icon-line"></div>
                <a>删除</a>
            </td>
        </tr>-->
        </tbody>
    </table>
</div>