<div class='UploadAttach__item'>
    <div class='icon-file <%- type %>'></div>
    <div class='detail'>
        <div class='filename' style="width: 150px;overflow: hidden;text-overflow:ellipsis;white-space: nowrap;"><%- name %></div>
        <div class='remove' style="display: none;float: left;">删除</div>
        <div class='review' style="display: none;float: left;margin: 5px 0 0 5px;"><a target='_blank' href="javascript:;" style="color:#229aec;font-size: 14px">预览</a></div>
    </div>
</div>
