<div class="attachProgress clearfix">
    <div style="float: left;" class="progress-outer">
        <div style="width: <%- pro %>;" class="progress-inner"></div>
    </div>
    <div style="float: left;font-size: 13px;color: #888888;vertical-align: middle;margin-top: 2px;"><%- pro %> 正在上传</div>
</div>