<div style="cursor: pointer;" class='UploadAttach'>
    <div class='' style=";color:#009411">
        <span style="margin-right: 3px;"  class='icon-arrow-gray'></span>上传附件
        <span style="color: #888888;margin-left: 5px;">（上传附件大小不能超过10M）</span>
        <div class='proc'></div>
    </div>
    <input type='file' />
    <div class="Upload-item"></div>
</div>
