<div class="table-content communiqueDetail" id="communiqueDetailList" style="margin: 0;display: none;">
    <table>
        <thead>
        <tr>
            <th style="padding-left: 20px;">序号</th>
            <th>栏目名称</th>
            <th>描述</th>
            <th>创建日期</th>
            <th>公告数量</th>
            <th class="Competence">操作</th>
        </tr>
        </thead>
        <tbody id="communiqueTypeTable"></tbody>
    </table>
</div>
<div class='noInfo' id='noInfoCommunique'>
    <div class="icon-uninformed"></div>
    <p>还没有栏目，点击左上角的“创建栏目”，快去创建吧！</p>
</div>
