<div class='UploadImage'>
    <div class='item UploadImage__add'>
        <div class='icon-add'>
            <div class='btn-re'>重新上传</div>
            <div class='proc'></div>
        </div>
        <input type='file'>
        <div class='desc'>
            <!--<textarea placeholder='请输入图片说明...'></textarea>-->
            <div class='btn-add'>确认添加</div>
        </div>
    </div>
</div>
