<div class="container-list-warp material-list balance-detail balance-list">
    <div class="balance-desc">
        <div class="desc-item">
            <div class="item">
                <label class="title-menu">合同名称:</label>
                <input type="text" class="int int-default" />
            </div>
            <div class="item">
                <label class="title-menu">合同编号:</label>
                <input type="text" class="int int-default" />
            </div>
            <div class="item">
                <label class="title-menu">结算单编号:</label>
                <input type="text" class="int int-default" />
            </div>
        </div>
        <div class="desc-item">
            <div class="item">
                <label class="title-menu">合同方:</label>
                <input type="text" class="int int-default" />
            </div>
            <div class="item">
                <label class="title-menu">合同方属性:</label>
                <input type="text" class="int int-default" />
            </div>
        </div>
        <div class="desc-item">
            <div class="item">
                <label class="title-menu">合同价款:</label>
                <input type="text" class="int int-default" />
            </div>
            <div class="item">
                <label class="title-menu">是否含税:</label>
                <label><input type="checkbox" />是</label>
                <label><input type="checkbox" />否</label>
            </div>
            <div class="item">
                <label class="title-menu">结算方式:</label>
                <input type="text" class="int int-default" />
            </div>
        </div>
    </div>
    <div class="balance-desc">
        <div class="desc-item">
            <span class="span-btn background-list-gray">引用原合同量价</span>
            <span class="span-btn background-list-gray">合同外增加项</span>
        </div>
        <div class="desc-detail">
            <label>合同总额:</label>
            <span class="detail-content">400000000.00元</span>
            <label>预算成本:</label>
            <span class="detail-content">400000000.00元</span>
            <label>结算总金额:</label>
            <span class="detail-content">400000000.00元</span>
            <label>合同内计算金额:</label>
            <span class="detail-content">400000000.00元</span>
            <label>合同外计算金额:</label>
            <span class="detail-content">400000000.00元</span>
            <div class="table-content">
                <table>
                    <thead>
                    <tr>
                        <th class="border" style="text-align: center;max-width: 60px;min-width: 60px">标记
                        </th>
                        <th class="border" style="text-align: center;max-width: 60px;min-width: 60px">序号
                        </th>
                        <th class="border" style="text-align: center;max-width: 100px;min-width: 100px">分类
                        </th>
                        <th class="border" style="text-align: center;max-width: 100px;min-width: 100px">
                            项目名称
                        </th>
                        <th class="border" style="text-align: center;max-width: 100px;min-width: 100px">
                            工作内容
                        </th>
                        <th class="border" style="text-align: center;max-width: 60px;min-width: 60px">单位
                        </th>
                        <th class="border" style="text-align: center;max-width: 60px;min-width: 60px">数量
                        </th>
                        <th class="border" style="text-align: center;max-width: 60px;min-width: 60px">单价
                        </th>
                        <th class="border" style="text-align: center;max-width: 60px;min-width: 60px">说明
                        </th>
                        <th class="border" style="text-align: center;max-width: 60px;min-width: 60px">结算量
                        </th>
                        <th class="border" style="text-align: center;max-width: 100px;min-width: 100px">
                            结算价
                        </th>
                        <th class="border" style="text-align: center;max-width: 60px;min-width: 60px">合价
                        </th>
                        <th class="border" style="text-align: center;max-width: 60px;min-width: 60px">计算式
                        </th>
                        <th class="border" style="text-align: center;max-width: 60px;min-width: 60px">附件
                        </th>
                        <th class="border" style="text-align: center;max-width: 60px;min-width: 60px">异常
                        </th>
                        <th class="border" style="text-align: center;max-width: 60px;min-width: 60px">备忘
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td class="border"></td>
                        <td class="border">1</td>
                        <td class="border">混凝土工</td>
                        <td class="border">
                            <div style="font-size: 12px">
                                水泥砂浆工程
                            </div>
                        </td>
                        <td class="border">水泥砂浆亚光地面</td>
                        <td class="border">平方米</td>
                        <td class="border">82.26</td>
                        <td class="border">5784.65</td>
                        <td class="border">详情</td>
                        <td class="border">82.26</td>
                        <td class="border">475845.39</td>
                        <td class="border">475845.39</td>
                        <td class="border">详情</td>
                        <td class="border">
                            <span class="icon-arrow"></span>
                        </td>
                        <td class="border" style="text-align: center">
                            <input type="checkbox" />
                        </td>
                        <td class="border" style="text-align: center">
                            <input type="checkbox" />
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="balance-desc span-btn-bottom8">
        <div class="desc-item">
            <span class="span-btn background-list-gray">结算分析报告</span>
        </div>
        <div class="desc-detail margin-bottom5">
            <div class="table-content">
                <table>
                    <tbody>
                    <tr>
                        <td class="border">成本控制风险</td>
                        <td class="border">(结算总金额-预算成本)/预算成本=成本控制风险(0.00;0%)</td>
                        <td class="border" style="max-width: 500px;min-width: 500px">
                            <input type="text" placeholder="请输入......" />
                        </td>
                    </tr>
                    <tr>
                        <td class="border">合同有效性</td>
                        <td class="border">(结算总金额-合同金额)/结算总金额=成本控制风险(0.00;0%)</td>
                        <td class="border">
                            <input type="text" placeholder="请输入......" />
                        </td>
                    </tr>
                    <tr>
                        <td class="border">合同外增加因素</td>
                        <td class="border">(合同外计算总金额-结算总金额)/结算总金额=增加风险(0.00;0%)</td>
                        <td class="border">
                            <input type="text" placeholder="请输入......" />
                        </td>
                    </tr>
                    <tr>
                        <td class="border">合同执行情况</td>
                        <td class="border">合同总金额/合同内结算总金额=执行情况(0.00;0%)</td>
                        <td class="border">
                            <input type="text" placeholder="请输入......" />
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="btn-footer">
        <span class="span-btn span-btn-bc confirm-active span-btn-right">预览文本</span>
        <span class="span-btn span-btn-bc confirm-active span-btn-right">提交预览</span>
        <span class="span-btn span-btn-right">保存</span>
        <span class="span-btn span-btn-bc confirm-active span-btn-right2">取消</span>
    </div>
</div>
