<div class="container-list-warp material-list">
    <div class="common-header">
        <div class="search-form">
            <div class="item">
                <label>结算单分类:</label>
                <select>
                    <option>结算单分类</option>
                </select>
            </div>
            <div class="item">
                <label>结算方式:</label>
                <select>
                    <option>结算方式</option>
                </select>
            </div>
            <div class="item">
                <label>结算状态:</label>
                <select>
                    <option>结算状态</option>
                </select>
            </div>
            <div class="item">
                <input type="text" placeholder="请输入关键字进行查找" />
                <button class="btn">查询</button>
            </div>
        </div>
    </div>
    <div class="table-content">
        <table>
            <thead>
            <tr>
                <th class="border" style="max-width: 40px;min-width: 40px">序号</th>
                <th class="border" style="max-width: 72px;min-width: 72px">结算单分类</th>
                <th class="border" style="max-width: 90px;min-width: 90px">结算单编号</th>
                <th class="border" style="max-width: 88px;min-width: 88px">关联合同编号</th>
                <th class="border" style="max-width: 74px;min-width: 74px">计算方式</th>
                <th class="border" style="max-width: 120px;min-width: 120px">合同方名称</th>
                <th class="border" style="max-width: 85px;min-width: 85px">编制完成时间</th>
                <th class="border" style="min-width: 73px;max-width: 73px">结算编制人</th>
                <th class="border" style="max-width: 73px;min-width: 73px">项目负责人</th>
                <th class="border" style="max-width: 100px;min-width: 100px">合同金额</th>
                <th class="border" style="max-width: 100px;min-width: 100px">结算金额</th>
                <th class="border" style="max-width: 77px;min-width: 77px">状态</th>
                <th class="border" style="max-width: 180px;min-width: 180px;text-align: center">操作</th>
            </tr>
            </thead>
            <tbody>
            <tr class="active">
                <td class="border">1</td>
                <td class="border">合同结算</td>
                <td class="border">JHZSDT08-B01</td>
                <td class="border">ZXDT08</td>
                <td class="border">固定综合单价</td>
                <td class="border">
                    <div style="font-size: 12px">
                        西安团队建筑工程有限公司
                    </div>
                </td>
                <td class="border">2017-02-13</td>
                <td class="border">
                    王晓红
                </td>
                <td class="border">
                    杨竹音
                </td>
                <td class="border">
                    400000000.00
                </td>
                <td class="border">
                    500000000.00
                </td>
                <td class="border">
                    已生成费用
                </td>
                <td class="border" style="text-align: center">
                    <a>查看流程</a>
                    <div class="icon-line"></div>
                    <a href="/project/balance/detail">结算详情</a>
                    <div class="icon-line"></div>
                    <a>费用详情</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>