<div class="container-list-warp material-list balance-implement">
    <div class="balance-item">
        <label class="title-menu"><i>*</i>项目名称:</label>
        <input type="text" class="int int-default" />
        <label class="title-menu"><i>*</i>结算单号:</label>
        <input type="text" class="int int-default" />
    </div>
    <div class="balance-item">
        <label class="title-menu"><i>*</i>结算分类:</label>
        <select class="int int-default">
            <option></option>
        </select>
        <label class="title-menu"><i>*</i>结算方式:</label>
        <select class="int int-default">
            <option></option>
        </select>
    </div>
    <div class="balance-item">
        <label class="title-menu"><i>*</i>项目负责人:</label>
        <select class="int int-default">
            <option></option>
        </select>
        <label class="title-menu"><i>*</i>合作方:</label>
        <select class="int int-default int-middle">
            <option></option>
        </select>
        <span class="span-btn background-list-gray">查看详情</span>
        <label class="title-menu"><i>*</i>合作方属性:</label>
        <select class="int int-default">
            <option></option>
        </select>
    </div>
    <div class="balance-item">
        <label class="title-menu"><i>*</i>约定价款:</label>
        <select class="int int-default">
            <option></option>
        </select>
        <label class="title-menu"><i>*</i>合同期限:</label>
        <label>自</label>
        <input type="date" class="int int-default" />
        <label>至</label>
        <input type="date" class="int int-default" />
        <label>共</label>
        <input type="text" class="int int-default int-small" />
        <label>天</label>
        <label class="title-menu"><i>*</i>约定价款:</label>
        <label><input type="checkbox" />是</label>
        <label><input type="checkbox" />否</label>
    </div>
    <div class="balance-item">
        <label class="title-menu" ><i>*</i>付款方式:</label>
        <textarea class="int textarea-default"></textarea>
    </div>
    <div class="balance-item">
        <label class="title-menu"><i>*</i>质保金:</label>
        <input type="text" class="int int-default" />
        <label class="title-menu"><i>*</i>期限:</label>
        <input type="text" class="int int-default" />
        <label>日</label>
    </div>
    <div class="balance-item">
        <label class="title-menu" style="float: left"><i>*</i>工作内容:</label>
        <textarea class="int textarea-default"></textarea>
    </div>
    <div class="balance-item">
        <label class="title-menu" style="float: left"><i>*</i>其它条款:</label>
        <textarea class="int textarea-default"></textarea>
    </div>
    <div class="balance-item">
        <label class="title-menu"><i>*</i>上传附件</label>
    </div>
    <div class="balance-item">
        <label class="title-menu"><i>*</i>结算总金额:</label>
        <input type="text" class="int int-default" />
    </div>
    <div class="table-content">
        <table class="span-btn-bottom8">
            <thead>
            <tr>
                <th class="border" style="max-width: 40px;min-width: 40px">序号</th>
                <th class="border" style="max-width: 60px;min-width: 60px">选择分部</th>
                <th class="border" style="max-width: 70px;min-width: 70px">费用类别</th>
                <th class="border" style="max-width: 60px;min-width: 60px">分类</th>
                <th class="border" style="max-width: 100px;min-width: 100px">项目名称</th>
                <th class="border" style="max-width: 100px;min-width: 100px">工作内容</th>
                <th class="border" style="max-width: 40px;min-width: 40px">单位</th>
                <th class="border" style="max-width: 60px;min-width: 60px">数量</th>
                <th class="border" style="max-width: 60px;min-width: 60px">单价</th>
                <th class="border" style="max-width: 60px;min-width: 60px">计算式</th>
                <th class="border" style="max-width: 40px;min-width: 40px">说明</th>
                <th class="border" style="max-width: 40px;min-width: 40px">附件</th>
                <th class="border" style="max-width: 40px;min-width: 40px">异常</th>
                <th class="border" style="max-width: 40px;min-width: 40px">备忘</th>
                <th class="border" style="text-align: center;max-width: 100px;min-width: 100px">操作</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td class="border">
                    1
                </td>
                <td class="border">
                    <div style="font-size: 12px">
                        单击选择分部
                    </div>
                </td>
                <td class="border">
                    <div style="font-size: 12px">
                        单击选择
                    </div>
                </td>
                <td class="border">
                    <div style="font-size: 12px">
                        单击选择
                    </div>
                </td>
                <td class="border">
                    <input type="text" placeholder="请填写" />
                </td>
                <td class="border">
                    <input type="text" placeholder="请填写" />
                </td>
                <td class="border">
                    <input type="text" placeholder="请填写" />
                </td>
                <td class="border">
                    <input type="text" placeholder="请填写" />
                </td>
                <td class="border">
                    <input type="text" placeholder="请填写" />
                </td>
                <td class="border">
                    <input type="text" placeholder="请填写" />
                </td>
                <td class="border">
                    修改
                </td>
                <td class="border">
                    <span class="icon-arrow"></span>
                </td>
                <td class="border">
                    <input type="checkbox" />
                </td>
                <td class="border">
                    <input type="checkbox" />
                </td>
                <td class="border">
                    <a>删除行</a>
                    <div class="icon-line"></div>
                    <a>增加行</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="btn-footer">
        <span class="span-btn span-btn-bc confirm-active span-btn-right">预览文本</span>
        <span class="span-btn span-btn-bc confirm-active span-btn-right">提交预览</span>
        <span class="span-btn span-btn-right">保存</span>
        <span class="span-btn span-btn-bc confirm-active span-btn-right2">取消</span>
    </div>
</div>