<div class="container-list-warp material-list">
    <div class="common-header">
        <div class="search-form">
            <div class="item">
                <label>结算分类:</label>
                <select>
                    <option></option>
                </select>
            </div>
            <div class="item">
                <label>结算分类:</label>
                <select>
                    <option></option>
                </select>
            </div>
            <div class="item">
                <label>结算分类:</label>
                <select>
                    <option></option>
                </select>
            </div>
            <div class="item">
                <input type="text" placeholder="请输入关键字进行查询" />
                <button class="btn">查询</button>
            </div>
        </div>
    </div>
    <div class="table-content">
        <table>
            <thead>
            <tr>
                <th class="border" style="min-width: 40px;max-width: 40px;font-size: 12px">序号</th>
                <th class="border" style="min-width: 90px;max-width: 90px;font-size: 12px">结算单分类</th>
                <th class="border" style="min-width: 90px;max-width: 90px;font-size: 12px">结算单编号</th>
                <th class="border" style="min-width: 90px;max-width: 90px;font-size: 12px">关联合同编号</th>
                <th class="border" style="min-width: 80px;max-width: 80px;font-size: 12px">结算方式</th>
                <th class="border" style="min-width: 100px;max-width: 100px;font-size: 12px">合同方名称</th>
                <th class="border" style="min-width: 90px;max-width: 90px;font-size: 12px">编制完成时间</th>
                <th class="border" style="min-width: 95px;max-width: 95px;font-size: 12px">项目负责人</th>
                <th class="border" style="min-width: 80px;max-width: 80px;font-size: 12px">合同金额</th>
                <th class="border" style="min-width: 80px;max-width: 80px;font-size: 12px">结算金额</th>
                <th class="border" style="min-width: 50px;max-width: 50px;font-size: 12px">状态</th>
                <th class="border" style="text-align: center;min-width: 245px;max-width: 245px;font-size: 12px">
                    操作
                </th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td class="border">1</td>
                <td class="border">合同结算</td>
                <td class="border">JHZSDT08-B01</td>
                <td class="border">ZXDT08</td>
                <td class="border">固定综合单价</td>
                <td class="border">
                    <div style="font-size: 12px">
                        西安团队建筑装饰工程有限公司
                    </div>
                </td>
                <td class="border">
                    2017/02/13
                </td>
                <td class="border">
                    杨竹音
                </td>
                <td class="border">
                    400000000.00
                </td>
                <td class="border">
                    500000000.00
                </td>
                <td class="border">
                    <div style="font-size: 12px">
                        已生成费用
                    </div>
                </td>
                <td class="border">
                    <a>查看流程</a>
                    <div class="icon-line"></div>
                    <a>结算详情</a>
                    <div class="icon-line"></div>
                    <a>修改</a>
                   <!-- <div class="icon-line"></div>
                    <a>撤销</a>-->
                    <div class="icon-line"></div>
                    <a>生成/查看费用</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>