<div class="modal-form" style="padding: 15px 0;border-bottom: 1px solid #e9e9e9;">
    <span style="font-weight: bold;padding-left: 5px;" class="bold-title">新建无合同结算单</span>
</div>
<div class="modal-form" style="padding: 20px 0;border-bottom: 1px solid #e9e9e9" id="newNoContract"
     data-id="<%- cid %>" data-level="<%- level %>">
    <div style="margin-bottom: 20px">
        <label class="bold-title label-block int-small11"><i class="icon-fill-in">*</i>所属分部 :</label>
        <select class="int int-default" style="width: 394px" id="subProjId"></select>
    </div>
    <div style="margin-bottom: 20px">
        <label class="bold-title label-block int-small11"><i class="icon-fill-in">*</i>结算单命名 :</label>
        <input type="text" class="int int-default" style="width: 394px" placeholder="请输入新建结算单名称" name="settleName">
        <label class="bold-title label-block int-small11"><i class="icon-fill-in">*</i>款项负责人 :</label>
        <div class="int int-default int-small14 settUserNo"
             style="color: #5b5b5b;font-size: 12px;cursor: pointer;display: inline-block;vertical-align: middle;line-height: 28px;">单击选择</div>
    </div>
    <div style="margin-bottom: 20px">
        <label class="bold-title label-block int-small11"><i class="icon-fill-in">*</i>合作方 :</label>
        <div class="supplierType int int-default" style="cursor:pointer;width: 197px;
        color: #5b5b5b;font-size: 12px;display: inline-block;line-height: 30px;">单击选择</div>
        <div class="supplierList" style="position: relative;"></div>
        <div style="width:197px;position: relative;display: inline-block" id="entprId"></div>
        <!-- <label class="bold-title label-block int-small11"><i class="icon-fill-in">*</i>合作负责人:</label>
         <input type="text" class="int int-default int-small14" name="settleName" placeholder="请输入姓名">-->
    </div>
    <div style="margin-bottom: 20px">
        <label class="bold-title label-block int-small11"><i class="icon-fill-in">*</i>合同分类 :</label>
        <select class="int int-default int-small14" name="cntrType">
            <option value="a">请选择</option>
            <!--<option value="1">总包合同</option>-->
            <!--<option value="2">采购合同</option>-->
            <option value="3">分包合同</option>
            <option value="4">劳务合同</option>
            <option value="5">租赁合同</option>
            <option value="6">加工运输合同</option>
        </select>
        <label class="bold-title label-block int-small11"><i class="icon-fill-in">*</i>结算方式 :</label>
        <select class="int int-default int-small14" name="settlementType">
            <option value="a">请选择</option>
            <option value="1">固定总价</option>
            <option value="2">固定综合单价</option>
        </select>
    </div>
    <div style="margin-bottom: 20px">
        <label class="bold-title label-block int-small11"><i class="icon-fill-in">*</i>约定价格 :</label>
        <input style="text-align: center;width: 120px;margin-right: 7px;" type="text" class="int int-default int-small14" name="cntrPrice" placeholder="请输入价格">元
        <label class="bold-title label-block int-small11"><i class="icon-fill-in">*</i>是否含税 :</label>
        <label for=""><input type="radio" value="1" name="taxType">是</label>
        <label for=""><input type="radio" value="2" name="taxType">否</label>
    </div>
    <div style="margin-bottom: 20px">
        <label class="bold-title label-block int-small11"><i class="icon-fill-in">*</i>合作期限 :</label>
        自<input style="margin: 0 7px;width: 160px;" type="date" class="int int-default int-small14" name="cntrStartTime" />
        至<input style="margin: 0 7px;width: 160px;" type="date" class="int int-default int-small14" name="cntrEndTime" />
        共<input style="margin: 0 7px;" type="text" class="int int-small int-default days" disabled>天
    </div>
    <div style="margin-bottom: 20px">
        <label class="bold-title label-block int-small11" style="float: left"><i class="icon-fill-in">*</i>付款方式 :</label>
        <textarea class="int int-default" rows="8" style="margin-left: 4px;width: 740px;resize: none;height: 120px;"
                  name="payTypeDesc"
                  placeholder="请输入付款方式"></textarea>
    </div>
    <div style="margin-bottom: 20px">
        <label class="bold-title label-block int-small11">质保金 :</label>
        <input style="margin-right: 5px;width: 80px;text-align: center;" type="text" class="int int-default int-small14" placeholder="填写" name="ensurePer">%
        <label style="width: 80px;" class="bold-title label-block int-small11">期限 :</label>
        <input style="margin-right: 5px;text-align: center;" type="text" class="int int-default int-small" placeholder="填写" name="ensureMonth">月
    </div>
    <div style="margin-bottom: 20px">
        <label class="bold-title label-block int-small11" style="float: left"><i class="icon-fill-in">*</i>工作内容 :</label>
        <textarea class="int int-default" rows="8" style="margin-left: 4px;width: 740px;resize: none;height: 120px;"
                  name="cntrContent"
                  placeholder="请输入工作能内容"></textarea>
    </div>
    <div style="margin-bottom: 20px">
        <label class="bold-title label-block int-small11" style="float: left"><i class="icon-fill-in">*</i>其他条款 :</label>
        <textarea class="int int-default" style="margin-left: 4px;width: 740px;resize: none;height: 120px;"
                  name="otherDesc"
                  placeholder="请输入其他条款"></textarea>
    </div>
    <div>
        <label class="bold-title label-block int-small11 " style="float: left">附件 :</label>
        <div id="reportModal" style="display: inline-block;margin-left: 4px"></div>
    </div>
    <div class="clr"></div>
</div>
<div style="width: 980px;text-align: right;margin: 20px 0">
    <span class="span-btn save">保存</span>
    <a class="span-btn span-btn-bc confirm-active" href="/project/balance/index/<%- id %>?name=<%- name %>">取消</a>
</div>