<div class="material-plan no-contract-detail">
    <div class="modal-form" style="position: relative;
                padding: 15px 20px;border-bottom: 1px solid #e9e9e9">
        <span class="bold-title">西安地铁</span>
        <label style="font-size: 12px;margin-left: 20px">结算单编号:</label>
        <span style="font-size: 12px">JHZSDT08</span>
        <div style="position: absolute;right: 20px;top: 50%;margin-top: -15px">
            <label style="font-size: 12px;margin-left: 20px">状态:</label>
            <span style="font-size: 12px">待审批</span>
            <span class="span-btn background-list-gray">添加(结算)项</span>
            <span class="span-btn background-list-gray">查看审批</span>
            <span class="span-btn background-list-gray">导出</span>
        </div>
    </div>
    <div class="modal-form" style="margin-top: 10px;border-bottom: 1px solid #e9e9e9;padding: 0 20px">
        <div class="item">
            <label class="bold-title">所属分部:</label>
            <span style="width:200px;display: inline-block"></span>
            <label class="bold-title">款项负责任:</label>
            <span></span>
        </div>
        <div class="item">
            <label class="bold-title">合作方:</label>
            <span style="width:214px;display: inline-block"></span>
            <label class="bold-title">合作负责人:</label>
            <span style="width: 140px;display: inline-block"></span>
            <label class="bold-title">合作方属性:</label>
            <span></span>
        </div>
        <div class="item">
            <label class="bold-title">约定价款:</label>
            <span style="width:200px;display: inline-block"></span>
            <label class="bold-title">是否含税:</label>
            <label><input type="checkbox">是</label>
            <label><input type="checkbox">否</label>
            <label class="bold-title" style="margin-left: 100px">合作期限:</label>
            <span></span>
        </div>
        <div class="item">
            <label class="bold-title">付款方式:</label>
            <span></span>
        </div>
        <div class="item">
            <label class="bold-title">质保金:</label>
            <span style="display: inline-block;width: 218px;"></span>
            <label class="bold-title">期限:</label>
            <span></span>
        </div>
        <div class="item">
            <label class="bold-title">工作内容:</label>
            <span></span>
        </div>
        <div class="item">
            <label class="bold-title">其他条款:</label>
            <span>粉丝短发的说法舒服放是短发是短发速度粉丝的粉丝的粉丝的放</span>
        </div>
        <div class="item">
            <label class="bold-title">协议附件:</label>
            <!--todo 复制别的地方的项目属性-->
        </div>
    </div>
    <div class="modal-form" style="margin-top: 10px;border-bottom: 1px solid #e9e9e9;padding: 0 20px">
        <div class="item" style="position: relative;padding: 5px 0">
            <label class="bold-title">结算总金额:</label>
            <span class="span-color-blue" style="width:214px;display: inline-block"></span>
            <div style="position: absolute;right: 0;top: 50%;margin-top: -9px;">
                <label class="bold-title">异常项:</label>
                <span class="span-color-blue" style="width:214px;display: inline-block"></span>
                <label class="bold-title">备忘:</label>
                <span class="span-color-blue" style="width:214px;display: inline-block"></span>
            </div>
        </div>
        <div class="table-content" style="margin-bottom: 10px">
            <table>
                <thead>
                <tr class="small">
                    <th class="border">序号</th>
                    <th class="border">费用类别</th>
                    <th class="border">分类</th>
                    <th class="border">项目名称</th>
                    <th class="border">工作内容</th>
                    <th class="border">单位</th>
                    <th class="border">数量</th>
                    <th class="border">单价</th>
                    <th class="border">历史均价</th>
                    <th class="border">附件</th>
                    <th class="border">操作</th>
                    <th class="border">异常备忘</th>
                </tr>
                </thead>
                <tbody>
                <tr class="small">
                    <td class="border"></td>
                    <td class="border"></td>
                    <td class="border"></td>
                    <td class="border"></td>
                    <td class="border"></td>
                    <td class="border"></td>
                    <td class="border"></td>
                    <td class="border"></td>
                    <td class="border"></td>
                    <td class="border"></td>
                    <td class="border">
                        <a>结算</a>
                        <div class="icon-line"></div>
                        <a>详情</a>
                        <div class="icon-line"></div>
                        <a>删除</a>
                    </td>
                    <td class="border"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div style="text-align: right;margin: 20px 20px 20px 0;">
        <span class="span-btn span-btn-bc confirm-active">提交审批</span>
        <span class="span-btn">保存</span>
        <span class="span-btn span-btn-bc confirm-active no-contract-cancel">取消</span>
    </div>
</div>