<div class="model-project-common">
    <div class="model-form" style="margin-bottom: 20px">
        <label class="bold-title label-block int-small11">职位名称:</label>
        <input type="text" class="int int-default" style="width: 364px">
    </div>
    <div class="model-form" style="margin-bottom: 20px">
        <label class="bold-title label-block int-small11"><i class="icon-fill-in">*</i>添加人员:</label>
        <input type="text" class="int int-default" style="width: 364px">
    </div>
    <div class="model-footer">
        <span class="span-btn">确认</span>
        <span class="span-btn span-btn-bc confirm-active">取消</span>
    </div>
</div>