<%- include('../layout/header') %>
<div class="modal-employee-add modal-employee-select">
    <div class="employee-select-section">
        <div class="company company-employee">
            <div class="company-header">xxxxxx</div>
            <div class="company-str">
                <ul class="level1">
                    <li>
                        <a>
                            <span class="open"></span>
                            <span class="select"></span>
                            <strong>懂事会</strong>
                        </a>
                        <ul class="sub">
                            <li>
                                <a>
                                    <span class="open"></span>
                                    <span class="select"></span>
                                    <strong>懂事会</strong>
                                </a>
                            </li>
                            <li>
                                <a>
                                    <span class="open"></span>
                                    <span class="select"></span>
                                    <strong>懂事会</strong>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <span class="open"></span>
                        <span class="select"></span>
                        <strong>技术部</strong>
                        <ul class="sub">
                            <li>
                                <span class="open"></span>
                                <span class="select"></span>
                                <strong>技术1</strong>
                                <ul class="sub">
                                    <li>
                                        <span class="open"></span>
                                        <span class="select"></span>
                                        <strong>自证</strong>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <span class="open"></span>
                        <span class="select"></span>
                        <strong>财务部</strong>
                    </li>
                    <li>
                        <span class="open"></span>
                        <span class="select"></span>
                        <strong>市场部</strong>
                    </li>
                </ul>
            </div>
        </div>
        <div class="company employee-result">
            <div class="company-header">选择结果</div>
            <div class="add-employee-results">
                <ul class="result">
                    <li>
                        <a>
                            <span class="result-active"></span>
                            <strong>白剑</strong>
                            <i></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="employee-footer">
        <span class="select-cancel">取消</span>
        <span class="select-confirm">确定</span>
    </div>
</div>