<div style="display: none;" class="table-content">
    <table>
        <thead>
        <tr>
            <th style="width: 45px;" class="border">
                <input type="checkbox" id="enterpriseCheck"/>
            </th>
            <th class="border" style="width: 45px;">序号</th>
            <th class="border">费用名称</th>
            <th class="border">工作内容</th>
            <th class="border" style="width: 60px;">单位</th>
            <th class="border" style="width: 60px;">均价</th>
            <th class="border" style="">合计金额</th>
            <th class="border" style="width: 70px;">价格动态</th>
            <th class="border" style="">不含税项</th>
            <th class="border" style="">含税项</th>
            <th class="border Competence" style="width: 80px;">操作</th>
        </tr>
        </thead>
        <tbody id="enterpriseLibrary">
        <!--<tr class="active">
            <td class="border">
                <input type="checkbox" />
            </td>
            <td class="border">1</td>
            <td class="border">
                <div>
                    住宅给排水.水路路洁具
                </div>
            </td>
            <td class="border">
                <div>
                    下水道,排水管,
                    厨房排水,房排水
                </div>
            </td>
            <td class="border small">m2</td>
            <td class="border">200.00</td>
            <td class="border">400000000.00</td>
            <td class="border">
                <a>查看</a>
            </td>
            <td class="border">3</td>
            <td class="border">0</td>
            <td class="border">
                <a>修改</a>
                <div class="icon-line"></div>
                <a>删除</a>
            </td>
        </tr>-->
        </tbody>
    </table>
</div>