<div class="materialManagerOrder" style="display: none;margin-top: 10px;">
    <div class="modal-form" style="padding: 0 20px">
        <div class="item" style="position: relative;padding: 20px 0">
            <div style="position: absolute;right: 0;top: 50%;margin-top: -15px;">
                <span class="span-btn background-list-gray biddingPlan" style="display: none;">中标编辑</span>
                <span class="span-btn background-list-gray">导出</span>
                <!--<span class="span-btn background-list-gray span-btn-bc cancel">退出</span>-->

            </div>
        </div>
        <div class="item">
            <label class="bold-title" style="font-size: 12px">计划人:</label>
            <input style="width: 70px;" disabled class="int int-default int-small106" name="planUser" />
            <label class="bold-title" style="font-size: 12px;margin-left: 15px;">招标发布人:</label>
            <input style="width: 70px;" class="int int-default int-small106" disabled name="prchUser" />
            <label class="bold-title" style="font-size: 12px;margin-left: 15px;">招标完成时间:</label>
            <input style="width: 150px;" type='date' class="int int-default int-small14" disabled name="planAppearTime" />
            <label class="bold-title" style="font-size: 12px;margin-left: 15px;position: relative;">预计资金:<span style="position: absolute;right: -100px;top: -2px;font-size: 14px;font-weight: normal;">元</span></label>
            <input class="int int-default int-small106" disabled name="planMoney" />
            <label class="bold-title" style="font-size: 12px;margin-left: 15px;position: relative;">招标总金额:<span style="position: absolute;right: -100px;top: -2px;font-size: 14px;font-weight: normal;">元</span></label>
            <input type="text" class="int int-default int-small106" disabled name="prchMoney" />
        </div>
    </div>
    <div class="table-content"
         style="margin: 0 20px;">
        <table>
            <thead>
            <tr class="small">
                <th style="width: 45px;" class="border">序号</th>
                <th style="min-width: 70px;" class="border">分部名称</th>
                <!--<th class="border">材料分类</th>-->
                <th style="min-width: 140px;" class="border">材料名称</th>
                <th style="min-width: 75px;" class="border">规格型号</th>
                <th style="min-width: 60px;" class="border">单位</th>
                <th style="min-width: 50px;" class="border">数量</th>
                <th style="min-width: 60px;" class="border">单价</th>
                <th style="min-width: 60px;" class="border">合价</th>
                <th style="min-width: 70px;" class="border">产地/品牌</th>
                <th style="min-width: 160px;" class="border">供货单位</th>
                <th style="min-width: 45px;" class="border">含税</th>
                <th class="border">说明</th>
                <th style="width: 70px;" class="border">异常备忘</th>
            </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
    <div style="text-align: right;
    margin: 10px 0px;
    padding: 10px 20px;
    border-top: 1px solid #e9e9e9;">
        <span class="span-btn directReport" style="display: none;">发布</span>
        <span class="span-btn span-btn-bc confirm-active cancel">取消</span>
    </div>
</div>
<div id="costOrderNo" style="text-align:center;margin-top:100px;display: none;">
    <div class="icon-uninformed"></div>
    <div style="margin: 10px 0;color: #5b5b5b;">没有符合当前条件的编辑项</div>
</div>